<?
# Figure out the URLs to the other featured product sub pages
$segments = explode("/", $_SERVER["REQUEST_URI"]);
$featuredUrlPrefix = '';
switch (Synergy_Utils::getChannelForEntry("{last_segment}", array(1,2))) {
    # If we're on a product page, we can just use the current URL
    case "products":
        $featuredUrlPrefix = $_SERVER['REQUEST_URI'];
        break;
    
    # If we're already on a featured product page, we need to strip the URL back
    # to not include this featured url portion.
    case "featured_product_pages":
        # Rebuild the URL without the featured url
        unset($segments[0]); # This is empty so remove
        unset($segments[count($segments)]); # This will be the featured url. 
        # Note the above line doesn't need -1 as we're unsetting an array element above it
        
        foreach ($segments as $segment) {
            $featuredUrlPrefix .= "/" . $segment;
        }
        break;

    default:
        // @todo 404
        break;
}
?>

{exp:channel:entries channel="products" url_title="{embed:product_url}" limit="1"}
<div class="additionalBlocks">
    <ul>
        {reverse_related_entries id="featured_product"}
        <li class="{switch='||third'} {if '{last_segment}' == url_title }active{/if}">
        	{if '{last_segment}' != url_title }
        	<h3><a href="<?=$featuredUrlPrefix?>/{url_title}">{title}</a></h3>
        	{if:else}
            <h3>{title}</h3>
            {/if}
            <p>{featured_content_intro}</p>
            {if '{last_segment}' != url_title }
            <a href="<?=$featuredUrlPrefix?>/{url_title}" class="readMore">Read More</a>
            {/if}
        </li>
        {/reverse_related_entries}
    </ul>
    <div class="clear"></div>
</div>
{/exp:channel:entries}