<div id="copy" class="news">

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li class="current"><a href="/news">News</a></li>
        </ul>

        <div class="main">
            <h1>News</h1>
        </div>
    </div>


    <ul class="newsList">
        <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
        {exp:channel:entries channel="news" limit="6" paginate="bottom" search:article_country="NZ|All"}
        <? else: ?>
        {exp:channel:entries channel="news" limit="6" paginate="bottom" search:article_country="AU|All"}
        <? endif; ?>
        {if no_results}{redirect='common/404'}{/if}
        <li class="{switch='first|second'}">
            <img src="{article_banner_image:article-list-thumb}" alt="{title}" />
            <h2>
                <a href="/news/{url_title}">{title}</a>
            </h2>
            <div class="excerpt">
                {exp:power_truncate length="200" cut_words="n" suffix="..." strip_markup="y"}
                {article_content}
                {/exp:power_truncate}
            </div>
            <a href="/news/{url_title}" class="readMore">Read More</a>
        </li>
		{if count == total_results}</ul>{/if}
        {paginate}
  
        <div class="pagination">
            <p>{pagination_links}</p>
        </div>
        {/paginate}
        {/exp:channel:entries}

    <div class="clear"></div>
</div>
