<div id="copy" class="newsDetail">
    {exp:channel:entries channel="news" url_title="{segment_2}"}
    {if no_results}{redirect='common/404'}{/if}
    <div class="topPageImage">
        <img src="{article_banner_image}" alt="{title}" />
    </div>

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li class="current"><a href="/news/{url_title}">{title}</a></li>
        </ul>

        <div class="main">
            <h1>{title}</h1>

            {article_content}

            <a href="/news" class="readMore">Back to news listings</a>
        </div>
    </div>
    {/exp:channel:entries}
</div>