{embed="Common/header"}
<div id="content" class="std">
    <div class="middle">
        <div id="sideBar" class="newsMenu">
            <h3>News</h3>

            <ul id="sideMenu">
                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                {exp:channel:entries channel="news" limit="6" paginate="bottom" search:article_country="NZ|All" dynamic="no"}
                <? else: ?>
                {exp:channel:entries channel="news" limit="6" paginate="bottom" search:article_country="AU|All" dynamic="no"}
                <? endif; ?>
                <li class="{if '{segment_2}' =='{url_title}'}current{/if}"><a href="/news/{url_title}">{title}</a> </li>
                {/exp:channel:entries}
            </ul>
        
            <hr />
            
            <h3>Newsletters</h3>
            <a class="newslettersLink{if segment_2 == 'newsletters'} current{/if}" href="/news/newsletters">View all</a>
            
        </div>
        
        {exp:switchee variable="{segment_2}"}

            {case value="''|#^P(\d+)$#"}
                {embed="News/article-list"}
            {/case}
            
            {case value="newsletters"}
                {embed="News/newsletter-list"}
            {/case}
            
            {case default="Yes"}
                {embed="News/article"}
            {/case}

        {/exp:switchee}

        
        <div class="clear"></div>
    </div>
</div>
        
{embed="Common/footer"}