<div id="copy" class="newsDetail">
    
    <div class="topPageImage">
        <img src="" alt="" />
    </div>

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li class="current"><a href="/news/newsletters">Newsletter List</a></li>
        </ul>

        <div class="main">
            <h1>Newsletters</h1>

            {exp:channel:entries channel="newsletters" dynamic="no" paginate="bottom" limit="10" search:newsletter_available_in="<?=Synergy_Utils::getSiteCountry()?>|All"}
            {if no_results}
            <p>There are currently no newsletters. Please check back soon.</p>
            {/if}
            <article class="newsletter">
                <h2><a href="{newsletter_pdf}" target="_blank">{title}</a></h2>
                <p>{newsletter_intro}
                <a href="{newsletter_pdf}" class="readMore" target="_blank">Click here to download</a>
                </p>
             </article>  
                {paginate}
                    <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
                {/paginate}
            
            {/exp:channel:entries}

        </div>
    </div>
     
</div>