@media handheld, only screen and (max-height:700px) {
    #homeBanner ul li img {
        max-width:1140px;   
    
    }
    
    #homeBanner ul li .cta {
        width:500px;    
    }
    
    #homeBanner ul li .cta h1 {
        font-size:48px;
        line-height:44px;
    }
    
    #homeBanner ul li h2 {
        font-size:28px; 
    }

    
    
}
@media handheld, only screen and (max-height:900px) {
.lt-ie8 #homeBanner ul li.top .cta {
    top:20%;
    }
    
    .lt-ie8 #homeBanner ul li.middle .cta {
        top:30%;
    }
    .lt-ie8 #homeBanner ul li.base .cta {
            bottom:45%;
    }
}

@media (max-height:791px) {
    #homeBanner ul li img {
        width:1140px !important;
        height:509px !important;
        left:auto;
        right:auto;
    }
    
    
    
}

@media handheld, only screen and (max-height:791px) {
    
    
.lt-ie9 #homeBanner ul li img  {
        width:1140px !important;
        height:509px !important;
}
}

@media (min-height:995px) {
    #homeTabs {
    
    }
    
    #homeBanner {
        
    }

}



@media handheld, only screen and (max-width: 1140px) {
    
#homeTabs.left {
    background-image:none
}

#homeTabs ul.middle li.activeSlide, #homeTabs ul.middle li:hover {
background-color: #47aa42;
}


#homeTabs.right {
    background-image:none
}

}


 @media all and (max-device-width: 640px)  {

}   


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
   #homeBanner ul li img {
        width:1180px !important;
        height:527px !important;
        left:auto;
        min-width:1180px !important;
        min-height:527px !important;
        right:auto;
    }
     
    #homeBanner ul li, #homeBanner ul, #homeBanner {
        height:627px !important;
        border-bottom:0px !important
    }
    
    #homeTabs {
        position:relative !important;   
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 #homeBanner ul li img {
        width:1180px !important;
        height:527px !important;
        left:auto;
        min-width:1180px !important;
        min-height:527px !important;
        right:auto;
    }
}

@media all and (max-device-width: 480px) {
     #homeBanner ul li img {
        width:1180px !important;
        height:527px !important;
        left:auto;
        min-width:1180px !important;
        min-height:527px !important;
        right:auto;
    }
    
        #homeBanner ul li {
            height:627px !important;    
        }
    
 #homeBanner ul, #homeBanner {
        height:627px !important;
        border-bottom:0px !important
    }   
    
    #homeTabs {
        position:relative !important;
        height: 174px !important;
    }

    header, body.home header {
        width:1180px;
        position:absolute;  
    }
}