<!-- Home page banner images -->
<div id="homeBanner">
    <span class="megaCover"></span>
    {exp:channel:entries channel="home_page" url_title="home-page"}
    <ul>
        {banners search:available_on="<?= Synergy_Utils::getSiteCountry() ?>|All"}
        {if whole_banner_link != ""}
        <a href="{whole_banner_link}">
        {/if}
        <li id="homeBanner{switch="Left|Middle|Right"}" class="{if text_position == "Top"}top{if:elseif text_position == "Middle"}middle{if:elseif text_position == "Bottom"}base{/if}" style="background-image:url({banner_image});">
            <div class="cta">
                {if banner_title != ""}<h1>{banner_title}</h1>{/if}
                {if banner_subtitle != ""}<h2>{banner_subtitle}</h2>{/if}
                {if link_location != "" AND link_text != ""}
                <a href="{link_location}" class="largeBtn bannerLink">
                    <span>{link_text}</span>
                </a>
                {/if}
            </div>
        </li>
        {if whole_banner_link != ""}
        </a>
        {/if}
       {/banners}
    </ul>
    {/exp:channel:entries}
</div>

<div id="homeBannerMobile">
    <!-- MOBILE -->
    {exp:channel:entries channel="home_page" url_title="home-page"}
    <ul class="banner-mobile">
        {banners search:available_on="<?= Synergy_Utils::getSiteCountry() ?>|All"}
        {if mobile_image}
        {if link_location != ""}
        <a href="{link_location}">
        {/if}
        <li id="homeBanner{switch="Left|Middle|Right"}" class="{if text_position == "Top"}top{if:elseif text_position == "Middle"}middle{if:elseif text_position == "Bottom"}base{/if}" style="background-image:url({mobile_image});"></li>
        {if link_location != ""}
        </a>
        {/if}
        {/if}
       {/banners}
    </ul>
    {/exp:channel:entries}
</div>
<!-- /Home page banner images -->


    
    <div id="homeContact">
        <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
        <a href="tel:0800-867-266" class="phone">0800 867 266</a> <a href="mailto:info@synergypositioning.co.nz" class="email">Email Us</a>
        <? else: ?>
        <a href="tel:0800-867-266" class="phone">1800 980 353</a> <a href="mailto:info@synergypositioning.com.au" class="email">Email Us</a>
        <? endif; ?>
    </div>    

    <div id="homeTabs">
        <ul class="middle">
            {exp:channel:entries channel="home_page" url_title="home-page"}
            {three_links_<?= strtolower(Synergy_Utils::getSiteCountry()) ?>}
            <li class="{switch="services|products|about"}" id="homeHoverPanel{switch="Left|Middle|Right"}">
                <a href="{link_location}" class="bannerLink">
                    <h3>{title}</h3>
                    <p>
                        {exp:power_truncate length="170" cut_words="y" suffix="..." strip_markup="y"}
                        {description}
                        {/exp:power_truncate}
                    </p>
                    <span class="readMore">{link_text}</span>
                </a>
                <span class="currentArrow"></span>
            </li>
            {/three_links_<?= strtolower(Synergy_Utils::getSiteCountry()) ?>}
            {/exp:channel:entries}
        </ul>
    </div>

    <div id="content">
        <div id="homeBlock">
            <ul class="middle">
                {exp:channel:entries channel="contact_us" limit="1"}
                <li class="contact <?= Synergy_Utils::getSiteCountry() == "NZ" ? "nz" : "aus" ?>">
                    <h3><a href="/contact-us" title="Contact Us">Contact Us</a></h3>
                    <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                        <h4>New Zealand</h4>
                    <? else: ?>
                        <h4>Australia</h4>
                    <? endif; ?>
                    <span class="subHead">- Synergy Positioning Systems Ltd</span>

                    <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                        {branches limit="1"}
                    <? else: ?>
                        {branches_au limit="1"}
                    <? endif; ?>
                    <ul>
                        {contact_information}
                        <li><strong>{contact_method}:</strong>  {exp:email_to_link}{contact_details}{/exp:email_to_link}</li>
                        {/contact_information}
                    </ul>
                    <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                        {/branches}
                    <? else: ?>
                        {/branches_au}
                    <? endif; ?>

                    <a href="/contact-us" class="readMore">Full contact details</a>
                </li>
                {/exp:channel:entries}

                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                    {exp:channel:entries channel="news" limit="1" search:article_country="NZ|All"}
                <? else: ?>
                    {exp:channel:entries channel="news" limit="1"  search:article_country="AU|All"}
                <? endif; ?>
                <li class="news">
                    <div class="postImage">
                        <a href="/news/{url_title}"><span class="cover"></span>
                            <h3>News</h3>
                            <img src="{article_banner_image:article-list-thumb}" alt="{title}" width="384" height="88" /></a>
                    </div>

                    <div class="postExcerpt">
                        <h4>{title}</h4>
                        <p>{exp:power_truncate length="205" cut_words="y" suffix="..." strip_markup="y"}{article_content}{/exp:power_truncate}</p>
                        <a href="/news/{url_title}" class="readMore">Read full article</a>
                    </div>
                </li>
                {/exp:channel:entries}

                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                    {exp:channel:entries channel="case_studies" limit="1" search:study_country="NZ|All"}
                <? else: ?>
                    {exp:channel:entries channel="case_studies" limit="1"  search:study_country="AU|All"}
                <? endif; ?>
                <li class="caseStudies">
                    <div class="postImage">
                        <a href="/case-studies/{categories limit="1"}{category_url_title}{/categories}/{url_title}"><span class="cover"></span>
                            <h3>Case Studies</h3>
                            <img src="{study_banner_image:case-study-list-thumb}" alt="{title}" width="384" height="88"  /></a>
                    </div>

                    <div class="postExcerpt">
                        <h4>{title}</h4>
                        <p>{exp:power_truncate length="170" cut_words="y" suffix="..." strip_markup="y"}{study_content}{/exp:power_truncate}</p>
                        <a href="/case-studies/{categories limit="1"}{category_url_title}{/categories}/{url_title}" class="readMore">Read full case study</a>
                    </div>
                </li>
                {/exp:channel:entries}


            </ul>
        </div>


    </div>