<? 
/**
 * Different forms for NZ/AU
 */
$formName = null;
if (Synergy_Utils::getSiteCountry() == "NZ") {
    $formName = "service_enquiry_form";
} else {
    $formName = "service_enquiry_form_au";
}
?>
<div id="enquireForm" class="sideForm">
    <h3>Your enquiry</h3>
    <div id="formErrors"></div>
    <div id="formSuccess" class="success_message" style="display:none;">
        <p>Thank you. We will get back to you as soon as possible.</p>
    </div>
    {exp:freeform:form 
    return="<?=$_SERVER['REQUEST_URI']?>" 
    form_name="<?=$formName?>"
    form:id="service_enquiry_form"
    required="full_name|company_name|email|user_message"}
    <ul>

        {freeform:all_form_fields}
        <li class="li_{freeform:field_name}">
            <label>{freeform:field_label}</label>
            <!-- place holder for ajax errors-->
            <div class="error_message"></div>
            {freeform:field_output}
        </li>
        {/freeform:all_form_fields}
        
        <li class="send">
            <input name="" type="submit" value="Send Enquiry" class="largeBtn" />
            <a href="#" class="hideForm readMore">Hide Form</a>
        </li>
    </ul>
    {/exp:freeform:form}
</div>