<h3>Services</h3>
<? 
# Due to having to regionalise this we need to handle this with php
$categories = Synergy_Utils::getNonEmptyCategoriesForRegion(2, Synergy_Utils::getSiteCountry()); 
$segments = explode("/", $_SERVER["REQUEST_URI"]);
?>
<ul id="sideMenu">
    <? foreach ($categories as $category): ?>
    <li class="depth1 firstChild <?= ("{segment_2}" == $category->cat_url_title) ? "current" : "" ?>">
        <a href="/services/<?=$category->cat_url_title?>">
            <?=$category->cat_name?>
        </a>
        
        <ul class="subMenu">
            {exp:channel:entries channel="services" category="<?=$category->cat_id?>" search:services_country="<?=Synergy_Utils::getSiteCountry()?>|All"}
            <li class="{if '{segment_3}' == '{url_title}'}current{/if}">
                <a href="/services/<?=$category->cat_url_title?>/{url_title}">
                    {title}
                </a>
            </li>
            {/exp:channel:entries}
        </ul>        
    </li>
    <? endforeach; ?>
</ul>


{embed="Services/_enquiry-form"}