{embed="Common/header"}
<div id="content" class="std">
    <div class="middle">
        <div id="sideBar">
            {embed="Services/_services-nav"}
        </div>

{if segment_2 == ""}
    {embed="Services/service-landing"}
{if:elseif last_segment_category_id != ""}
    {embed="Services/service-listing"}
{if:else}
    {embed="Services/service-page"}
{/if}


<div class="clear"></div>
    </div>
</div>
{embed="Common/footer"}