{exp:channel:categories show="{last_segment_category_id}"}
<div id="copy" class="services servicesDetail">
    <div class="topPageImage">
        <img src="{category_image}" alt="{category_name}" />
    </div>

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            {exp:cat_trail:get_cat_structure cat_id="{last_segment_category_id}" parse="inward"}
                <li {if {last_segment_category_id} == {category_id}}class="current"{/if}>
                    <a href="/services/{exp:cat_trail:get_cat_url cat_id='{category_id}'}">{category_name}</a>
                </li>
            {/exp:cat_trail:get_cat_structure}
        </ul>

        <div class="main">
            <h1>{category_name}</h1>
            <p class="intro">
                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                {category_description}                
                <? else: ?>
                {sc_cat_description_au}
                <? endif; ?>
            </p>
        </div>

    </div>

    <div class="additionalBlocks">
        <ul>
            {exp:channel:entries channel="services" category="{last_segment_category_id}" search:services_country="<?=Synergy_Utils::getSiteCountry()?>|All"}
                <li class="{switch="||third"}">
                    <h3><a href="/services/{last_segment}/{url_title}">{title}</a></h3>
                    <p>
                        {service_content limit="1"}
                            {exp:power_truncate length="250" cut_words="y" suffix="..." strip_markup="y"}
                            {content}
                            {/exp:power_truncate}
                        {/service_content}
                    </p>
                    <a href="/services/{last_segment}/{url_title}" class="readMore">Read More</a>
                </li>
            {/exp:channel:entries}
        </ul>
        <div class="clear"></div>
    </div>


</div>
{/exp:channel:categories}