<?
# We want to get the second to last segment of the URL to use in the breadcrumbs.
$segments = explode("/", $_SERVER["REQUEST_URI"]);
$secToLast = $segments[count($segments) - 2]; # -2 because index starts from 0 (count doesn't).

# And the second to last segment category ID for the related sibling categories
$segToLastSegmentCatId = Synergy_Utils::getCategoryIDFromURLTitle($secToLast);

# Get the last segment entry ID to exclude
$lastSegment = $segments[count($segments) - 1];
$currentEntryId = Synergy_Utils::getEntryIdForURLTitle($lastSegment);
?>
{exp:channel:entries channel="services" url_title="{last_segment}" limit="1"}
{if no_results}{redirect='common/404'}{/if}
<div id="copy" class="services servicesDetail">

    <div class="topPageImage">
        {if services_banner}<img src="{services_banner}" alt="{title}" width="866" /> {/if}
    </div>

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>

            {exp:cat_trail:get_cat_structure cat_url="<?= $secToLast ?>" parse="inward"}
            <li>
                <a href="/services/{exp:cat_trail:get_cat_url cat_id='{category_id}'}">{category_name}</a>
            </li>
            {/exp:cat_trail:get_cat_structure}
            <li>
                <span>{title}</span>
            </li>
        </ul>

        <div class="options servicesOptions">
            <a href="javascript:;" class="enquire largeBtn servicesEnquire">Enquire about this service</a>
        </div>
        
        <div class="main">
            <h1 class="productName">{title}</h1>
            {service_content}            
            {content}
            {/service_content}
        </div>

        
        {if services_downloads}
        <hr />
        {/if}
        <div class="tabs">
            <ul class="tabsNav">
                {if services_downloads}<li><a href="#first">Downloads</a></li>{/if}
                {if services_videos} <li><a href="#second">Videos</a></li>{/if}
            </ul>

            {if services_downloads}
            <div class="block" id="first">
                <h4>Services Downloads Section</h4>
                <ul class="table downloads">
                    {services_downloads}
                    {download_file}
                    <li>
                        <a href="/services/download/{file_name}" target="_blank">
                            <strong>{file_title}</strong>
                            <span>{exp:jiggabyte_format dec="0"}{file_size}{/exp:jiggabyte_format}</span>
                            <span>{extension}</span>
                        </a>
                    </li>
                    {/download_file}
                    {/services_downloads}
                </ul>
            </div>
            {/if}

            {if services_videos}
            <div class="block" id="second">
                {services_videos}
                <h4>{video_heading}</h4>
                {if video_embed_url}
                <iframe width="410" height="231" src="{video_embed_url}" allowfullscreen></iframe>
                {/if}
                {video_description}
                {/services_videos}
            </div>
            {/if}
        </div>
    </div>
    
    <div class="additionalBlocks">
        {if related_case_studies:total_children}
        {if services_downloads == ""}
        <hr />
        {/if}
        <h2>Related Case Studies</h2>
        <ul>
            {related_case_studies disable="member_data|pagination"}
            <li class="{switch="||third"}">
                    <h3><a href="/case-studies/{categories limit="1"}{category_url_title}{/categories}/{url_title}">{title}</a></h3>
                    <p>
                        {exp:power_truncate length="250" cut_words="y" suffix="..." strip_markup="y"}
                        {study_content}
                        {/exp:power_truncate}
                    </p>
                    <a href="/case-studies/{categories limit="1"}{category_url_title}{/categories}/{url_title}" class="readMore">Read More</a>
                </li>
            {/related_case_studies}          
        </ul>
        <div class="clear"></div>
        {/if}
    </div>
</div>
{/exp:channel:entries}