<?
$EE = &get_instance();
# Get the last segment, used to look up 
$lastSegment = end($EE->uri->segment_array());
$categoryId = Synergy_Utils::getCategoryIDFromURLTitle($lastSegment);

$categories = Synergy_Utils::getNotEmptyChildProductCategory($categoryId, Synergy_Utils::getSiteCountry());
?>



<? foreach ($categories as $category): ?>
    <div class="productsBlock">
        <h2><?=$category->cat_name?></h2>

        <a href="/products/{exp:cat_trail:get_cat_url cat_id='<?=$category->cat_id?>'}" class="browseAll">
            Browse all <?=$category->cat_name?> sub-categories and products
        </a>

        <!-- Output Product Block For This Category -->
        <ul class="listings">
            {embed="Products/_category-listing-products-blocks" cat_id="<?=$category->cat_id?>" cat_name="<?=$category->cat_url_title?>" cat_trail="{exp:cat_trail:get_cat_url cat_id='<?=$category->cat_id?>'}"}                            
        </ul>
    </div>            
<? endforeach; ?>