
<? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
{exp:low_reorder:entries set="{embed:cat_name}" fallback="yes" channel="products" category="{embed:cat_id}" search:product_country="NZ|All" dynamic="no"}
<? else: ?>
{exp:low_reorder:entries set="{embed:cat_name}" fallback="yes" channel="products" category="{embed:cat_id}" search:product_country="AU|All" dynamic="no"}
<? endif; ?>
{if no_results}
    <li>No products in this category.</li>
{/if}
<li class="{switch='first|second|third|fourth|fifth'}">
    
    <!-- Product Image -->
    <a href="/products/{embed:cat_trail}/{url_title}" title="{title} - Click here for product detail." class="image">
        <div class="imageContainer"></div>
        {product_images limit="1"}
            <img src="{product_image}" alt="{title}" />
        {/product_images}
    </a>
    
    <!-- Product Details -->
    <div class="shortDetail">
        <a href="/products/{embed:cat_trail}/{url_title}" class="productTitle productName" title="{title} - Click here for product detail.">{title}</a>
        
        <p>{product_short_description}</p>

        <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
        {product_prices search:currency="NZD"}
	{if '{amount}' != '' && '{amount}' != '0'}
        <span class="price">${amount} <small>{currency}</small></span>
	{/if}
        {/product_prices}
        <? else: ?>
        {product_prices search:currency="AUD"}
	{if '{amount}' != '' && '{amount}' != '0'}
        <span class="price">${amount} <small>{currency}</small></span>
	{/if}
        {/product_prices}
        <? endif; ?>
    </div>

    <!-- Enquire/Rent Links -->
    <div class="shortOptions">
        <a href="/products/{embed:cat_trail}/{url_title}" class="viewProducts">View Product</a>
    </div>
</li>
{/exp:low_reorder:entries}