<?
# We want to get the second to last segment of the URL to use in the breadcrumbs.
$segments = explode("/", $_SERVER["REQUEST_URI"]);
$secToLast = $segments[count($segments) - 2]; # -2 because index starts from 0 (count doesn't).
?>

<? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
{exp:channel:entries channel="products" limit="1" url_title="{last_segment}" search:product_country="NZ|All" dynamic="no"}
<? else: ?>
{exp:channel:entries channel="products" limit="1" url_title="{last_segment}" search:product_country="AU|All" dynamic="no"}
<? endif; ?>

{if no_results}
    {redirect='common/404'}
{/if}
<div class="main">
    <div class="topProductInformation">
        <div class="top">
            <h1 class="productName">{title}</h1>
            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                {product_prices search:currency="NZD"}
                {if '{amount}' != '' && '{amount}' != '0'}
                <span class="price">${exp:number_format}{amount}{/exp:number_format} <small>{currency}</small></span>
                {/if}
                {/product_prices}
            <? else: ?>
                {product_prices search:currency="AUD"}
                {if '{amount}' != '' && '{amount}' != '0'}
                <span class="price">${exp:number_format}{amount}{/exp:number_format} <small>{currency}</small></span>
                {/if}
                {/product_prices}
            <? endif; ?>
                
        {related_entries id="manufacturer"}
        <div class="logo">
            <img src="{manufacturer_product_page_image}" alt="{title}" />
        </div> 
        {/related_entries}
        
        </div>

        <div class="options">
            <a href="#" class="enquire largeBtn">Enquire about this product</a>
            {if disable_product_rental != "Yes"}
            <a href="#" class="rent largeBtn">Rent this product</a>
            {/if}
        </div>
        

        <div class="description">
            {product_description}
        </div>

    </div>

    <div class="productMedia">
        <span class="imageCover"></span>
        <ul id="productImageGallery">
            {product_images}
            <li style="{if total_rows != 1}display:none;"{/if}><a href="javascript:;" title="{title}"><img src="{product_image}" alt="{title}" /></a></li>
            {/product_images}
        </ul>
        
    </div>

    <div class="options-mobile">
        <a href="#" class="enquire largeBtn">Enquire about this product</a>
        {if disable_product_rental != "Yes"}
        <a href="#" class="rent largeBtn">Rent this product</a>
        {/if}
    </div>

    <div class="productInformation">

        <div class="tabs">
        <ul class="tabsNav">
            <li><a href="#first">Technical Specifications</a></li>
            <li><a href="#second">Downloads</a></li>
            {if product_videos} <li><a href="#third">Videos</a></li> {/if}
            {if disable_product_rental != "Yes"}
            <li><a href="#fourth">Rental</a></li>
            {/if}
        </ul>


        <!-- Technical Specifications Tab -->
        <div class="block" id="first">
            {technical_specifications}
            <h4>{section_title}</h4>

            <ul class="table specs">
                {specification_details}
                <li><strong>{specification_name}:</strong> <span>{specification_value}</span></li>
                {/specification_details}
            </ul>
            {/technical_specifications}
        </div>

        <div class="block" id="second">
            <h4>Product Downloads Section</h4>
            <ul class="table downloads">
                {product_downloads}
                {download_file}
                <li>
                    <a href="/products/download/{file_name}" target="_blank" class="trackDownload" data-trackname="{file_title}" data-tracktype="Product Document Download">
                        <strong>{file_title}</strong>
                        <span>{exp:jiggabyte_format dec="0"}{file_size}{/exp:jiggabyte_format}</span>
                        <span>{extension}</span>
                    </a>
                </li>
                {/download_file}
                {/product_downloads}
            </ul>
        </div>

        <div class="block" id="third">
            {product_videos}
            <h4>{video_heading}</h4>
            {if video_embed_url}
            <iframe width="410" height="231" src="{video_embed_url}" allowfullscreen></iframe>
            {/if}
            {video_description}
            {/product_videos}
        </div>
        {if disable_product_rental != "Yes"}
        <div class="block" id="fourth">
            {rental_sections}
            <h4>{rental_heading}</h4>
            {rental_content}
            {/rental_sections}

            <ul class="table rental">

                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                    {rental_pricing_nz search:currency="NZD"}
                    <li><strong>{rental_duration_nz}</strong> <span>${rental_pricing_nz} NZD</span></li>
                    {/rental_pricing_nz}
                <? else: ?>
                    {rental_pricing_au search:currency="AUD"}
                    <li><strong>{rental_duration_au}</strong> <span>${rental_pricing_au} AUD</span></li>
                    {/rental_pricing_au}
                <? endif; ?>
            </ul>

        </div>
        {/if}
    </div>

    </div>

</div>

{/exp:channel:entries}