<?
# We want to get the second to last segment of the URL to use in the breadcrumbs.
$segments = explode("/", $_SERVER["REQUEST_URI"]);
$last = $segments[count($segments) - 1]; # -1 because index starts from 0 (count doesn't).
$secToLast = $segments[count($segments) - 2]; # -2 because index starts from 0 (count doesn't).

# Category segment to match on is normally the last segment.
$catSegment = $last;

# If we get a channel back when checking the last segment , we're on a product page.
# So we'll use the second to last segment instead.
if (Synergy_Utils::getChannelForEntry($last, array(1,2))) {
    $catSegment = $secToLast;
}

?>

<h3>Products</h3>
{exp:gwcode_catmenu group_id="1" country="<?=Synergy_Utils::getSiteCountry()?>" cat_url_title="<?=$catSegment?>" id="sideMenu" entry_count="yes" show_empty="no" orderby="cat_name" sort="desc"}
<a href="/products/{complete_path}" {if active} class="active"{/if}>
    {cat_name}
</a>
{/exp:gwcode_catmenu}

{embed="Products/_enquiry-form"}
{embed="Products/_rental-form"}