<div class="block" id="second">
    <h4>Product Downloads Section</h4>
    <ul class="table downloads">
        {product_downloads}
        {download_file}
        <li>
            <strong>{file_title}</strong>
            <span><?= Synergy_Utils::parseFileSize("{file_size}"); ?></span>
            <span>{extension}</span>
        </li>
        {/download_file}
        {/product_downloads}
    </ul>
</div>