<?
$currentCat = Synergy_Utils::getCategoryForLastSegment();
if ($currentCat) {
    $topLevelProductCategories = Synergy_Utils::getProductCatChildren($currentCat->cat_id, Synergy_Utils::getSiteCountry());
} 

# Not on a category page (so on products landing page). Get top level cats.
else {
    # Get all of the top level product categories that have products available in this region
    $topLevelProductCategories = Synergy_Utils::getNonEmptyProductCategoriesForRegion(Synergy_Utils::getSiteCountry(), true);
}

?>
<div id="content" class="std productsSection">
    <div class="middle">
        <div id="sideBar">
            {embed="Products/_product-nav"}
        </div>

        <div id="copy" class="categoryListing baseFix">
            <ul id="featureSlider">
                
                <?
                /**
                 * If we're on a sub category page we want to search for a banner 
                 * channel entry that is set up for this category. Otherwise go
                 * to the default one
                 */
                $bannerSearch = 'url_title="product-page-banners"';
                if ($currentCat) {
                    $bannerSearch = 'category="' . $currentCat->cat_id . '" limit="1"';
                }                
                ?>
                
                {exp:channel:entries channel="product_page_banners" <?=$bannerSearch?>}
                {product_banner_images search:banner_available="<?=Synergy_Utils::getSiteCountry()?>|All"}
                <li>
                    <a href="{if banner_link == ''}javascript:;{if:else}{banner_link}{/if}">
                        <img src="{banner_image}" title="{banner_title}" alt="{banner_title}" />
                    </a>
                </li>
                {/product_banner_images}
                {/exp:channel:entries}
            </ul>
            {exp:channel:entries channel="product_page_banners" <?=$bannerSearch?>}
            {if product_banner_images:total_rows > 1}
            <span class="leftArrow"></span>
            <span class="rightArrow"></span>
            {/if}
            {/exp:channel:entries}

            <div class="inner">

                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/products">Products</a></li>
                </ul>
                
                <? /* We added the ability for this page to be usable for first AND second level cats */ ?>
                <h1><?=($currentCat ? $currentCat->cat_name : "Products")?></h1>

                <!-- Product top level categories output -->
                <ul id="nav_categories" class="listings">
                <? foreach ($topLevelProductCategories as $category): ?>
                <li>
                    <!-- Category title -->
                    <h2>
                        <? if ($currentCat): ?>
                        <a href="/products/{segment_2}/<?=$category->cat_url_title?>"><?=$category->cat_name?></a>
                        <? else: ?>
                        <a href="/products/<?=$category->cat_url_title?>"><?=$category->cat_name?></a>
                        <? endif; ?>
                    </h2>
                    
                    <!-- Category image -->
                    <div class="image">
                        <? if ($currentCat): ?>
                        <a href="/products/{segment_2}/<?=$category->cat_url_title?>" class="imageContainer"></a>
                        <? else: ?>
                        <a href="/products/<?=$category->cat_url_title?>" class="imageContainer"></a>
                        <? endif; ?>
                        
                        <? if ($category->cat_image != "" && Synergy_Utils::getSiteCountry() == "NZ"): ?>
                        <img src="<?=Synergy_Utils::parseFileField($category->cat_image)?>" alt="<?=$category->cat_name?>"  width="156" height="213" />
                        <? elseif ($category->field_id_13 != ""): ?>
                        <img src="<?=$category->field_id_13?>" alt="<?=$category->cat_name?>"  width="156"  height="213" />
                        <? else: ?>
                        <img src="/templates/common/images/temp/cat-image.jpg" alt="<?=$category->cat_name?>"  width="156"  height="213" />
                        <? endif; ?>
                    </div>

                    <!-- Category description -->
                    <div class="excerpt">
                        <p><?=$category->cat_description?></p>
                        
                        <? if ($currentCat): ?>
                        <a href="/products/{segment_2}/<?=$category->cat_url_title?>" class="viewProducts">View Products</a>
                        <? else: ?>
                        <a href="/products/<?=$category->cat_url_title?>" class="viewProducts">View Products</a>
                        <? endif; ?>
                    </div>
                </li>
                <? endforeach; ?>
		</ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>          