<?
$EE = &get_instance();
# Get the last segment, used to look up 
$lastSegment = end($EE->uri->segment_array());
$categoryId = Synergy_Utils::getCategoryIDFromURLTitle($lastSegment);
$currentCatChildren = Synergy_Utils::getProductCatChildren($categoryId, Synergy_Utils::getSiteCountry());

?>
<div id="content" class="std productsSection">
    <div class="middle">
        <div id="sideBar">
            {embed="Products/_product-nav"}
        </div>

        <div id="copy" class="productListing baseFix categoryListing">

            <? if ($categoryId): ?>
            <ul id="featureSlider">
                
                <?
                /**
                 * If we're on a sub category page we want to search for a banner 
                 * channel entry that is set up for this category. Otherwise go
                 * to the default one
                 */
                $bannerSearch = 'url_title="product-page-banners"';
                if ($categoryId) {
                    $bannerSearch = 'category="' . $categoryId . '" limit="1"';
                }                
                ?>
                
                {exp:channel:entries channel="product_page_banners" <?=$bannerSearch?>}
                {product_banner_images search:banner_available="<?=Synergy_Utils::getSiteCountry()?>|All"}
                <li>
                    <a href="{if banner_link == ''}javascript:;{if:else}{banner_link}{/if}">
                        <img src="{banner_image}" title="{banner_title}" alt="{banner_title}" />
                    </a>
                </li>
                {/product_banner_images}
                {/exp:channel:entries}
            </ul>
            {exp:channel:entries channel="product_page_banners" <?=$bannerSearch?>}
            {if product_banner_images:total_rows > 1}
            <span class="leftArrow"></span>
            <span class="rightArrow"></span>
            {/if}
            {/exp:channel:entries}
            <? endif; ?>
            
            <div class="inner">
                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    {exp:cat_trail:get_cat_structure cat_id="{last_segment_category_id}" parse="inward" orderby="cat_name" sort="asc"}
                    <li {if {last_segment_category_id} == {category_id}}class="current"{/if}>
                        <a href="/products/{exp:cat_trail:get_cat_url cat_id='{category_id}'}">{category_name}</a>
                    </li>
                    {/exp:cat_trail:get_cat_structure}
                </ul>

                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                    <span class="note">{nz_gst_message}</span>
                <? else: ?>
                    <span class="note">{au_gst_message}</span>
                <? endif; ?>

                <h1>{last_segment_category_name}</h1>


                <!-- Outputs catNav UL -->
                {exp:gwcode_categories country="<?=Synergy_Utils::getSiteCountry()?>" cat_id="{last_segment_category_id}" incl_self="no" show_empty="no" class="catNav" max_depth="3"}
                <a href="/products/{complete_path}">{cat_name}</a>
                {/exp:gwcode_categories}

                <? 
                /**
                 * Specifically for the Machine Control category, the client has
                 * requested we show the sub-sub categories (so instead of being
                 * broken down into just 2d, 3d etc, we want to have all the sub-
                 * categories of these to show instead.
                 * 
                 * @see http://gitlab.96black.co.nz/synergy-positioning-systems-website/issues/808
                 * @author <james@96black.co.nz> James McFall
                 */
                if ($lastSegment == "machine-control") {
                    $tmpArray = array();
                    
                    # For each of the children (i.e. 2D, 3D, Add-ons).
                    foreach ($currentCatChildren as $currentCatChild) {
                        
                        # Build up a temp array of the children, So Agriculture 2d, Asphalt Paving - 2d etc
                        $tmpArray = array_merge($tmpArray,
                                Synergy_Utils::getProductCatChildren($currentCatChild->cat_id, Synergy_Utils::getSiteCountry()));
                    }
                    
                    # Now override the category display below to show these children instead.
                    $currentCatChildren = $tmpArray;
                }
                ?>
                
                <? if (count($currentCatChildren) > 0): ?>
                
                    <? foreach ($currentCatChildren as $childCat): ?>
                    <div class="productsBlock">
                        <h2><?=$childCat->cat_name?></h2>

                        <a href="/products/{exp:cat_trail:get_cat_url cat_id='<?=$childCat->cat_id?>'}" class="browseAll">
                            Browse all <?=$childCat->cat_name?> sub-categories and products
                        </a>

                        <!-- Output Product Block For This Category -->
                        <ul class="listings">
                            {embed="Products/_category-listing-products-blocks" cat_id="<?=$childCat->cat_id?>" cat_name="<?=$childCat->cat_url_title?>" cat_trail="{exp:cat_trail:get_cat_url cat_id='<?=$childCat->cat_id?>'}"}                            
                        </ul>
                    </div>                    
                    <? endforeach; ?>
                    
                <? else: ?>
                    <div class="productsBlock">
                        <!-- Output Product Block For This Category -->
                        <ul class="listings">
                            {embed="Products/_category-listing-products-blocks" cat_id="{last_segment_category_id}" cat_name="{last_segment}" cat_trail="{exp:cat_trail:get_cat_url cat_id='{last_segment_category_id}'}"}                            
                        </ul>
                    </div>                    
                <? endif; ?>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>