<?
# We want to get the second to last segment of the URL to use in the breadcrumbs.
$segments = explode("/", $_SERVER["REQUEST_URI"]);
$productSegment = $segments[count($segments) - 2]; # -2 because index starts from 0 (count doesn't).
$categorySegment = $segments[count($segments) - 3]; # -3 because index starts from 0 (count doesn't).
?>
<div id="content" class="std productsSection">
    <div class="middle">
        <div id="sideBar">
            {embed="Products/_product-nav"}
        </div>

        <div id="copy" class="productDetail featured subPage">

            <div class="inner">

                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    {exp:cat_trail:get_cat_structure cat_url="<?= $categorySegment ?>" parse="inward"}
                    <li>
                        <a href="/products/{exp:cat_trail:get_cat_url cat_id='{category_id}'}">{category_name}</a>
                    </li>
                    {/exp:cat_trail:get_cat_structure}
                    
                    {exp:channel:entries channel="products" limit="1" url_title="<?=$productSegment?>"}
                    <li>
                        <a href="/products/{exp:cat_trail:get_cat_url cat_url='<?=$categorySegment?>'}/{url_title}">{title}</a>
                    </li>
                    {/exp:channel:entries}
                    {exp:channel:entries channel="featured_product_pages" limit="1" url_title="{last_segment}" dynamic="no"}
                    <li>{title}</li>
                    {/exp:channel:entries}
                </ul>

                <span class="note">* Please note all prices exclude GST</span>

                <div class="topProductInformation">
                    {exp:channel:entries channel="featured_product_pages" limit="1" url_title="{last_segment}" dynamic="no"}
                    
                    <div class="top">
                        <h1>{title}</h1>
                        <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                            {featured_subpage_product_prices search:currency="NZD"}
                             {if '{amount}' != '' && '{amount}' != '0'}
                            <span class="price">${amount} <small>{currency}</small></span>
                            {/if}
                            {/featured_subpage_product_prices}
                        <? else: ?>
                            {featured_subpage_product_prices search:currency="AUD"}
                             {if '{amount}' != '' && '{amount}' != '0'}
                            <span class="price">${amount} <small>{currency}</small></span>
                            {/if}
                            {/featured_subpage_product_prices}
                        <? endif; ?>
                    </div>
                    
                    
                    <div class="options">
                        <a href="#" class="enquire largeBtn">Enquire about this product</a>
                         {if disable_product_sub_rental != "Yes"}
                        <a href="#" class="rent largeBtn">Rent this product</a>
                        {/if}
                    </div>
					{/exp:channel:entries}
                    <div class="main">
                        {exp:channel:entries channel="featured_product_pages" limit="1" url_title="{last_segment}" dynamic="no"}
                            
                        {featured_content}
                            {content}<hr />
                        {/featured_content}
                        
                        {/exp:channel:entries}
                    </div>
                </div>
            </div>

            {embed="Featured-products/page-intros" product_url="<?=$productSegment?>"}

        </div>
        <div class="clear"></div>
    </div>
</div>