<?
# We want to get the second to last segment of the URL to use in the breadcrumbs.
$segments = explode("/", $_SERVER["REQUEST_URI"]);
$secToLast = $segments[count($segments) - 2]; # -2 because index starts from 0 (count doesn't).
?>
<div id="content" class="std productsSection">
    <div class="middle">
        <div id="sideBar">
            {embed="Products/_product-nav"}
        </div>
<? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
{exp:channel:entries channel="products" limit="1" url_title="{last_segment}" search:product_country="NZ|All" dynamic="no"}
<? else: ?>
{exp:channel:entries channel="products" limit="1" url_title="{last_segment}" search:product_country="AU|All" dynamic="no"}
<? endif; ?>
        {if no_results}{redirect='common/404'}{/if}

        <div id="copy" class="productDetail featured">

            <!-- The featured products banner -->
            {if is_featured_product == "Yes"}
            <ul id="featureSlider">
                {featured_carousel_images}
                <li>
                    <a href="#">
                        <img src="{featured_banner_image}" title="{featured_banner_description}" alt="{featured_banner_description}" />
                    </a>
                </li>
                {/featured_carousel_images}
            </ul>
            <span class="leftArrow"></span>
            <span class="rightArrow"></span>
            {/if}


            <div class="inner">
                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    {exp:cat_trail:get_cat_structure cat_url="<?= $secToLast ?>" parse="inward"}
                    <li>
                        <a href="/products/{exp:cat_trail:get_cat_url cat_id='{category_id}'}">{category_name}</a>
                    </li>
                    {/exp:cat_trail:get_cat_structure}
                    <li>
                        <span>{title}</span>
                    </li>
                </ul>

                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                    <span class="note">{nz_gst_message}</span>
                <? else: ?>
                    <span class="note">{au_gst_message}</span>
                <? endif; ?>

                {embed="Products/_featured_description"}

            </div>

            <!-- Featured product sub-pages -->
            {if is_featured_product == "Yes"}
            {embed="Featured-products/page-intros" product_url="{url_title}"}
            {/if}

            {/exp:channel:entries}
            <div class="clear"></div>
        </div>
    </div>
</div>