<div id="enquireForm" class="sideForm">
    <h3>Send us a message</h3>
    
    {if segment_2 != ""}
    <div class="success_message">
    <p>
        Thank you, your submission has been accepted. We will get back to you as
        soon as we can.
    </p>
    </div>
    {/if}
    
    {exp:freeform:form 
    return="contact-us/index/%%entry_id%%" 
    inline_errors="yes" 
    form_name="contact"
    required="full_name|email|user_message"}
        <ul>
            
            <!-- Full name field -->
            <li>
                <label>{freeform:label:full_name} *</label>
                {if freeform:error:full_name}
                <div class="error_message">
                    <p>{freeform:error:full_name}</p>
                </div>
                {/if}
                {freeform:field:full_name}
            </li>
            
            <!-- Company name field -->
            <li>
                <label>{freeform:label:company_name}</label>
                {if freeform:error:company_name}
                <div class="error_message">
                    <p>{freeform:error:company_name}</p>
                </div>
                {/if}
                {freeform:field:company_name}
            </li>
            
            <!-- Email field -->
            <li>
                <label>{freeform:label:email} *</label>
                {if freeform:error:email}
                <div class="error_message">
                    <p>{freeform:error:email}</p>
                </div>
                {/if}
                {freeform:field:email}
            </li>
            
            <!-- Phone field -->
            <li>
                <label>{freeform:label:phone_number}</label>
                {if freeform:error:phone_number}
                <div class="error_message">
                    <p>{freeform:error:phone_number}</p>
                </div>
                {/if}
                {freeform:field:phone_number}
            </li>
            
            <!-- Message field -->
            <li>
                <label>{freeform:label:user_message} *</label>
                {if freeform:error:user_message}
                <div class="error_message">
                    <p>{freeform:error:user_message}</p>
                </div>
                {/if}
                {freeform:field:user_message}
            </li>
            
            <li class="send">
                <input name="submit" type="submit" value="Send Message" class="largeBtn" />
            </li>
                
            
        </ul>
    {/exp:freeform:form} 
</div>