{embed="Common/header"}
<div id="content" class="std contact">
    <div class="middle">
        <div id="sideBar">
            {embed="Contact-us/_contact-form"}
        </div>
        {exp:channel:entries channel="contact_us" url_title="contact-us" dynamic="no"}
        
        <div id="copy" class="contact">
            <div id="mapCanvas" class="topMap <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>NZMap<? else: ?>AUSMap<? endif; ?>">
                
            </div>

            
            <div class="inner">

                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/contact-us">Contact Us</a></li>
                </ul>

                
                <div class="main">
                    <h1>Contact Us</h1>
                    <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                    {contact_introduction}
                    <? else: ?>
                    {contact_introduction_au}
                    <? endif; ?>
                </div>

            </div>
            
            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
            {branches}
            <? else: ?>
            {branches_au}
            <? endif; ?>
            
            <div class="location current">
                <h2>{branch_region}</h2>
               
                <ul class="first">
                    {contact_information}
                    <li>
                        <strong>{contact_method}:</strong>
                        <span>{exp:email_to_link}{contact_details}{/exp:email_to_link}</span>
                    </li>
                    {/contact_information}
                </ul>

                <ul class="second">
                    {if physical_address != ""}
                    <li class="physicalAddress">
                        <strong>Physical Address:</strong> 
                        <span>{physical_address}</span>
                    </li>
                    {/if}
                    <li>
                        <strong>Operating Hours:</strong>
                        <span>{operating_hours}</span>
                    </li>
                </ul>

                <ul class="third">
                    {if postal_address != ""}
                    <li>
                        <strong>Postal Address:</strong>
                        <span>{postal_address}</span>
                    </li>
                    {/if}
                </ul>
                <div class="clear"></div>
            </div>
            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
            {/branches}
            <? else: ?>
            {/branches_au}
            <? endif; ?>
            
            
            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
            {if contact_lower_content}<div class="inner">{contact_lower_content}</div>{/if}
            <? else: ?>
            {if contact_lower_content_au}<div class="inner">{contact_lower_content_au}</div>{/if}
            <? endif; ?>
            
            
        </div>
        <div class="clear"></div>
        {/exp:channel:entries}
    </div>
</div>

{embed="Common/footer"}