::-moz-selection{ background: #009bc9; color:#fff; text-shadow: none; }
::selection { background:#009bc9; color:#fff; text-shadow: none; } 


a, a:active {
	outline: none;
	-webkit-transition: color .2s linear;  
    -moz-transition: color .2s linear;  
    -o-transition: color .2s linear;  
    -ms-transition: color .2s linear;  
    transition: color .2s linear;
}

a:focus{
	-moz-outline-style: none;
}

a:active, a:selected, a:visited { 
    border: none;
    outline: none;
}

.clear {
	clear:both;	
}
 
html, body {
	margin:0px !important;
	padding:0px !important;
	height: 100%;
	width: 100%;
	min-width:1140px;
	background-color:#fff;
}

#wrapper {
	height:100%;
	background-color:#fff;
}


/*-- Header --*/


header {
	display:block;	
	width:100%;
	height:116px;
	background-image:url(../images/header-bg.png);
	background-repeat:repeat-x;
	background-position:0px 0px;
	position:fixed;
	z-index:888;
}

.middle {
	display:block;
	width:1140px;
	
}

header .middle {
	height:116px;	
	position:relative;
	margin:0px auto 0px auto;
}

header #logo {
	position:absolute;
	top:10px;
	left:0px;
	display:block;
	width:243px;
	height:75px;
}

header .search {
	display:block;
	width:278px;
	height:28px;	
	left:296px;
	position:absolute;
	top:10px;
}

header .search form {
	margin:0px;
	padding:0px;	
}

header .search form input.text {
	display:inline-block;
	width:234px;
	font-size:11px;
	color:#7e8182;
	padding-left:10px;
	float:left;
	height:24px;
	border:1px solid #dbdbdb;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;	
}

header .search form input.submit {
	display:inline-block;
	float:right;
	width:31px;
	height:28px;
	border:1px solid #dbdbdb;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	
	background-color:#fafafa;
	border-left:0px;
	background-image:url(../images/top-search-icon.png);
	background-repeat:no-repeat;
	background-position:6px 4px;
}

header .search form input.submit:hover {
	background-color:#fff;
}

header .contact {
	position:absolute;
	top:10px;
	right:0px;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
}

header .contact ul {
	margin:0px;
	padding:0px;
	list-style:none;	
}

header .contact ul li {
	display:inline-block;
	color:#0c0b09;	
	text-transform:uppercase;
	font-size:14px;
	padding-top:4px;
	height:21px;
}

header .contact ul li.phone {
	background-image:url(../images/top-phone-icon.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:35px;
}

header .contact ul li.email {
	background-image:url(../images/top-email-icon.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:35px;
	margin-left:20px;
}

header .contact ul li.email a {
	color:#0c0b09;
	text-decoration:none;
}	

header .contact ul li.email a:hover {
	color:#47aa42;
}	

header nav {
	display:block;	
	width:844px;
	position:absolute;
	bottom:0px;
	height:44px;

	left:296px;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
}

header nav ul {
	margin:0px;
	padding:0px;
	list-style:none;	
	position:relative;
}

header nav ul li {
	display:inline-block;
	list-style:none;
	font-size:14px;
	width:17.48%;
	text-transform:uppercase;	
	height:44px;
}

header nav ul li.lastChild, header nav ul li:last-child {
	margin-right:0px;	
	width:auto;
}

header nav ul li a, header nav ul li a:visited {
	color:#7e8182;
	text-decoration:none;	
}

header nav ul li a:hover, header nav ul li.current a, header nav ul li:hover a, header nav ul li.sfhover a {
	color:#47aa42;
	text-decoration:none;
}



/*-- Mega Menu --*/

header nav ul li .megaMenu {
	display:none;
	background-color:#fff;
	width:1100px;	
	padding:20px;
	position:absolute;
	left:-296px;
	top:40px;
	background-image:url(../images/mega-menu-bg.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;
	-webkit-box-shadow: 0px 3px 5px 0px #494949;
	box-shadow: 0px 3px 5px 0px #494949;
	z-index:4;
}

header nav ul li .megaMenu .featuredProducts {
	width:302px;
	display:block;
	margin-right:40px;
	float:left;
}

header nav ul li .megaMenu .featuredProducts h3 {
	display:block;
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:16px 19px;
	font-size:20px;
	margin:0px 0px 26px 0px;
	padding:19px 0px 20px 46px;
	color:#FFF;
	text-transform:none;
	font-family:"flamablack", Arial Black, Gadget, sans-serif;
	font-weight:normal;
	font-style:italic;
	min-height:20px;
	background-color:#3c3c3c;
}

header nav ul li .megaMenu .featuredProducts ul {
	display:block;
	list-style:none;	
}

header nav ul li .megaMenu .featuredProducts ul li {
	display:block;
	padding-bottom:13px;
	border-bottom:1px solid #eaeaea;
	margin-bottom:12px;
	height:auto;
}

header nav ul li .megaMenu .featuredProducts ul li.lastChild, header nav ul li .megaMenu .featuredProducts ul li:last-child {
	padding-bottom:0px;
	border-bottom:0px;
	margin-bottom:0px;	
}

header nav ul li .megaMenu .featuredProducts ul li .image {
	display:block;
	width:302px;	
	height:	89px;
}

header nav ul li .megaMenu .featuredProducts ul li .image img {
	width:302px;
	display:block;
	height:	89px;
}

header nav ul li .megaMenu .featuredProducts ul li .details {
	display:block;
	height:48px;	
	width:302px;
	clear:both;
}

header nav ul li .megaMenu .featuredProducts ul li .details .logo {
	background-color:#000;
	height:48px;
	width:180px;
	float:left;
	display:block;
	text-align:center;
}

header nav ul li .megaMenu .featuredProducts ul li .details .logo img {
	max-width:180px;
	max-height:48px;
	
}


header nav ul li .megaMenu .featuredProducts ul li .details .readMore {
	background-color:#262223;
	height:33px;
	float:right;
	display:inline-block;
	width:99px;
	color:#47aa42;
	background-image:url(../images/small-read-more-grey-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:10px 22px;
	margin:0px 0px 0px 0px;
	padding:15px 0px 0px 23px;

}


header nav ul li .megaMenu .featuredProducts ul li .details .readMore:hover {
	background-color:#47aa42;
	color:#FFF;
	background-image:url(../images/small-read-more-black-arrow-icon.png);
}

header nav ul li .megaMenu .menuCategories {
	height:100px;
	width:758px;
	display:block;
	float:right;
	clear:right;
}

header nav ul li .megaMenu .menuCategories h3 {
	display:block;
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:16px 19px;
	font-size:20px;
	margin:0px 0px 21px 0px;
	padding:19px 0px 20px 46px;
	color:#FFF;
	text-transform:none;
	font-family:"flamablack", Arial Black, Gadget, sans-serif;
	font-weight:normal;
	font-style:italic;
	min-height:20px;
	background-color:#47aa42;
}

header nav ul li .megaMenu .menuCategories ul {
	display:block;
	float:left;
	margin-bottom:15px;
}	

header nav ul li .megaMenu .menuCategories ul.first {
	width:165px;
}

header nav ul li .megaMenu .menuCategories ul.second {
	width:165px;
}

header nav ul li .megaMenu .menuCategories ul.third {
	width:140px;
}

header nav ul li .megaMenu .menuCategories ul.fourth {
	width:222px;
}

header nav ul li .megaMenu .menuCategories ul li {
	display:block;
	padding-bottom:4px;
	height:auto;	
}

header nav ul li .megaMenu .menuCategories ul li a {
	font-size:11px;
	color:#000000;	
	border-bottom:1px solid #eaeaea;
	width:100%;
	display:block;
}

header nav ul li .megaMenu .menuCategories ul li a:hover {
	color:#47aa42	
}

header nav ul li .megaMenu .menuCategories ul.first, header nav ul li .megaMenu .menuCategories ul.second, header nav ul li .megaMenu .menuCategories ul.third {
	margin-right:22px;	
}

header nav ul li .megaMenu .menuCategories ul.first {
	clear:left;	
}


header nav ul li .megaMenu .menuCategories ul.fourth {
	clear:right;	
}

header nav ul li .megaMenu .menuCategories ul ul.subMenu {
	display:block;
	width:100%;	
	float:none;
	margin-bottom:0px;
	padding-top:7px;
}

header nav ul li .megaMenu .menuCategories ul ul.subMenu li {
	display:block;
	padding-bottom:0px;
	border-bottom:0;		
	width:100%;
	line-height:13px;
	height:auto;
}

header nav ul li .megaMenu .menuCategories ul ul.subMenu li a {
	font-size:10px;
	color:#7e8182;	
	border:0px;
}

header nav ul li .megaMenu .menuCategories ul ul.subMenu li a:hover {
	color:#47aa42	
}

/*-- Content --*/

#content {
	display:block;
	width:100%;	
	position:relative;
	z-index:444;
}

#homeBanner {
	display:block;	
	width:100%;
	text-align:center;
	margin:0px;
	padding:0px;
	position:relative;
	overflow:hidden;
	background-color:#000;
	padding-top:112px;
}

#homeBanner span.megaCover {
	display:none;
	width:9000px;
	height:9000px;
	position:absolute;
	top:0px;
	left:0px;
	background-image:url(../images/home-banner-cover.png);
	background-repeat:repeat;
	z-index:444;
}

#homeBanner ul {
	display:block;
	list-style:none;
	padding:0px;	
	max-width:100%;
	margin:0px auto 0px auto;
	height:714px;
}

#homeBanner ul li {
	display:block;
	position:relative;	
	width:100%;
	margin:0px auto 0px auto;
	height:714px;
	text-align:center;
	list-style:none;
}

#homeBanner ul li img {
	z-index:2;
	left:50%;
	position:absolute;
	margin-left:-800px;
	top:112px;

}

#homeBanner ul li .cta {
	position:absolute;
	z-index:5;
	text-align:left;
	left:47%;
	top:50%;
	width:600px;
	
}

#homeBanner ul li h1 {
	margin:0px 0px 10px 0px;
	color:#FFF;
	font-family:"flamablack", Arial Black, Gadget, sans-serif;
	font-weight:normal;
	font-style:italic;
	line-height:50px;
	font-size:60px;
	text-shadow: 0px 0px 2px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=0);
}

#homeBanner ul li h2 {
	margin:0px 0px 25px 0px;
	color:#FFF;
	font-family:"flamalight", Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:auto;
	font-style:italic;
	font-size:34px;
	text-shadow: 0px 0px 2px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=0);
}

.largeBtn, a.largeBtn {
	display:inline-block;
	background-image:url(../images/read-more-bg.png);
	background-repeat:repeat;
	background-position:0px 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#FFF;
	text-decoration:none; 
	padding:10px 10px 10px 10px;
	font-family:"flamalight", Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:italic;
	font-weight:bold;
	-webkit-box-shadow:  0px 0px 2px  #000000;
        
        box-shadow:  0px 0px 2px  #000000;
}

.largeBtn:hover {
	background-color:#47AA42;
	background-image:none;
	color:#FFF;
}

.largeBtn span {
	display:block;
	background-image:url(../images/large-read-more-green-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:30px;	
	min-height:20px;
	padding-top:1px;
}

.largeBtn:hover span {
	background-image:url(../images/large-read-more-white-arrow-icon.png);
}

#homeTabs {
	display:block;
	background-color:#3c3c3c;
	position:relative;
	z-index:555;
	
}

#homeTabs ul.middle {
	width:1140px;
	list-style:none;
	margin:0px auto 0px auto;	
	min-height:168px;
	padding:0px 0px 0px 0px;
}

#homeTabs.left {
	background-image:url(../images/tabs-hover-left.gif);
	background-repeat:repeat-y;
	background-position:top center;
}

#homeTabs.right {
	background-image:url(../images/tabs-hover-right.gif);
	background-repeat:repeat-y;
	background-position:top center;
}

#homeTabs ul.middle li {
	display:block;	
	float:left;
	width:353px;
	list-style:none;
	margin:0px;
	padding:33px 10px 25px 20px;
	list-style:none;
	border-right:1px solid #000;
	
	position:relative;
}

#homeTabs ul.middle li .currentArrow {
	display:none;
	position:absolute;
	width:51px;
	height:25px;
	background-image:url(../images/home-tabs-selected-arrow.png);
	background-repeat:no-repeat;
	left:0px;
	top:-25px;
}

#homeTabs ul.middle li.activeSlide .currentArrow {
	display:block;	
}

#homeTabs ul.middle li.firstChild, #homeTabs ul.middle li:first-child {
	padding-left:0px;
	width:362px;	
}

#homeTabs ul.middle li.lastChild, #homeTabs ul.middle li:last-child {
	clear:right;
	border-right:0px;
}


#homeTabs ul.middle li a {
	text-decoration:none;	
}

#homeTabs ul.middle li h3 {
	display:block;
	background-image:url(../images/large-read-more-green-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	font-size:28px;
	margin:0px 0px 7px 0px;
	padding:0px 0px 0px 30px;
	color:#FFF;
	font-family:"flamablack", Arial Black, Gadget, sans-serif;
	font-weight:normal;
	font-style:italic;
	min-height:20px;
}

#homeTabs ul.middle li.activeSlide h3 {
	background-image:url(../images/large-read-more-white-arrow-icon.png);
}

#homeTabs ul.middle li p {
	color:#eaeaea;
	display:block;
	margin:0px 0px 11px 0px;
	padding:0px 0px 0px 30px;
	font-size:11px;
}

#homeTabs ul.middle li.activeSlide {
	background-color:#47aa42;
}

#homeTabs ul.middle li.activeSlide p {
	color:#FFF;
}

.readMore, a.readMore {
	
	background-image:url(../images/small-read-more-black-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:0px 5px;
	padding-left:20px;
	text-transform:uppercase;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
	font-size:11px;	
	font-weight:normal;
	text-decoration:none;
	color:#47aa42;
	padding:0px 0px 0px 15px;
	margin:0px;
}


#homeTabs ul.middle li .readMore {
	background-image:url(../images/small-read-more-grey-arrow-icon.png);
	margin-left:30px;
}

#homeTabs ul.middle li.activeSlide .readMore {
	color:#3c3c3c;	
}


#homeBlock {
	display:block;
	width:100%;
	background-color:#ffffff;
	clear:both;
}


#homeBlock ul.middle {
	width:1140px;
	list-style:none;
	margin:0px auto 0px auto;	
	padding:0px 0px 0px 0px;
	min-height:231px;
}

#homeBlock ul.middle li {
	display:block;	
	float:left;
	width:384px;
	list-style:none;
	margin:0px;
	padding:0px 0px 0px 0px;
	list-style:none;
}

#homeBlock ul.middle li.firstChild, #homeBlock ul.middle li:first-child {
	padding-left:152px;
	width:220px;	
	padding-top:20px;
}

#homeBlock ul.middle li.nz {
	background-image:url(../images/new-zealand-map.png);
	background-repeat:no-repeat;
	background-position:0px 22px;
	min-height:190px;
}

#homeBlock ul.middle li.aus {
	background-image:url(../images/australia-map.png);
	background-repeat:no-repeat;
	background-position:0px 52px;
	min-height:190px;
}

#homeBlock ul.middle li.contact h3 {
	display:block;
	background-image:url(../images/home-contact-us-pin-icon.png);
	background-repeat:no-repeat;
	color:#3c3c3c;
	min-height:29px;
	font-size:20px;
	font-family:"flamablack", Arial Black, Gadget, sans-serif;
	font-weight:normal;
	font-style:italic;
	margin:0px 0px 6px 0px;
	padding:3px 0px 0px 30px;
}

#homeBlock ul.middle li.contact span.subHead {
	font-style:italic;	
	display:block;
	margin-bottom:10px;
	font-size:11px;
}

#homeBlock ul.middle li ul {
	width:auto;
	display:block;
	margin:0px 0px 11px 0px;
	padding:0px 0px 0px 0px;
	font-size:11px;
	list-style:none;	
}

#homeBlock ul.middle li ul li {
	display:block;
	float:none;
	width:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;	
}

#homeBlock ul.middle li ul li a {
	color:#3c3c3c;
	text-decoration:none;	
}

#homeBlock ul.middle li ul li.firstChild, #homeBlock ul.middle li ul li:first-child {
	padding:0px;
	margin:0px;	
}

#homeBlock ul.middle li.news .postImage .cover, #homeBlock ul.middle li.caseStudies .postImage .cover {
	background-image:url(../images/home-tabs-gradient-cover.png);
	background-repeat:repeat-y;
	display:block;
	background-position:0px 0px;	
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	width:100%;
	height:100%;
}


#homeBlock ul.middle li.news .postImage h3, #homeBlock ul.middle li.caseStudies .postImage h3 {
	position:absolute;
	bottom:15px;
	left:20px;
	display:block;
	color:#fff;
	font-size:20px;
	font-family:"flamablack", Arial Black, Gadget, sans-serif;
	font-weight:normal;
	font-style:italic;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 30px;
	z-index:5;
}

#homeBlock ul.middle li.news .postImage h3 {
	background-image:url(../images/home-news-icon.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:30px;	
}

#homeBlock ul.middle li.caseStudies .postImage h3 {
	background-image:url(../images/home-case-studies-icon.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:30px;	
}

#homeBlock ul.middle li.news .postImage, #homeBlock ul.middle li.caseStudies .postImage {
	display:block;	
	height:88px;
	width:100%;
	position:relative;
	margin-bottom:18px;
}

#homeBlock ul.middle li.news .postImage img, #homeBlock ul.middle li.caseStudies .postImage img {
	position:absolute;
	top:0px;
	left:0px;	
	z-index:3;
}

#homeBlock ul.middle li.contact h4, #homeBlock ul.middle li.news h4, #homeBlock ul.middle li.caseStudies h4 {
	text-transform:uppercase;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
	font-size:12px;	
	font-weight:normal;
	text-decoration:none;
	color:#3c3c3c;
	padding:0px 0px 0px 0px;
	margin:0px 0px 5px 0px;	
}

#homeBlock ul.middle li.news .postExcerpt, #homeBlock ul.middle li.caseStudies .postExcerpt {
	border-left:1px solid #eaeaea;
	padding-left:15px;
}

#homeBlock ul.middle li.nz a:hover, #homeBlock ul.middle li.aus a:hover, #homeBlock ul.middle li.news .postExcerpt a:hover, #homeBlock ul.middle li.caseStudies .postExcerpt a:hover {
	color:#0c0b09;	
}

#homeBlock ul.middle li.news p, #homeBlock ul.middle li.caseStudies p {
	font-size:11px;	
	padding-right:15px;
	display:block;
	margin-top:0px;
	margin-bottom:9px;
}

#homeBlock ul.middle li.nz ul li a:hover, #homeBlock ul.middle li.aus ul li a:hover {
	color:#47aa42;	
}

/*-- Standard Content --*/

#content.std {
	display:block;	
	background-image:url(../images/std-content-bg.gif);
	background-repeat:repeat-y;
	position:relative;
	padding-top:113px;
	
	background-position:top center;
}

#copy a {
	color:#47AA42;
	text-decoration:none;	
}

#copy a:hover {
	color:#0C0B09;
}

#content.std .middle {
	width:1140px;
	margin:0px auto 0px auto;	
}


#content.std .middle #sideBar {
	display:block;
	width:274px;
	clear:left;
	float:left;
	padding-top:23px;
}

#content.std .middle #sideBar ul#sideMenu {
	margin:0px;
	padding:0px;
	list-style:none;	
	font-family: 'novecento_wide_light', Arial, Helvetica, sans-serif;
	position:relative;
	width:254px;
}

#content.std .middle #sideBar ul#sideMenu li {
	display:block;
	list-style:none;
	font-size:14px;
	width:auto;
	text-transform:uppercase;	
	border-bottom:1px solid #e3e3e3;
	margin-bottom:6px;
	padding-bottom:3px;
}

#content.std .middle #sideBar ul#sideMenu li.lastChild, #content.std .middle #sideBar ul#sideMenu li:last-child {
	border-bottom:0px;	
}

#content.std .middle #sideBar ul#sideMenu li a, #content.std .middle #sideBar ul#sideMenu li a:visited {
	color:#7e8182;
	text-decoration:none;	
}

#content.std .middle #sideBar ul#sideMenu li a:hover, #content.std .middle #sideBar ul#sideMenu li.current a {
	color:#47aa42;
	text-decoration:none;
}

#content.std .middle #sideBar ul#sideMenu li ul.subMenu {
	list-style:none;
	margin:0px 0px 0px 0px;	
	padding:0px 0px 0px 12px;
	display:none;
}

#content.std .middle #sideBar ul#sideMenu li ul.subMenu li {
	border-bottom:0px;
	padding-bottom:0px;	
	margin-bottom:0px;
}

#content.std .middle #sideBar ul#sideMenu li ul.subMenu li a {
	font-size:12px;	
}

#content.std .middle #sideBar ul#sideMenu li ul.subMenu li a:hover, #content.std .middle #sideBar ul#sideMenu li ul.subMenu li.current a {
	color:#221e1f;
	text-decoration:none;
}

#content.std .middle #sideBar ul#sideMenu li ul.subMenu li ul.subMenu {
	list-style:none;
	margin:0px 0px 0px 0px;	
	padding:0px 0px 0px 12px;
}

#content.std .middle #sideBar ul#sideMenu li ul.subMenu li ul.subMenu li {
	border-bottom:0px;
	padding-bottom:0px;	
	margin-bottom:0px;
}

#content.std .middle #sideBar ul#sideMenu li ul.subMenu li ul.subMenu li a {
	font-size:11px;	
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu {
	display:block;	
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu ul.subMenu {
	display:none;	
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu li.current ul.subMenu {
	display:block;	
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu li a {
	color:#7E8182;
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu li.current a {
	color:#0C0B09;
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu li a:hover {
	color:#0C0B09;
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu li.current ul.subMenu li a {
	color:#7E8182;
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu li.current ul.subMenu li a:hover {
	color:#0C0B09;
}

#content.std .middle #sideBar ul#sideMenu li.current ul.subMenu li.current ul.subMenu li.current a {
	color:#0C0B09;
}



#content.std .middle #sideBar h3 {
	font-family: 'novecento_wide_light', Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 0px;
	padding-top: 0px;
	color: #0C0B09;
}

#content.std .middle #copy {
	float:right;
	width:866px;
	clear:right;
}

#content.std .middle #copy .inner {
	padding-left:20px;	
	padding-top:18px;
	position:relative;
	padding-bottom:40px;
}

#content.std .middle #copy .inner span.note {
	position:absolute;
	top:18px;
	right:0px;
	color:#939598;
	font-size:11px;
	font-style:italic;	
}

#content.std ul.breadCrumb {
	display:block;
	list-style:none;	
	margin:0px;
	padding:0px;
	font-family: 'novecento_wide_light', Arial, Helvetica, sans-serif;
	font-size:10px;
}

#content.std ul.breadCrumb li {
	display:inline-block;
	margin:0px 0px 0px 5px;
	padding:0px 10px 0px 0px;	
	background-image:url(../images/breadcrumb-spacer.gif);
	background-repeat:no-repeat;
	background-position:top right;
}

#content.std ul.breadCrumb li.firstChild, #content.std ul.breadCrumb li:first-child {
	margin-left:0px;	
}

#content.std ul.breadCrumb li.lastChild, #content.std ul.breadCrumb li:last-child {
	background-image:none;
	padding-right:0px;
}



#content.std ul.breadCrumb li a {
	color:#7e8182;
	text-decoration:none;	
}


#content.std ul.breadCrumb li a:hover {
	color:#0C0B09	
}

#content.std ul.breadCrumb li.current a {
	color:#a9a9a9;
	cursor:default;
}


#content.std h1 {
	font-size:	24px;
	font-weight:bold !important;
	color:#0C0B09;
}

#content.std h2 {
	font-size:	20px;
	color:#0C0B09;
	font-weight:bold !important;
}

#content.std p {
	color:#7e8182;
	font-size:12px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;	
	
}


#content.std p.intro {
	font-size:16px;
	line-height:22px;
	font-weight:bold;	
}

#content.std hr {
	display:block;
	margin-top:20px;
	margin-bottom:25px;
	clear:both;
	border-top:1px solid #e1e1e1;
}

#content.std #copy p img {
	max-width:846px;
	height:auto;	
}

#content.std #copy .alignCenter {
	margin:0px auto 20px auto;	
	display:block;
	max-width:846px;
	height:auto;
}

#content.std #copy .alignLeft {
	float:left;	
	display:block;
	max-width:551px;
	height:auto;
	margin-bottom:20px;
	margin-right:40px;
}

#content.std #copy .alignRight {
	float:right;	
	max-width:551px;
	height:auto;
	display:block;
	margin-bottom:20px;
	margin-left:40px;
}

span.read-more {
	display:block;	
	margin-top:10px;
}


/*-- Category Listings --*/

#copy.categoryListing #featureSlider {
	display:block;
	width:866px;
	list-style:none;
	margin:0px;
	padding:0px;
	height:411px;
	overflow:hidden;
	background-color:#000;
}

#copy.categoryListing .featureSliderNav {
	display:block;	
	float:right;
	margin-top:10px;
	
}

#copy.categoryListing .featureSliderNav a {
	display:inline-block;
	width:12px;
	height:12px;
	margin-left:5px;
	background-image:url(../images/feature-nav-circle.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;	
}

#copy.categoryListing .featureSliderNav a:hover, #copy.categoryListing .featureSliderNav a.activeSlide {
	background-position:0px -12px;	
}

#copy.categoryListing ul.listings {
	list-style:none;
	display:block;
	margin:0px;
	padding:20px 0px 0px 0px;	
	border-top:1px solid #e1e1e1;
}

#copy.categoryListing ul.listings li {
	display:inline-block;
	width:49.5%;	
	padding-bottom:40px;
	margin-bottom:10px;
	border-bottom:1px solid #e1e1e1;
}

#copy.categoryListing ul.listings li:last-child, #copy.categoryListing ul.listings li.LastChild, #copy.categoryListing ul.listings li:nth-last-child(2) {
	border-bottom:0px;
	padding-bottom:0px;
	margin-bottom:0px;	
}

#copy.categoryListing ul.listings li h2 a {
	text-decoration:none;
	color:#0C0B09;	
}

#copy.categoryListing ul.listings li h2 a:hover {
	color:#47AA42;
}

#copy.categoryListing ul.listings li .image {
	position:relative;
	display:block;
	width:155px;
	height:213px;	
	float:left;
	clear:left;
}

#copy.categoryListing ul.listings li .imageContainer {
	  
 	position:absolute;
	top:0px;
	left:0px;
	z-index:5;
	display:block;
	background-image:url(../images/image-cover-corners.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:155px;
	height:213px;
}

#copy.categoryListing ul.listings li .imageContainer img {
	position:absolute;
	top:1px;
	left:1px;
	z-index:3;
	display:block;
	width:153px;
	height:211px;	
}

#copy.categoryListing ul.listings li .excerpt {
	float:right;	
	width:59%;
	clear:right;
}

#copy.categoryListing ul.listings li .excerpt p {
	padding-right:20px;	
}

#copy.categoryListing ul.listings li .excerpt p:first-child {
	margin-top:0px;	
}

#copy.categoryListing ul.listings li .excerpt a.viewProducts {
	font-size:18px;
	padding-top:10px;
	font-weight:bold;
	text-decoration:none;
	color:#47aa42;
}

#copy.categoryListing ul.listings li .excerpt a.viewProducts:hover {
	color:#0C0B09;	
}


/*-- Product Listings --*/

#copy.productListing ul.catNav {
	display:block;	
	margin:0px;
	padding:0px;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
}

#copy.productListing ul.catNav li {
	display:block;
	float:left;
	padding-bottom:4px;
	height:auto;	
	width:196px;
	margin-right:20px;
	margin-bottom:20px;
}

#copy.productListing ul.catNav li.fourth {
	clear:right;	
	margin-right:0px;
}

#copy.productListing ul.catNav li a {
	font-size:11px;
	color:#0C0B09;	
	border-bottom:1px solid #eaeaea;
	text-decoration:none;
	width:100%;
	display:block;
}

#copy.productListing ul.catNav li a:hover {
	color:#47aa42	
}

#copy.productListing ul.catNav li ul.subMenu  {
	margin:0px;
	padding:7px 0px 0px 0px;	
}

#copy.productListing ul.catNav li ul.subMenu li {
	margin:0px;
	padding:0px;
	float:none;
	width:auto;
	display:block;
	height:auto;	
	line-height:13px;
}

#copy.productListing ul.catNav li ul.subMenu li a {
	font-size: 10px;
	color: #7E8182;
	border: 0px;
	height:auto;
	margin:0px;
	padding:0px;
}

#copy.productListing ul.catNav li ul.subMenu li a:hover {
	color:#0C0B09;
}

#copy.productListing .productsBlock {
	display:block;
	clear:both;
	padding-top:10px;
	position:relative;
	border-top:1px solid #eaeaea;	
}

#copy.productListing .productsBlock a.browseAll {
	position:absolute;
	right:0px;
	top:29px;
	font-style:italic;
	text-decoration:none;
	color:#47aa42;
}

#copy.productListing .productsBlock a.browseAll:hover {
	color:#0C0B09;	
}

#copy.productListing ul.listings {
	list-style:none;
	margin:0px;
	padding:0px;
	display:block;
	flaot:none;
}

#copy.productListing ul.listings li {
	display:block;
	width:153px;
	margin-bottom:20px;
	float:left;
	margin-right:17px;
}

#copy.productListing ul.listings li.fifth {
	margin-right:0px;
}


#copy.productListing ul.listings li .image {
	position:relative;
	display:block;
	width:155px;
	height:213px;	
	clear:left;
	border:0px;
	text-decoration:none;
}

#copy.productListing ul.listings li .imageContainer {
	 
 	position:absolute;
	top:0px;
	left:0px;
	z-index:5;
	display:block;
	background-image:url(../images/image-cover-corners.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:155px;
	height:213px;
}


#copy.productListing ul.listings li img {
	position:absolute;
	top:1px;
	left:1px;
	z-index:3;
	display:block;
	width:153px;
	height:211px;	
}

#copy.productListing ul.listings li .shortDetail {
	display:block;
	font-size:11px;
	line-height:14px;
	padding-top:10px;	
}

#copy.productListing ul.listings li .shortDetail a.productTitle {
	color:#0c0b09;
	text-decoration:none;
	font-weight:bold;	
}

#copy.productListing ul.listings li .shortDetail a.productTitle:hover {
	color:#47aa42;	
}

#copy.productListing ul.listings li .shortDetail span.price {
	font-weight:bold;
	color:#ff0000;
	display:block;
}	

#copy.productListing ul.listings li .shortDetail span.price small {
	color:#adaeb1;
	font-size:11px;
	font-weight:bold;	
}

#copy.productListing ul.listings li .shortOptions {
	display:block;	
	font-size:11px;
	font-weight:bold;
}

#copy.productListing ul.listings li .shortOptions span {
	color:#adaeb1;	
}


#copy.productListing ul.listings li .shortOptions a {
	color:#47aa42;
	text-decoration:none;	
}

#copy.productListing ul.listings li .shortOptions a:hover {
	color:#0c0b09;
}


/*-- Sidebar Form --*/

#content.std #sideBar {
	position:relative;
		
}

#content.std #sideBar .sideForm {
	display:none;
	position:absolute;
	top:23px;
	background-color:#fdfdfd;
	left:0px;
	z-index:5;	
	height:100%;
}

#content.std #sideBar form {
	display:block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#content.std #sideBar form ul {
	list-style:none;
	margin:0px;
	padding:0px;	
}

#content.std #sideBar form ul li {
	list-style:none;
	margin:0px 0px 18px 0px;
	padding:0px 0px 0px 0px;	
}

#content.std #sideBar form ul li label {
	text-transform:uppercase;
	color:#47AA42;
	font-size:12px;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
	display:block;
	margin-bottom:3px;
}

#content.std #sideBar form ul li input {
	display:block;
	border:1px solid #dbdbdb;
		-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-border-radius: 3px;
	width:238px;
	padding:5px 8px 5px 8px;
	color:#7f8082;
}

#content.std #sideBar form ul li textarea {
	display:block;
	border:1px solid #dbdbdb;
		-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-border-radius: 3px;
	width:238px;
	height:190px;
	padding:5px 8px 5px 8px;
	color:#7f8082;	
}

#content.std #sideBar form ul li.send input {
	border:0px;
	float:left;
	color:#FFF;
	width:auto;
	display:inline-block;
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	background-color:#656565;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#FFF;
	text-decoration:none; 
	padding:10px 15px 10px 40px;
	font-family:"flamalight", Arial, Helvetica, sans-serif;
	font-size:16px;
	font-style:italic;
	font-weight:normal;
	-webkit-box-shadow:  none;
     box-shadow:none;
}	

#content.std #sideBar form ul li.send input:hover {
	background-color:#47AA42;
}

#content.std #sideBar form ul li a.hideForm {
	float:right;
	margin-right:0px;
	background-position:0px 7px;
	margin-top:12px;
}

#content.std #sideBar form ul li a.hideForm:hover {
		color:#0C0B09;
}

/*-- Product Detail --*/

#content.std #copy.productDetail ul.breadCrumb {
	margin-bottom:16px;	
}

#copy.productDetail .productMedia {
	float:left;
	width:355px;
	position:relative;
	margin-bottom:20px;
}

#copy.productDetail .productMedia ul#productImageGallery {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:485px 0px 0px 0px;
	position:relative;
	z-index:3;
}

#copy.productDetail .productMedia span.imageCover {
	 -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid #e8e9e9;  
 	position:absolute;
	top:0px;
	left:0px;
	z-index:5;
	display:block;
	width:358px;
	height:485px;	
}

#copy.productDetail .productMedia ul#productImageGallery img {
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;	
	width:358px;
	height:485px;
}

#copy.productDetail .productMedia #productImageGalleryNav {
	display:block;
	list-style:none;	
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	height:95px;
	overflow:hidden;
}

#copy.productDetail .productMedia #productImageGalleryNav li {
	list-style:none;
	display:inline-block;
	height:93px;
	list-style:none;
	overflow:hidden;
	width:101px;
	position:relative;
	 -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	margin-right:24px;
    border:1px solid #e8e9e9;  
}


#copy.productDetail .productMedia #productImageGalleryNav li a {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

#copy.productDetail .productMedia #productImageGalleryNav li.activeSlide a {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#copy.productDetail .productMedia #productImageGalleryNav li a {
	width:101px;
	height:93px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position: top center;
	display:block;
	position:absolute;
	top:0px;
	left:0px;
}

#copy.productDetail .productMedia #slidePager {
	position:relative;	
	margin-top:15px;
}

#copy.productDetail .productMedia #slidePagerNext {
	position:absolute;
	right:-12px;
	bottom:37px;
	display:block;
	cursor:pointer;
	width:25px;
	height:24px;
	background-image:url(../images/next-arrow.png);	
	background-repeat:no-repeat;
	background-position:0px -24px;
	z-index:9;
	
}

#copy.productDetail .productMedia #slidePagerPrev {
	position:absolute;
	z-index:9;
	cursor:pointer;
	left:-12px;
	bottom:37px;
	display:block;
	width:25px;
	height:24px;
	background-image:url(../images/prev-arrow.png);	
	background-repeat:no-repeat;
	background-position:0px -24px;
}

#copy.productDetail .productMedia #slidePagerPrev:hover, #copy.productDetail .productMedia #slidePagerNext:hover { 
		background-position:0px 0px;
}

#copy.productDetail .productMedia #slidePagerPrev.disabled, #copy.productDetail .productMedia #slidePagerNext.disabled {
	display:none;	
}


#copy.productDetail .productInformation {
	float:right;
	width:	452px;
}

#copy.productDetail .productInformation .top h1 {
	margin-top:0px;	
	float:left;
	display:block;
	width:300px;
	line-height:24px;
}

#copy.productDetail .productInformation .top span.price {
	color:#ff0000;
	font-weight:bold;	
	font-size:24px;
	float:right;
}

#copy.productDetail .productInformation .top span.price small {
	font-size:12px;
	position:relative;
	top:-9px;
	color:#939598;	
}

#copy.productDetail .productInformation .options {
	clear:both;
	display:block;	
	margin-bottom:25px;
}

#copy.productDetail .productInformation .options a.enquire {
	background-color:#47AA42;	
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:14px 11px;
	padding-left:44px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;
	border:0px;
	color:#FFF;
	-webkit-box-shadow: none;
	font-size:15px;
	box-shadow:none;
}

#copy.productDetail .productInformation .options a.enquire:hover {
	background-color:#666666	
}

#copy.productDetail .productInformation .options a.rent {
	background-color:#666666;	
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	color:#FFF;
	background-position:14px 11px;
	padding-left:44px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;
	border:0px;
	-webkit-box-shadow: none;
	float:right;
	font-size:15px;
	box-shadow:none;
}

#copy.productDetail .productInformation .options a.rent:hover {
	background-color:#47AA42;	
}

#copy.productDetail .productInformation .logo {
	display:block;	
	margin-bottom:10px;
}

#copy.productDetail .productInformation .logo {
	max-width:452px;
	height:auto;
}


#copy.productDetail .productInformation .description {
	margin-bottom:20px;
	display:block;
}

#copy.productDetail .productInformation .description ul {
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#7e8182;
}

#copy.productDetail .productInformation .description ul li {
	list-style:none;
	color:#7e8182;
	background-image:url(../images/std-li-arrow.gif);
	background-repeat:no-repeat;
	background-position:8px 4px;
	margin-bottom:4px;
	padding-left:25px;	
}


#copy.productDetail .productInformation .tabs {
	display:block;
	margin-bottom:20px;
}	

#copy.productDetail .productInformation .tabs .tabsNav {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;	
	position:relative;
	top:1px;
}

#copy.productDetail .productInformation .tabs .tabsNav li {
	display:inline-block;
	
	font-size:10px;
	text-align:center;
	
	text-transform:uppercase;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;	
}

#copy.productDetail .productInformation .tabs .tabsNav li a {
	display:inline-block;
	text-decoration:none;
	border:1px solid #e8e9e9;
	color:#7e8182;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:6px 10px 4px 10px;
	background-color:#fafafa;
}

#copy.productDetail .productInformation .tabs .tabsNav li a.current {
	background-color:#FFF;	
	border-bottom:1px solid #FFF;
	color:#0C0B09;
}

#copy.productDetail .productInformation .tabs .block {
	border:1px solid #e8e9e9;	
	padding:20px;
}

#copy.productDetail .productInformation .tabs .block h4 {
	
text-transform: uppercase;
font-family: 'novecento_wide_light', Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
text-decoration: none;
color: #47AA42;
padding: 0px 0px 0px 0px;
margin: 0px 0px 10px 0px;
}

#copy.productDetail .productInformation .tabs .block ul.table {
	list-style:none;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	color:#7e8182;
	font-size:10px;
}

#copy.productDetail .productInformation .tabs .block ul.table li {
	border-bottom:1px solid #FFF;
	display:block;
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:#fafafa;
}

#copy.productDetail .productInformation .tabs .block ul.table li:nth-child(odd) { 
	background: #f1f1f1; 
}

#copy.productDetail .productInformation .tabs .block ul.table li:hover {
	background-color:#eaeaea;
}

#copy.productDetail .productInformation .tabs .block ul.table li strong {
	display:inline-block;
	border-right:1px solid #f0f0f0;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
}

#copy.productDetail .productInformation .tabs .block ul.table.specs li strong {
	width:160px;
}

#copy.productDetail .productInformation .tabs .block ul.table.downloads li strong {
	width:270px;
}

#copy.productDetail .productInformation .tabs .block ul.table.rental li strong {
	width:300px;
}

#copy.productDetail .productInformation .tabs .block ul.table li span {
	padding-left:15px;
	padding-right:15px;
	text-align:center;
		padding-top:3px;
	padding-bottom:3px;
}

#copy.productDetail .productInformation .tabs .block ul.table.specs li span {
	text-align:left;	
}


/*-- Feature Product --*/

#copy.productDetail.featured #featureSlider {
	display:block;
	width:866px;
	list-style:none;
	margin:0px;
	padding:0px;
	height:411px;
	overflow:hidden;
	margin-bottom:10px;
	background-color:#000;
}

#copy.productDetail.featured .featureSliderNav {
	display:block;	
	float:right;
	margin-top:0px;
	z-index:88;
	position:relative;
	
}

#copy.productDetail.featured .featureSliderNav a {
	display:inline-block;
	width:12px;
	height:12px;
	margin-left:5px;
	background-image:url(../images/feature-nav-circle.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;	
}

#copy.productDetail.featured .featureSliderNav a:hover, #copy.productDetail.featured .featureSliderNav a.activeSlide {
	background-position:0px -12px;	
}

#copy.productDetail.featured .topProductInformation .top {
	float:left;	
	width:370px;
}

#copy.productDetail.featured .topProductInformation .top h1 {
	margin-top:0px;	
	float:left;
	display:block;
	
	line-height:24px;
	margin-bottom:8px;
}

#copy.productDetail.featured .topProductInformation .top span.price {
	color:#ff0000;
	font-weight:bold;	
	font-size:24px;
	float:none;
	clear:both;
	display:block;
}

#copy.productDetail.featured .topProductInformation .top span.price small {
	font-size:12px;
	position:relative;
	top:-9px;
	color:#939598;	
}

#copy.productDetail.featured .topProductInformation .options {
	display:block;	
	
	margin-bottom:25px;
	float:right;
}

#copy.productDetail.featured .topProductInformation .options a.enquire {
	background-color:#47AA42;	
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:14px 11px;
	padding-left:44px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;
	border:0px;
	color:#FFF;
	-webkit-box-shadow: none;
	font-size:15px;
	box-shadow:none;
	margin-right:15px;
	float:left;
}

#copy.productDetail.featured .topProductInformation .options a.enquire:hover {
	background-color:#666666	
}

#copy.productDetail.featured .topProductInformation .options a.rent {
	background-color:#666666;	
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	color:#FFF;
	background-position:14px 11px;
	padding-left:44px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;
	border:0px;
	-webkit-box-shadow: none;
	float:right;
	font-size:15px;
	box-shadow:none;
}

#copy.productDetail.featured .topProductInformation .options a.rent:hover {
	background-color:#47AA42;	
}

#copy.productDetail.featured .topProductInformation .logo {
	display:block;	
	margin-bottom:10px;
}

#copy.productDetail.featured .topProductInformation .logo {
	max-width:452px;
	height:auto;
}


#copy.productDetail.featured .topProductInformation .description {
	margin-bottom:20px;
	display:block;
	clear:both;
}

#copy.productDetail.featured .topProductInformation .description ul {
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#7e8182;
}

#copy.productDetail.featured .topProductInformation .description ul li {
	list-style:none;
	color:#7e8182;
	background-image:url(../images/std-li-arrow.gif);
	background-repeat:no-repeat;
	background-position:8px 4px;
	margin-bottom:4px;
	padding-left:25px;	
}


#copy.productDetail.featured .main h3 {
	font-size:16px;
	color:#7e8182;
	font-weight:bold !important;
	margin-bottom:5px;
}

#copy.productDetail.featured.subPage .main {
	border-top:1px solid 	#e1e1e1;
	display:block;
	clear:both;
}

#copy .additionalBlocks {
	display:block;
	clear:both;	
	position:relative;
		background-image:url(../images/additional-block-bg.gif);
	background-repeat:repeat-y;
	background-posiiton:0px 0px;
}

#copy .additionalBlocks ul {
	display:block;
	list-style:none;
	margin:0px;
	clear:both;

	padding:0px;	
}

#copy .additionalBlocks ul li {
	border-top:1px solid #e1e1e1;
	display:block;
	float:left;
	width:248px;
	/*border-right:1px solid #e1e1e1;*/
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 20px 20px 20px;
}	


#copy .additionalBlocks ul li.third {
	border-right:0px;
}

#copy .additionalBlocks ul li h3 {
	font-size:18px;
	font-weight:bold !important;
	color:#0c0b09;
	margin-bottom:0px;
}


/*-- Services --*/

#content.std .middle #copy.servicesDetail .inner {
	padding-bottom:10px;
}

#content.std #copy.services ul.servicesList {
	list-style:none;
	margin:0px;
	padding:0px; 
}

#content.std #copy.services ul.servicesList li {
	list-style:none;
	margin:0px 58px 30px 0px;
	padding:0px 0px 0px 0px ;
	float:left;
	display:block;
	width:394px;	
}

#content.std #copy.services ul.servicesList li h2 {
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:25px;	
}

#content.std #copy.services ul.servicesList li.second {
	margin-right:0px;	
}

#content.std #copy.services h3 {
	font-size:16px;
	color:#7e8182;
	font-weight:bold !important;
	margin-bottom:5px;
}



#content.std #copy.services .main ul {
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#7e8182;
}

#content.std #copy.services .main ul li {
	list-style:none;
	color:#7e8182;
	background-image:url(../images/std-li-arrow.gif);
	background-repeat:no-repeat;
	background-position:8px 4px;
	margin-bottom:4px;
	padding-left:25px;	
}


/*-- News -- */

#content.std #copy .topPageImage {
	display:block;	
}

#content.std #copy .topPageImage img {
	max-width:866px;
	height:auto;	
}


#content.std .middle #copy.news .inner {
	padding-bottom:10px;
}

#content.std .middle #copy.newsDetail .inner {
	padding-bottom:40px;
}



#content.std #copy.news ul.newsList {
	list-style:none;
	margin:0px;
	width:866px;
	background-image:url(../images/news-list-bg.gif);
	background-repeat:repeat-y;
	background-position:0px 0px;
	padding:0px 0px 0px 0px; 
	
	 
    box-sizing: border-box;
    
}

#content.std #copy.news ul.newsList li {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:29px 25px 20px 20px ;
	border-top:1px solid #e1e1e1;
	display: inline-block;
	vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	width:440px;	
	vertical-align:top;
}

#content.std #copy.news ul.newsList li h2 {
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:25px;	
}

#content.std #copy.news ul.newsList li.second {
	margin-right:0px;	
	border-right:0px;
	padding-left:23px;
	padding-right:0px;
	width:424px;
	margin-left:-1px;
}

#content.std #copy.news .pagination {
	display:block;
	padding-top:18px;
	padding-bottom:18px;
	clear:both;
	border-top:1px solid #e1e1e1;
	padding-left:20px;	
	
}

#content.std #copy.news .pagination p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:14px;
	font-weight:bold;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
}

#content.std #copy.news .pagination p strong {
	color:#cecece;	
	margin-right:20px;
}

#content.std #copy.news .pagination p a {
	color:#7e8182;	
	margin-right:20px;
}

#content.std #copy.news .pagination a:hover {
	color:#47aa42;
}



/*-- About --*/

#content.std .middle #copy.about .inner {
	padding-bottom:10px;
}

/*-- Management --*/

#content.std .middle #copy.management {
	display:block;	
}


#content.std .middle #copy.management ul.profileList {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
}

#content.std .middle #copy.management ul.profileList li {
	display:block;
	float:left;
	width:155px;	
	margin-right:17px;
	margin-bottom:20px;
}

#content.std .middle #copy.management ul.profileList li.fifth {
	margin-right:0px;
}

#content.std .middle #copy.management ul.profileList li .image {
	position:relative;
	display:block;
	width:155px;
	height:213px;	
	float:none;
	clear:left;
	overflow:hidden;
	background-color:#FFF;
}

#content.std .middle #copy.management ul.profileList li .imageContainer {
    border:0px solid #e8e9e9;  
 	position:absolute;
	top:0px;
	left:0px;
	z-index:6;
	display:block;
	background-image:url(../images/image-cover-corners.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:155px;
	height:213px;	
}


#content.std .middle #copy.management ul.profileList li img {
	position:absolute;
	top:1px;
	left:1px;
	z-index:3;
	display:block;
	width:153px;
	height:211px;	
}

#content.std .middle #copy.management ul.profileList li .shortDetail {
	display:block;
	clear:both;	
	padding-top:10px;
	font-weight:bold;
}

#content.std .middle #copy.management ul.profileList li .shortDetail strong {
	display:block;	
	color:#0c0b09;
}

#content.std .middle #copy.management ul.profileList li .shortDetail span {
	display:block;
}

#content.std .middle #copy.management ul.profileList li .shortDetail span.title {
	color:#adaeb1;	
}

#content.std .middle #copy.management .profileDetail {
	display:none;	
}

#fancybox-outer, #fancybox-content {
	border:1px solid #e1e1e1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
}


#fancybox-content li.current {
	list-style:none;
	margin:0px 0px 0px 0px;	
}


#fancybox-content li .image {
	position:relative;
	display:block;
	width:155px;
	height:213px;	
	float:left;

	overflow:hidden;
	background-color:#FFF;
}

#fancybox-content li .imageContainer {
    border:0px solid #e8e9e9;  
 	position:absolute;
	top:0px;
	left:0px;
	z-index:6;
	display:block;
	background-image:url(../images/image-cover-corners.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:155px;
	height:213px;	
}


#fancybox-content li img {
	position:absolute;
	top:1px;
	left:1px;
	z-index:3;
	display:block;
	width:153px;
	height:211px;	
}

#fancybox-content li .shortDetail {
	float:right;
	width:620px;	
}

#fancybox-content li .shortDetail strong {
	font-size:22px;
	font-weight:bold;
	color:#0c0b09;	
}

#fancybox-content li .shortDetail span.title {
	display:block;
	font-size:16px;
	border-bottom:1px solid #e1e1e1;
	padding-bottom:10px;
	font-weight:bold;
	margin-bottom:5px;
	color:#898b8c	
}

#fancybox-content li .shortDetail a.profileTitle {
	display:none;	
}

#fancybox-content p {
	color: #7e8182;
	font-size: 12px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#fancybox-content ul {
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#7e8182;
}

#fancybox-content ul li {
	list-style:none;
	color:#7e8182;
	background-image:url(../images/std-li-arrow.gif);
	background-repeat:no-repeat;
	background-position:8px 4px;
	margin-bottom:4px;
	padding-left:25px;	
}

#fancybox-content .profileDetail {
	display:block;	
	float:right;
	width:620px;
}

#fancybox-content h3 {
	font-size:16px;
	color:#7e8182;
	font-weight:bold !important;
	margin-bottom:10px;
	margin-top:10px;
}

#fancybox-content p.intro {
	font-size:16px;
	line-height:22px;
	font-weight:bold;	
}

#fancybox-close {
	display:block;
	background-image:url(../images/fancybox-close.png) !important;
	background-repeat:no-repeat !important;
	width:25px !important;
	height:25px !important;
	background-position:0px 0px !important;	
	top:-10px !important;
	right:-10px !important;
}


/*-- Contact --*/


#content.std .middle #copy.contact {
	display:block;	
}

#content.std .middle #copy.contact .topMap {
	height:305px;
	position:relative;	
	display:block;
}

#content.std .middle #copy.contact #map_canvas {
	height:305px;
}


#content.std .middle #copy.contact .location {
	border-top:1px solid #e1e1e1;	
	padding-bottom:20px;
	padding-top:10px;
	padding-left:20px;
}

#content.std .middle #copy.contact .location.current {
	background-color:#fdfdfd;	
}

#content.std .middle #copy.contact .location.current h2 {
	background-image:url(../images/map-pin-small.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:25px;	
	padding-top:3px;
	min-height:21px;
}

#content.std .middle #copy.contact .location ul {
	display:block;
	list-style:none;
	float:left;
	margin:0px 35px 0px 0px;
	width:262px;
	padding:0px 0px 0px 0px;
}

#content.std .middle #copy.contact .location ul.third {
	margin-right:0px;	
	width:250px;
}

#content.std .middle #copy.contact .location ul li {
	border-bottom:1px solid #e3e3e3	;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
}

#content.std .middle #copy.contact .location ul li strong {
	display:inline-block;
	font-weight:bold;
	vertical-align:top;
	color:#0c0b09;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;	
	width:87px;
}

#content.std .middle #copy.contact .location ul.second li strong {
	width:140px;	
}

#content.std .middle #copy.contact .location ul.third li strong {
	width:140px;	
}

#content.std .middle #copy.contact .location ul li span {
	display:inline-block;	
	color:#7e8182;
}

#content.std .middle #copy.contact .location ul li.lastChild, #content.std .middle #copy.contact .location ul li:last-child {
	border-bottom:0px;	
}

#content.std.contact #sideBar .sideForm {
	display:block;
	position:absolute;
	top:23px;
	background-color:#fdfdfd;
	left:0px;
	z-index:5;	
	height:100%;
}

#content.std.contact #sideBar form ul li input, #content.std.contact #sideBar form ul li textarea {
	width:256px;
}

#content.std.contact #sideBar form ul li.send input {
	width:auto;	
}

/*-- Footer --*/

footer {
	background-color:#f3f3f3;
	border-top:1px solid #cccccc;	
	min-height:479px;
	position:relative;
	clear:both;
}

footer .middle {
	width:1140px;
	margin:0px auto 0px auto;
	position:relative;
}

footer .middle a#footerLogo {
	top:25px;
	position:absolute;
	left:0px;	
}

footer h3 {
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-bottom:5px;
	margin-top:0px;
	padding-top:0px;
	color:#0c0b09;
}

footer .socialMedia {
	display:block;	
	position:absolute;
	left:271px;
	top:25px;
}

footer .mailingList {
	display:block;	
	position:absolute;
	left:510px;
	top:25px;
}

footer .mailingList input.text {
	display:inline-block;
	width:243px;
	font-size:11px;
	color:#7e8182;
	padding-left:10px;
	float:left;
	height:24px;
	border:1px solid #dbdbdb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right:12px;
}

footer .mailingList input.submit {
	width:93px;
	display:inline-block;
	background-color:#47aa42;
	color:#FFF;
	font-size:16px;
	padding-left:20px;
	height:28px;
	font-family:"flamalight", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-style:italic;
	background-image:url(../images/footer-newsletter-icon.png);
	background-repeat:no-repeat;
	border:0px;
	background-position:8px 5px;
	text-align:center;
		-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

footer .mailingList input.submit:hover {
	background-color:#939598;	
}


footer nav {
	display:block;	
	width:100%;
	position:absolute;
	top:100px;
	font-family:'novecento_wide_light', Arial, Helvetica, sans-serif;
}

footer nav ul {
	margin:0px;
	padding:0px;
	list-style:none;	
}

footer nav ul li {
	float:left;
	display:block;
	list-style:none;
	font-size:14px;
	margin-right:103px;
	list-style:none;
	text-transform:uppercase;	
	position:relative;
}

footer nav ul li.lastChild, footer nav ul li:last-child {
	margin-right:0px;	
}

footer nav ul li a, footer nav ul li a:visited {
	color:#7e8182;
	text-decoration:none;	
}

footer nav ul li.lastChild, footer nav ul li:last-child {
	float:right;	
}

footer nav ul li a:hover, footer nav ul li.current a {
	color:#47aa42;
	text-decoration:none;
}

footer nav ul li ul.subMenu {
	display:block;
	width:auto;
	margin:0px;
	padding:6px 0px 0px 0px;	
}

footer nav ul li ul.subMenu li {
	font-size:10px;
	margin:0px;
	padding:0px;
	float:none;
	display:block;
	margin-right:0px;	
	line-height:16px;
}

footer nav ul li ul li a:hover, footer nav ul li ul li.current a {
	color:#0c0b09;
	text-decoration:none;
}

footer .base {
	width:100%;
	height:97px;
	background-color:#3c3c3c;
	position:absolute;
	bottom:0px;
}


footer .base ul.logos {
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
	display:inline-block;
}

footer .base ul.logos li {
	list-style:none;
	margin:0px;
	padding:15px 0px 0px 0px;
	width:19%;
	text-align:left;
	display:inline-block;	
}

footer .base ul.logos.nz li {
	width:19.7%;	
}



footer .base ul.logos li a {
	border:0px;
	text-decoration:none;	
}

footer .base ul.logos.nz li.third {
	text-align:center;
}

footer .base ul.logos.nz li.fourth {
	text-align:right;
}

footer .base ul.logos li.lastChild, footer .base ul.logos li:last-child {
	text-align:right;
}

footer .base .smallPrint {
	width:100%;
	color:#7e8182;
	font-size:11px;
	position:absolute;
	padding-top:7px;
	bottom:0px;
	height:26px;
	background-color:#353535;
}

footer .base .smallPrint span.websiteDesign {
	float:right;	
}

footer .base .smallPrint span.websiteDesign a:hover {
	color:#47AA42;
}

footer .base .smallPrint a {
	color:#7e8182;
	text-decoration:none;	
}