@media only screen and (max-width: 1023px) {



}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {

}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media only screen and (max-width: 959px) {

}


@media only screen and (max-width: 890px) {


}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 767px) {


}

@media only screen and (max-width: 626px) {
	 
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 


}


@media only screen and (max-width: 330px) {
	
}