html {
	 font-size: 62.5%;
}

body {
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 18px;
	font-family: Helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

h1, h2, h3, h4, h5 {
	font-weight: normal !important;
}

@font-face {
    font-family: 'novecento_wide_light';
    src: url('../fonts/novecentowide-demibold-webfont.eot');
    src: url('../fonts/novecentowide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-demibold-webfont.woff') format('woff'),
         url('../fonts/novecentowide-demibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'flamablack';
    src: url('../fonts/flamablack-webfont.eot');
    src: url('../fonts/flamablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamablack-webfont.woff') format('woff'),
         url('../fonts/flamablack-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flamalight';
    src: url('../fonts/flamalight-webfont.eot');
    src: url('../fonts/flamalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamalight-webfont.woff') format('woff'),
         url('../fonts/flamalight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}