#content.std .middle #copy ul.listings .shortDetail p {
    margin-top: 4px;
    margin-bottom: 5px;
    line-height: 18px;
}

@media (max-width: 1024px) {

    #content.std .middle #sideBar {
        width: 230px;

        h3 {
            padding-left: 20px;
        }

        ul#sideMenu {
            width: 200px;
            padding-left: 20px;
        }
    }

    #content.std .middle {
        width: 100%;
    }

    #content.std .middle #copy {
        width: calc(100% - 240px);
    }

}

@media (max-width: 768px) {
    
    #content.std {
        padding-top: 0;
        margin-top: 70px;

        .middle {
            width: 100%;
            border: none;

            #sideBar {
                display: none;
                width: 0;

                #sideMenu, h3 {
                    display: none;
                }

                &.show {
                    display: block;
                    z-index: 99999999;
                    float: left;
                }

                .sideForm {
                    height: calc(100% - 180px);
                    width: 100%;
                    padding: 40px;
                    padding-top: 100px;
                    padding-bottom: 80px;
                    position: fixed;
                    top: 0;
                    overflow-y: scroll;

                    form { 
                        width: calc(100% - 100px);

                        input[type=text], textarea {
                            width: 100%;
                            max-height: 120px;
                        }

                        ul li.send input {
                            float: right;
                            margin-right: -18px;
                        }

                        ul li a.hideForm {
                            float: left;
                        }
                    }
                }
            }

            #copy {
                float: left;
                width: 100%;
                border: none;

                .topPageImageShort {
                    height: auto;
                }

                .inner {
                    padding-right: 20px;
                }

                #featureSlider {
                    width: 100%;
                    height: 270px;
                    overflow: hidden;

                    li {
                        position: relative !important;
                        width: 100% !important;
                        height: auto !important;

                        img {
                            width: 100%;
                        }
                    }
                }

                .featureSliderNav, .leftArrow, .rightArrow {
                    display: none;
                }

                h1 {
                    padding-right: 20px;
                }

                ul.listings {
                    

                    li {
                        width: 100%;

                        .image, .image a, .image img {
                            width: 120px;
                            height: 100%;
                            min-height: 160px;
                            background: none;
                        }

                        .excerpt a.viewProducts {
                            font-size: 11px;
                            font-family: "novecento_wide_light", Helvetica, Arial, sans-serif;
                        }

                        &:nth-last-child(2) {
                            border-bottom: 1px solid #e1e1e1;
                            padding-bottom: 40px;
                            margin-bottom: 10px;
                        }
                    }

                    .shortDetail {
                        p {
                            margin-top: 4px;
                            margin-bottom: 5px;
                            line-height: 18px;
                        }
                    }
                }

                .content-column {
                    width: 100%;
                }

                ul.newsList, ul.servicesList {
                    width: 100%;
                    
                    li, li.second {
                        width: 100%;
                        padding-right: 20px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .topPageImage img, .topPageImageShort img {
                    width: 100%;
                }

                .main h2 {
                    margin-top: 60px;
                    margin-right: -20px;
                }

                .main p, .main li {
                    font-size: 14px;
                }

                .main p img, .main p iframe {
                    width: calc(100% - 20px) !important;
                    height: auto !important;
                }

                .main .right-sidebar {

                    p img {
                        width: auto !important;
                    }
                }

                .additionalBlocks {

                    ul.multiple li {
                        border-top: 1px solid #e1e1e1;
                        display: block;
                        border-right: 0;
                        float: left;
                        width: calc(100% - 40px);
                        padding-bottom: 0;

                        h3 {
                            font-size: 14px;
                        }
                    }

                    &.caseStudyBlocks {
                        display: none;
                    }
                }

                .right-sidebar {
                    width: 100%;
                    float: left;
                    margin-top: -100px;
                    margin-bottom: 40px;
                    border-left: none;
                    padding-left: 0;
                }
            }

        }
    }

    #content.std #copy.productDetail ul.breadCrumb {
        margin-bottom: 30px;
    }

    #content.std .middle #copy .inner {
        padding-top: 10px;
    }

    #content.std ul.breadCrumb li.lastChild, #content.std ul.breadCrumb li:last-child {
        display: none;
    }

    #content.std ul.breadCrumb li:nth-last-child(2) {
        background-image: none;
    }

    .case-studies #casestudyImageGallery li,
    .case-studies #casestudyImageGallery li a {
        width: 100%;
        height: 250px;
    }

    .case-studies #caption {
        top: 180px;
    }

    .case-studies ul#casestudyImageGallery {
        padding: 250px 0 0;
    }

    .case-studies #slidePagerCS,
    .productMedia #slidePager {
        width: 100% !important;
    }

    .case-studies #slidePagerNext,
    .productMedia #slidePagerNext,
    .case-studies #slidePagerPrev,
    .productMedia #slidePagerPrev {
        display: none !important;
    }

    #content.std .middle #copy.management ul.profileList {
        width: 100%;

        li {
            margin-right: 0;
        }

        li:nth-child(2n) {
            float: right;
        }
    }

    #fancybox-outer {
        position: fixed !important;
    }

    #fancybox-outer, #fancybox-content, #fancybox-wrap, #fancybox-content > div {
        width: 100% !important;
        height: 100% !important;
        border-width: 0 !important;
        top: 0 !important;
        left: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        border-radius: 0 !important;
    }

    #fancybox-content {
        padding: 20px !important;
        overflow-y: scroll;
        width: calc(100% - 40px) !important;

        & > div {
            padding-bottom: 40px !important;
        }
    }

    #fancybox-content li .image {
        margin-bottom: 20px;
    }

    #fancybox-content li .image a {
        border: none;
        background-image: none;
    }

    #fancybox-content li .shortDetail, #fancybox-content li .profileDetail {
        width: 100%;
        float: left;
    }

    #fancybox-close {
        top: 20px !important;
        right: 20px !important;
    }

}



@media (max-width: 380px) {   
    #content.std {
        .middle {
            #copy {
                #featureSlider {
                    height: 170px;
                }
            }
        }
    }
}