.options-mobile {
    display: none;
}

@media (max-width: 768px) {

    #copy.productListing ul.listings li .imageContainer {
        display: none;
    }

    #copy.categoryListing.productListing ul.listings li {
        float: left;
        position: relative;
        width: 47% !important;

        &:nth-child(2n) {
            float: right;
            margin-right: 0;
        }
    }

    #copy.categoryListing.productListing ul.listings li img {
        float: left;
        position: relative;
    }

    #content.productsSection .middle #copy ul.listings li:nth-last-child(2) {
        border: none;
    }

    #copy.productDetail.featured  {
        
        #featureSlider li a img {
            width: 100%;
        }

        .topProductInformation {
            width: 100%;

            .options {
                display: block;
                width: 100%;
                float: left;
                position: relative;
                margin-bottom: 30px;
                margin-top: -10px;

                a.largeBtn, a.enquire, a.rent {
                    display: inline-block;
                    background-image: url("/templates/common/images/large-read-more-white-arrow-icon.png");
                    background-position: 10px;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    margin-top: 5px;
                    margin-right: 0;
                    font-style: italic;
                    font-weight: normal;
                    box-shadow: none;
                    text-decoration: none;
                    padding: 8px;
                    padding-left: 36px;
                    padding-right: 16px;
                    background-color: #42AB3B;
                    border-radius: 8px;
                    font-family: flamalight, Arial, Helvetica, sans-serif;
                    font-size: 11px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    width: auto;

                    span {
                        padding: 0;
                        display: inline;
                    }
                }

                a.rent {
                    background-color: #666666;
                    float: right;
                }
            }
        }

        .productMedia {
            width: 100%;

            .imageCover {
                width: 100%;
                background: none;
            }

            #productImageGallery {
                width: 100%;

                li, li img {
                    width: 100%;
                    height: auto;
                }
            }
        }

    }

    #content.std .middle #copy.categoryListing .inner span.note {
        top: 90px;
        font-size: 10px;
        left: 20px;
    }

    #content.std .middle #copy .inner span.note {
        font-size: 10px;
        left: 20px;
        top: 30px;
    }

    #copy.productListing .productsBlock {
        padding-top: 20px;
    }

    #copy.productDetail .productInformation {
        width: calc(100% + 40px);
        float: left;
        margin-left: -20px;
        margin-top: 5px;
    }

    #copy.productDetail .productInformation .tabs .tabsNav, #copy.servicesDetail .tabs .tabsNav {
        top: 0px;
        float: left;
        margin-bottom: 15px;
        border-bottom: 1px solid #e8e9e9;
        width: 100%;
    }

    #copy.productDetail .productInformation .tabs .block, #copy.servicesDetail .tabs .block {
        border: none;

        iframe {
            width: 100% !important;
            height: auto !important;
        }
    }

    #copy.productDetail .productInformation .tabs .tabsNav li, 
    #copy.servicesDetail .tabs .tabsNav li {
        float: left;
        display: block;
        margin-bottom: -1px;
    }

    #copy.productDetail .productInformation .tabs .block ul.table.specs li strong,
    #copy.productDetail .productInformation .tabs .block ul.table.specs li span, 
    #copy.servicesDetail .tabs .block ul.table.specs li span {
        width: calc(50% - 25px);
    }

    #copy.productDetail .productInformation .tabs .tabsNav li a, 
    #copy.servicesDetail .tabs .tabsNav li a {
        border-left: none;
        border-radius: 0;
        padding: 6px 10px 4px;
        font-size: 9px;
    }

    #content.std .middle #copy.productDetail .productInformation .tabs li, 
    #content.std .middle #copy.servicesDetail .tabs li {
        font-size: 10px;
    }

    #content.std .middle #copy.productDetail .productInformation .tabs li a, 
    #content.std .middle #copy.servicesDetail .tabs li a {
        display: table;
    }

    #copy.productDetail .productInformation .tabs .block ul.table.downloads li strong, 
    #copy.servicesDetail .tabs .block ul.table.downloads li strong {
        width: calc(100% - 150px);
    }

    #copy.productDetail .productInformation .tabs .block ul.table.downloads li strong, 
    #copy.servicesDetail .tabs .block ul.table.downloads li strong,
    #copy.productDetail .productInformation .tabs .block ul.table.downloads li span, 
    #copy.servicesDetail .tabs .block ul.table.downloads li span {
        display: table-cell;
        line-height: 18px;
    }

    #copy.productDetail .productMedia ul#productImageGallery li a {
        width: 100%;
        height: auto;
    }

    #copy.productDetail .productMedia #productImageGalleryNav {
        width: 100% !important;
        height: auto !important;   
    }

    #copy.productDetail .productMedia #productImageGalleryNav li,
    #copy.productDetail .productMedia #productImageGalleryNav li a {
        width: 55px !important;
        height: 45px !important;
        margin-right: 10px;
        margin-bottom: 10px;
    }

}