/* Smaller than Desktop HD */
@media (max-width: 1140px) {
    body, html {
        min-width: 0;
        width: 100%;
    }

    header  {
        width: 100%;

        .middle {
            width: 100%;
        }

        #logo, #logo img {
            width: 200px;
            height: auto;
            margin-top: 6px;
            margin-left: 10px;
        }

        nav#menu {
            width: 700px;

            ul li {
                margin-right: 35px !important;
            }
        }

        .contact {
            margin-right: 30px;
            margin-top: 10px;
        }

        .search {
            display: none;
        }

    }

    #homeBlock ul.middle, footer .middle {
        width: 100%;
    }

}

@media (max-width: 1024px) {

    header  {

        nav#menu {
            width: 600px;
            left: 250px;

            ul li {
                margin-right: 30px !important;
                font-size: 12px;
            }
        }

    }

    footer {
        #footerLogo {
            margin-left: 20px;
        }

        .socialMedia, .mailingList {
            display: none;
        }

        .base {
            padding-left: 20px;
            padding-right: 20px;
            width: calc(100% - 40px);

            .smallPrint {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
                width: calc(100% - 40px);
            }
        }
    }

    footer nav ul {
        margin: 20px 20px;
    }

}

@media (max-width: 960px) {



}

@media (max-width: 768px) {

    header, body.home header  {
        width: 100%;
        position: fixed;
        top: 0;
        overflow: visible;
        background: white;
        box-shadow: 0 1px 1px 0 rgba(108,108,108,0.50);
        transition: all 200ms cubic-bezier(0.54, 0, 0.57, 0.57);

        .middle {
            height: 100%;
            float: left;
        }

        #logo {
            display: none;
        }

        #logo2 {
            position: absolute;
            top: 13px;
            left: 50%;
            margin-left: -65px;
            width: 130px;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        // hide the old menu
        nav#menu, div.search {
            display: none;
        }

        .contact {
            display: none;
        }

    }

    #pagerNav {
        display: none;
    }

    #homeTabs {
        height: auto !important;
        float: left;

        ul.middle {
            float: left;

            li {
                border-bottom: 1px solid #484848;
                border-right: none;
                border-left: none;

                a {
                    padding: 25px 20px 20px 20px;
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 12px;
                    line-height: 19px;
                }
            }
        }
    }

    #homeContact {
        background: #EDEDED;
        border-top: 1px solid #DEDEDE;
        border-bottom: 1px solid #CCC;
        height: 50px;
        position: relative;
        display: block;
        float: left;
        width: 100%;
        font-family: 'novecento_wide_light', Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: black;
        text-align: center;

        .phone {
            background-image: url(../images/phone-icon.png);
            background-repeat: no-repeat;
            background-position: 0px 0px;
            padding-left: 25px;
            background-size: 20px;
            line-height: 50px;
            padding-top: 1px;
            padding-bottom: 2px;
            color: black;
            text-decoration: none;
        }

        .email {
            background-image: url(../images/email-icon.png);
            background-repeat: no-repeat;
            background-position: 0px 0px;
            padding-left: 25px;
            margin-left: 20px;
            background-size: 20px;
            line-height: 50px;
            padding-top: 1px;
            padding-bottom: 2px;
            color: black;
            text-decoration: none;
        }
    }

    #homeBlock {

        ul.middle {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column-reverse;
            flex-direction: column-reverse;

            li {
                width: 100%;

                &.news, &.caseStudies {

                    .postImage {
                        width: 100%;
                        height: auto;
                        border-top: 1px solid #EDEDED;
                        border-bottom: 1px solid #EDEDED;
                        margin-bottom: 0;

                        a {
                            width: 100%;
                            height: 60px;;
                            background: none;
                            text-align: center;
                            vertical-align: center;
                            line-height: 60px;

                            .cover {
                                background: none;
                            }

                            img {
                                display: none;
                            }

                            h3 {
                                position: relative;
                                width: calc(100% - 20px);
                                text-align: left;
                                bottom: auto;
                                left: auto;
                                float: left;
                                color: #3C3C3C;
                                padding-left: 20px;
                                background-image: none;
                            }
                        }
                    }

                    .postExcerpt {
                        padding: 20px;
                        border: none;
                    }
                }

                &.contact {
                    background-color: #EDEDED;
                    background-position: 240px 22px;
                    background-size: 120px;
                    width: 100%;
                    border-top: 1px solid #DEDEDE;
                    border-bottom: 1px solid #DEDEDE;
                    padding-bottom: 15px;
                    padding-left: 0;

                    h3 {
                        font-size: 18px;
                        margin-bottom: 10px;
                        background-size: 20px;
                        margin-left: 20px;
                    }

                    h4 {
                        margin-bottom: 0;
                        margin-left: 20px;
                    }

                    span.subHead {
                        font-size: 10px;
                        margin-bottom: 14px;
                        margin-left: 20px;
                    }

                    ul {
                        font-size: 10px;
                        margin-bottom: 14px;
                        margin-left: 20px;
                    }

                    a.readMore {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    #content.std ul.breadCrumb {
        font-size: 8px;
    }

    footer nav, footer .socialMedia, footer .mailingList, footer .base, footer #footerLogo {
        display: none;
    }

    footer {
        width: 100%;
        background-color: #3C3C3C;
        height: 50px;
        background-image: url(../images/footer-logos-mobile.png);
        background-repeat: no-repeat;
        background-position: 0;
        background-size: auto 50px;
    }

    footer.aus {
        background-image: url(../images/footer-logos-mobile-au.png);
    }

}