.banner-mobile {
    display: none;
}

/* Smaller than Desktop HD */
@media (max-width: 1140px) {

    #homeTabs ul.middle {
        width: 1024px;
    }

    #homeTabs ul.middle li,
    #homeTabs ul.middle li.firstChild, 
    #homeTabs ul.middle li:first-child {
        width: 330px;
    }

}

@media (max-width: 1024px) {

    #homeTabs ul.middle {
        width: 960px;
    }

    #homeTabs ul.middle li,
    #homeTabs ul.middle li.firstChild, 
    #homeTabs ul.middle li:first-child {
        width: 310px;
    }

    #homeBlock ul.middle li {
        width: 280px;
    }

}

@media (max-width: 960px) {

    #homeTabs ul.middle {
        width: 768px;
    }

    #homeTabs ul.middle li,
    #homeTabs ul.middle li.firstChild, 
    #homeTabs ul.middle li:first-child {
        width: 255px;
    }

}

@media (max-width: 768px) {

    #homeTabs {
        position: relative;
    }

    #homeTabs ul.middle {
        width: 100%;
    }

    #homeTabs ul.middle li,
    #homeTabs ul.middle li.firstChild, 
    #homeTabs ul.middle li:first-child {
        width: 100%;
    }

    /*
    #homeBanner ul li .cta,
    #homeBanner ul li.middle .cta {
        position: absolute;
        text-align: center;
        left: 0;
        top: 270px;
        width: 100%;
        vertical-align: bottom;

        display: none;
    }

    #homeBanner ul li .cta h1 {
        font-size: 24px;
        line-height: 32px;
        color: black;
        text-shadow: none;
        width: 80%;
        margin: 0 auto;
    }

    #homeBanner ul li .cta h2 {
        font-size: 14px;
        line-height: 35px;
        color: black;
        text-shadow: none;
        width: 80%;
        margin: 0 auto;
    }

    #homeBanner ul li .cta a.largeBtn {
        display: inline-block;
        background-image: url("/templates/common/images/large-read-more-white-arrow-icon.png");
        background-position: 10px;
        background-repeat: no-repeat;
        background-size: 20px;
        margin-top: 10px;
        font-style: italic;
        font-weight: bold;
        box-shadow: none;
        text-decoration: none;
        padding: 10px;
        padding-left: 40px;
        padding-right: 20px;
        background-color: #42AB3B;
        border-radius: 8px;
        font-family: flamalight, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        width: auto;

        span {
            padding: 0;
            display: inline;
        }
    }
    */

    #homeBanner, #homeBanner ul {
        display: none !important;
    }

    #homeBannerMobile {
        margin-top: 70px;
        height: 350px !important;
        min-height: 250px;
        position: relative;
        border: none;
        background: white;
        width: 100%;
    }

    #homeBannerMobile ul.banner-mobile {
        display: block !important;
        height: 350px !important;
        position: relative;
        overflow: visible;
        padding: 0;

        li {
            background-size: cover;
            background-position: center;
            height: 100% !important;
            width: 100% !important;
            overflow: visible;
        }
    }

    #content {
        clear: both;
    }

    .bannerSide, .formSide {
        float: none;
        width: 100%;
    }

    .landingPage .seven, .landingPage .five {
        float: none;
        width: 96%;
        padding-left: 2%;
    }

    .bannerText {
        margin: 40px auto;
    }

    .formSide {
        padding-top: 30px;
        padding-right: 45px;
        height: auto !important;
    }

    .bannerArea {
        background-size: 100% auto;
        background-position: top center;
    }

    .promoSection .product .imgHolder {
        height: 150px;
    }

 
}

@media (max-width: 660px) {
    .bannerArea {
        background-size: 150% auto;
    }

    .statement {
        width: 50%;
    }

    .statement:nth-child(2n) {
        clear: left;
    }

    .promoSection .product {
        width: 48%;
        margin-bottom: 20px;
    }

    .promoSection .threeProds .product:first-of-type {
        margin-left: 0;
    }

    .promoSection .twoProds .product:first-of-type {
        margin-left: 0;
    }

    .promoSection .oneProd .product:first-of-type {
        margin-left: 0;
    }

    .promoSection .product .imgHolder {
        height: 250px;
        display: table-cell;
        overflow: hidden;
        vertical-align: bottom;
    }

    .promoSection .product .imgHolder a {
        display: block;
    }

    .promoSection .product .imgHolder img {
        display: block;
    }

    .promoSection .product img {
        max-height: 250px;
    }


    .bannerText {
        max-width: 100%;
    }

    #content.std.landingPage .keyStatments h2 {
        line-height: 30px;
    }

    #content.std .promoSection h1 {
        line-height: 42px;
    }

    .pt-100 {
        padding-top: 50px;
    }

    #content.std .promoSection h1 {
        margin-bottom: 0;
    }
}

@media (max-width: 414px) {
    .bannerArea {
        background-size: 220% auto;
    }

    .promoSection .product .imgHolder {
        height: 200px;
    }


}


@media (max-width: 380px) {

    #homeBannerMobile {
        height: 250px !important;
    }

    #homeBannerMobile ul.banner-mobile {
        height: 250px !important;
    }

}

@media (max-width: 340px) {
    .formSide {
        padding-left: 20px;
        padding-right: 20px;
    }

     .bannerArea {
        background-size: 300% auto;
    }

    .statement {
        width: 100%;
    }

    .promoSection .product {
        width: 80%;
        padding: 0 10%;
        margin-bottom: 40px;
    }

    #content.std .promoSection h1 {
        font-size: 30px;
        margin-top: 60px;   
    }

    .promoSection {
        padding-bottom: 80px;
    }

    .promoSection .product .imgHolder {
        height: auto;
    }
}