.mobile-navigation {
    display: none;
}

@media only screen and (max-width: 768px) {

    .main_h {
        height: 70px !important;
        z-index: 999;
    }

    .open-nav {
        height: calc(100% + 75px) !important;

        .mobile-navigation {

            .mobnav ul {
                display: block;
            }

            .mobnav ul ul {
                height: auto;
                max-height: 0;
                padding-left: 28px;
                margin: 0;
                border: none;
                opacity: 0;
                width: 100%;
                transition: max-height 0.2s ease-in, opacity 0s ease-in;

                li {

                    a {
                        font-size: 12px;
                    }
                }
            }

            .mobnav ul li.open ul {
                transition: max-height 0.5s ease-in, opacity 0.2s ease-in;
            }

            .mobile-toggle {
                transform: rotate(-45deg);
                top: 30px;

                .line-menu.start {
                    transform: rotate(-90deg) translateX(2px);
                    width: 50%;
                }

                .line-menu.end {
                    transform: rotate(-90deg) translateX(-2px) translateY(9px);
                }
            }
        }

    }

    .sticky-up {
        top: -75px !important;
    }

    .mobile-navigation {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        overflow-y: scroll;

        .mobnav {
            width: 100%;
            float: left;

            ul {
                list-style: none;
                overflow: hidden;
                text-align: left;
                float: left;
                display: none;
                margin-top: 80px;
                width: 85%;
                margin-left: 0;
                padding-left: 28px;

                li {
                    display: block;
                    float: left;
                    line-height: 1.5;
                    width: 100%;
                    padding: 12px 0;
                    margin: 0;
                    border-top: 1px solid rgba(147, 149, 151, 0.25);

                    &:first-of-type {
                        border-top: none;
                    }

                    a {
                       color: #939597;
                       font-family: "novecento_wide_light", Helvetica, Arial, sans-serif;
                       text-transform: uppercase;
                       font-size: 16px;
                       text-decoration: none;
                       float: left;
                    }

                    .expander {
                        float: left;
                    }

                    .expander::after {
                        content: '\FF0B'; /* Unicode character for "plus" sign (+) */
                        font-size: 18px;
                        line-height: 24px;
                        margin-left: 10px;
                        color: #47AA42;
                        font-weight: normal;
                        font-family: Helvetica, Arial, sans-serif !important;
                    }

                    &.open {
                        ul li .expander::after {
                            font-size: 17px;
                            line-height: 17px;
                        }

                        & > .expander::after {
                            content: '\FF0D'; /* Unicode character for "-" sign (-) */
                        }

                        & > ul {
                            max-height: 100%;
                            border-top: 1px solid rgba(147, 149, 151, 0.25);
                            margin-top: 12px;
                            padding-left: 28px;
                            opacity: 1;
                        }
                    }

                    ul {
                        display: none;
                    }
                }
            }
        }

            

        .mobile-toggle {
            width: 18px;
            height: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            transition: transform 330ms ease-out;
            top: 26px;
            left: 26px;
            position: absolute;
        }

        .line-menu {
            background-color: #3c3c3c;
            width: 100%;
            height: 2px;
        }

        .line-menu.start {
            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
            transform-origin: right;
        }

        .line-menu.end {
            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
            transform-origin: left;
            width: 50%;
        }

    }

}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}