{embed="Common/header"}


<div id="content" class="std">
    <div class="middle">
        <div id="sideBar">
            <h3>Oops, you took a wrong turn!</h3>
        </div>

        <div id="copy" class="productListing">

            <div class="inner">
                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="#">404 - Not Found</a></li>

                </ul>
                <img src="/templates/common/images/404.jpg" id="image404" />
                <h1>Oops, you took a wrong turn!</h1>
                <h3><span>The page you requested was not found. It may no longer be available, or you might have typed the wrong address.</span></h3>
                <h3><span>Don't panic! Just try a search, or use the browse links below.</span></h3>
                
                
                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                    <ul>
                        <li><a href="https://synergypositioning.co.nz/services">Services</a></li>
                        <li><a href="https://synergypositioning.co.nz/products">Products</a></li>
                        <li><a href="https://synergypositioning.co.nz/news">News</a></li>
                        <li><a href="https://synergypositioning.co.nz/about-us">About Us</a></li>
                        <li><a href="https://synergypositioning.co.nz/case-studies">Case Studies</a></li>
                        <li><a href="https://synergypositioning.co.nz/contact-us">Contact Us</a></li>
                    </ul>
                <? else: ?>
                    <ul>
                        <li><a href="https://www.synergypositioning.com.au/services">Services</a></li>
                        <li><a href="https://www.synergypositioning.com.au/products">Products</a></li>
                        <li><a href="https://www.synergypositioning.com.au/news">News</a></li>
                        <li><a href="https://www.synergypositioning.com.au/about-us">About Us</a></li>
                        <li><a href="https://www.synergypositioning.com.au/case-studies">Case Studies</a></li>
                        <li><a href="https://www.synergypositioning.com.au/contact-us">Contact Us</a></li>
                    </ul>
                <? endif;?>
                


            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>




{embed="Common/footer"}