            <?if(Synergy_Utils::getSiteCountry()!="NZ"):?>
            <li class="services {if segment_1 =="services"}current{/if}"><a href="/services">Services</a>
              <div class="megaMenu">


                  <div class="menuCategories">
                      <h3>View our services below</h3>


                      <?
                      # Due to having to regionalise this we need to handle this with php
                      $categories = Synergy_Utils::getNonEmptyCategoriesForRegion(2, Synergy_Utils::getSiteCountry());
                      ?>
                      <ul>
                          <? foreach ($categories as $category): ?>
                              <li class="firstChild">
                                  <a href="/services/<?= $category->cat_url_title ?>">
                                      <?= $category->cat_name ?>
                                  </a>
                                  <ul>
                                      {exp:channel:entries channel="services" category="<?= $category->cat_id ?>" dynamic="no" search:services_country="<?=Synergy_Utils::getSiteCountry()?>|All"}
                                      <li class="firstChild lastChild">
                                          <a href="/services/<?= $category->cat_url_title ?>/{url_title}">{title}</a>
                                      </li>
                                      {/exp:channel:entries}
                                  </ul>
                              </li>
                          <? endforeach; ?>
                          <li class="clear"></li>
                      </ul> 
                  </div>
                 <div class="megaBase"></div>
              </div>
          </li>
          <? endif; ?>
          <?if(Synergy_Utils::getSiteCountry()=="NZ"):?>
          <li class="products {if segment_1 =="products"}current{/if}"><a href="/products">Products</a>
              <div class="megaMenu products">
                  <div class="featuredProducts">
                      <h3>Featured Products</h3>
                      <ul>
                          {exp:channel:entries channel="products" limit="3" dynamic="no" search:product_country="<?=Synergy_Utils::getSiteCountry()?>|All" search:is_featured_product="=Yes" search:featured_megamenu_icon="not IS_EMPTY" search:manufacturer="not IS_EMPTY" search:show_in_featured_menu="Yes" orderby="random"}
                          <li>
                              <div class="image">
                                  <img src="{featured_megamenu_icon}" alt="{title}" width="302" height="89">
                              </div>
                              <div class="details">
                                  {related_entries id="manufacturer"}
                                  <div class="logo">
                                      <img src="{featured_product_megamenu_image}" alt="{title}" />
                                  </div> 
                                  {/related_entries}
                                  
                                  <a href="/products/{categories}{category_url_title}/{/categories}{url_title}" class="readMore">View Product</a>
                              </div>
                          </li>
                          {/exp:channel:entries}
                      </ul>
                  </div>


                  <div class="menuCategories">
                      <h3>Browse, enquire &amp; hire from our product range below</h3>

                      {exp:gwcode_categories country="<?=Synergy_Utils::getSiteCountry()?>" channel="products" depth="1|2" entry_count="yes" show_empty="no"}
                      <a href="/products/{complete_path}">{cat_name}</a>
                      {/exp:gwcode_categories}

                  </div>
                  <div class="megaBase"></div>
              </div>
          </li>
          <? endif; ?>