    <div class="row mobile-navigation">

        <div class="mobile-toggle">
            <div class="line-menu start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>

        <a id="logo2" href="/"><img src="/templates/common/images/synergy-mobile.png" alt="Synergy Positioning Systems" /></a>

        <div class="mobnav">
            <ul>
                <li><a href="/">Home</a></li>

                <?if(Synergy_Utils::getSiteCountry()!="NZ"):?>
                <li><a href="/services">Services</a> <a href="#" class="expander"></a>
                    <?
                    # Due to having to regionalise this we need to handle this with php
                    $categories = Synergy_Utils::getNonEmptyCategoriesForRegion(2, Synergy_Utils::getSiteCountry());
                    ?>
                    <ul>
                      <? foreach ($categories as $category): ?>
                          <li>
                              <a href="/services/<?= $category->cat_url_title ?>">
                                  <?= $category->cat_name ?>
                              </a> <a href="#" class="expander"></a>
                              <ul>
                                  {exp:channel:entries channel="services" category="<?= $category->cat_id ?>" dynamic="no" search:services_country="<?=Synergy_Utils::getSiteCountry()?>|All"}
                                  <li>
                                      <a href="/services/<?= $category->cat_url_title ?>/{url_title}">{title}</a>
                                  </li>
                                  {/exp:channel:entries}
                              </ul>
                          </li>
                      <? endforeach; ?>
                    </ul> 
                </li>
                <? endif; ?>

                <?if(Synergy_Utils::getSiteCountry()=="NZ"):?>
                <li><a href="/products">Products</a> <a href="#" class="expander"></a>
                    {exp:gwcode_categories country="<?=Synergy_Utils::getSiteCountry()?>" channel="products" depth="1|2" entry_count="yes" show_empty="no"}
                    <a href="/products/{complete_path}">{cat_name}</a> {if has_children}<a href="#" class="expander"></a>{/if}
                    {/exp:gwcode_categories}
                </li>
                <? endif; ?>

                <?if(Synergy_Utils::getSiteCountry()=="NZ"):?>
                <li><a href="/skynet-rtk">Skynet RTK</a></li>
                <?endif;?>
                
                <li><a href="/news">News</a></li>
                <li><a href="/about-us">About Us</a> <a href="#" class="expander"></a>
                    <ul>
                        {exp:channel:entries channel="about_us" url_title="not about-us" dynamic="no" search:about_available_in="<?=Synergy_Utils::getSiteCountry()?>|All"}
                        <li><a href="/about-us/{url_title}">{title}</a> </li>
                        {/exp:channel:entries}
                        <li><a href="/case-studies">Case Studies</a> </li>
                    </ul> 
                </li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>
        </div>

    </div>