<footer <? if (Synergy_Utils::getSiteCountry() != "NZ"): ?>class="aus"<? endif; ?>>
    <div class="middle">
        <a id="footerLogo" href="/"><img src="/templates/common/images/synergy-positioning-stacked.png" alt="Synergy Positioning Systems" width="140" /></a>
        <span class="tagline">A Synergy Group Company</span>


        <div class="socialMedia">
            <h3>Follow us on Twitter</h3>
            <a href="https://twitter.com/SynergyPosition" class="twitter-follow-button" data-show-count="false">Follow @SynergyPosition</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <div class="mailingList">
            
           <h3>Join mailing list for news &amp; Updates</h3>

            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                <form action="https://synergypositioning.createsend.com/t/d/s/xukddd/" method="post" id="subForm">
                    <ol>
                        <li>
                            <label for="fieldName" class="subscriptionError nameError">Please enter your name.</label>
                            <input id="name" id="fieldName" name="cm-name" type="text" class="text" placeholder="Your Name" />
                        </li>
                        <li>
                            <label for="fieldEmail" class="subscriptionError emailError">Please enter a valid email address.</label>
                            <input id="email" id="fieldEmail" name="cm-xukddd-xukddd" type="text" class="text" placeholder="Your Email Address" />
                        </li>
                        <li class="submit">
                            <input name="" type="submit" class="submit" value="Join" />
                        </li>
                    </ol>
                </form>
            <? else: ?>
                <form action="https://synergypositioning.createsend.com/t/d/s/xukddd/" method="post" id="subForm">
                    <ol>
                        <li>
                            <label for="fieldName" class="subscriptionError nameError">Please enter your name.</label>
                            <input id="name" id="fieldName" name="cm-name" type="text" class="text" placeholder="Your Name" />
                        </li>
                        <li>
                            <label for="fieldEmail" class="subscriptionError emailError">Please enter a valid email address.</label>
                            <input id="email" id="fieldEmail" name="cm-xukddd-xukddd" type="text" class="text" placeholder="Your Email Address" />
                        </li>
                        <li class="submit">
                            <input name="" type="submit" class="submit" value="Join" />
                        </li>
                    </ol>
                </form>
            <? endif; ?>


        </div>

        <nav>
            <ul>
                <li class="{if segment_1 == ""}current{/if} home"><a href="/">Home</a></li>

                <? if (Synergy_Utils::getSiteCountry() != "NZ"): ?>
                <li class="{if segment_1 == "services"}current{/if} services"><a href="/services">Services</a>
                     <?
                     # Due to having to regionalise this we need to handle this with php
                     $categories = Synergy_Utils::getNonEmptyCategoriesForRegion(2, Synergy_Utils::getSiteCountry());
                     ?>
                     <ul class="subMenu">
                         <? foreach ($categories as $category): ?>
                             <li class="firstChild {if '{segment_2}' =='<?= $category->cat_url_title ?>'}current{/if}">
                                 <a href="/services/<?= $category->cat_url_title ?>"><?= $category->cat_name ?></a>
                             </li>
                         <? endforeach; ?>
                     </ul>
                </li>
                <? endif; ?>
                 <?if(Synergy_Utils::getSiteCountry()=="NZ"):?>
                 <li class="{if segment_1 == "products"}current{/if} products"><a href="/products">Products</a>
                     {exp:gwcode_categories country="<?=Synergy_Utils::getSiteCountry()?>" class="subMenu" channel="products" depth="1" entry_count="yes" show_empty="no"}
                     <a href="/products/{complete_path}">{cat_name}</a>
                     {/exp:gwcode_categories}
                </li>
                <li class="{if segment_1 == "skynet-rtk"}current{/if} news"><a href="/skynet-rtk">Skynet RTK</a>
                <? endif; ?>
                <li class="{if segment_1 == "news"}current{/if} news"><a href="/news">News</a>
                </li>
                <li class="{if segment_1 == "about-us"}current{/if} aboutUs"><a href="/about-us">About Us </a>
                    <ul class="subMenu">
                        {exp:channel:entries channel="about_us" url_title="not about-us" dynamic="no"}
                        <li class="{if '{segment_2}' =='{url_title}'}current{/if}"><a href="/about-us/{url_title}">{title}</a> </li>
                        {/exp:channel:entries}
                        <li class="{if segment_1 =='case-studies'}current{/if}"><a href="/case-studies">Case Studies</a></li>
                </ul>
            </li>
            <li class="{if segment_1 == "contact-us"}current{/if} contactUs"><a href="/contact-us">Contact Us</a>
                 <ul class="subMenu">
                     {exp:channel:entries channel="contact_us" url_title="contact-us"}
                     <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                         {branches}
                         <li><a href="/contact-us">{branch_region}</a></li>
                         {/branches}
                     <? else: ?>
                         {branches_au}
                         <li><a href="/contact-us">{branch_region}</a></li>
                         {/branches_au}
                     <? endif; ?>

                     {/exp:channel:entries}
                 </ul>
             </li>
             <li class="clear"></li>
            </ul>
        </nav>
    </div>

    <div class="base">

        <!-- <div class="middle">
            <ul class="logos nz">
                <li>
                    <img src="/templates/common/images/synergy-group.png" alt="Synergy Group" height="25" class="main" />
                </li>

                <li>
                    <img src="/templates/common/images/synergy-hire.png" alt="Synergy Hire" height="24" />
                </li>

                <li class="">
                    <img src="/templates/common/images/synergy-robotics.png" alt="Synergy Robotics" height="25"/>
                </li>

                <li class="">
                    <img src="/templates/common/images/synergy-positioning.png" alt="Synergy Positioning" height="23" />
                </li>

                <li class="">
                    <img src="/templates/common/images/synergy-pavesmart.png" alt="Synergy Pavesmart" height="25"/>
                </li>

            </ul>
        </div> -->

        <div class="smallPrint">
            <div class="middle">
                <span class="copyright">&copy; <?= date("Y") ?> Synergy Positioning Systems Ltd. All rights reserved.</span>
                <span class="websiteDesign"><a href="http://www.96black.co.nz" target="_blank">Website Design</a> by 96black</span>
            </div>
        </div>
    </div>


</footer>
</div>


<!--[if lt IE 8 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/templates/common/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<script type="text/javascript" src="/templates/common/js/libs/jquery-ui-1.9.2.custom.js"></script>
<script type="text/javascript" src="/templates/common/js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/templates/common/js/jcarousellite_1.0.1.js"></script>
<script type="text/javascript" src="/templates/common/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/templates/common/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/templates/common/js/fancybox/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="/templates/common/js/jquery.expander.js"></script>

<script type="text/javascript" src="/templates/common/js/selectivizr-min.js"></script>
<script type="text/javascript" src="/templates/common/js/css3-mediaqueries.js"></script>

<!--[if lt IE 9 ]>
     <script type="text/javascript" src="/templates/common/js/PIE.js"></script>
<![endif]-->

<script src="/templates/common/js/custom.js?v=23"></script>
<script src="/templates/common/js/analytics.js?v=11"></script>

{if segment_1 == "products"}
<script src="/templates/common/js/products.js?v=2"></script>
{/if}

{if segment_1 == "services"}
<script src="/templates/common/js/services.js?v=2"></script>
{/if}

{if segment_1 == "contact-us"}
<script src="/templates/common/js/contact.js?v=4"></script>
{/if}
    
<script>
    // Once the user completes the follow process, send an event to Google
    twttr.ready(function (twttr) {
        twttr.events.bind('follow', function(event) {
            ga("send", "social", "twitter", "follow", "Footer Twitter Follow Button", {'page': '<?=$_SERVER['REQUEST_URI']?>'});
        });
    }); 
</script>

</body>
</html>