{embed="Common/header"}


<div id="content" class="std">
    <div class="middle">
        <div id="sideBar">
            <h3>Thanks for subscribing</h3>
        </div>

        <div id="copy" class="productListing">

            <div class="inner">
                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/thank-you">Thank you</a></li>
                </ul>
                <h1>Thanks for subscribing</h1>
                <div class="productBlock">
                    <p>
                        You are now signed up to receive email updates from Synergy Positioning Systems. We do not send spam and will never share your details with any other organisation. We hope you enjoy the updates.  
                    </p>
                    <p>
                        Regards  
                    </p>
                    <p>
                        Synergy Positioning Systems  
                    </p>
                    <a href="/" class="largeBtn thankYou"><span>Return to the home page</span></a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>




{embed="Common/footer"}