{embed="Common/header"}
{exp:channel:entries channel="landing_pages" limit="1" dynamic="no" url_title="{segment_2}"}
   <div id="content" class="std landingPage">
    <div class="bannerArea" style="background-image: url('{banner_image}');">
        <div class="middle">
            <div class="bannerSide">
                <div class="bannerText">
                {banner_text}
                    {if inline_white_brand_logo}
                        <img src="{inline_white_brand_logo}">
                    {/if}
                    <h3>{top}</h3>
                    <h1>{mid}</h1>
                    <div class="author">{bottom}</div>
                {/banner_text}
                </div>
            </div>

            <div class="formSide">
                <h3>{form_title}</h3>
                <p>{form_intro}</p>


                {if segment_3 != ""}
                    <div class="success_message">
                    <p>
                        Thank you, your submission has been accepted. We will get back to you as soon as we can.
                    </p>
                    </div>
                {/if}

                {exp:freeform:form 
                return="landing-pages/{segment_2}/thank-you" 
                inline_errors="yes" 
                form_name="contact"
                required="full_name|email|user_message"}
                    <ul>
                        
                        <!-- Full name field -->
                        <li>
                            <label>{freeform:label:full_name} *</label>
                            {if freeform:error:full_name}
                            <div class="error_message">
                                <p>{freeform:error:full_name}</p>
                            </div>
                            {/if}
                            {freeform:field:full_name}
                        </li>
                        
                        <!-- Company name field -->
                        <li>
                            <label>{freeform:label:company_name}</label>
                            {if freeform:error:company_name}
                            <div class="error_message">
                                <p>{freeform:error:company_name}</p>
                            </div>
                            {/if}
                            {freeform:field:company_name}
                        </li>
                        
                        <!-- Email field -->
                        <li>
                            <label>{freeform:label:email} *</label>
                            {if freeform:error:email}
                            <div class="error_message">
                                <p>{freeform:error:email}</p>
                            </div>
                            {/if}
                            {freeform:field:email}
                        </li>
                        
                        <!-- Phone field -->
                        <li>
                            <label>{freeform:label:phone_number}</label>
                            {if freeform:error:phone_number}
                            <div class="error_message">
                                <p>{freeform:error:phone_number}</p>
                            </div>
                            {/if}
                            {freeform:field:phone_number}
                        </li>
                        
                        <!-- Message field -->
                        <li>
                            <label>{freeform:label:user_message} *</label>
                            {if freeform:error:user_message}
                            <div class="error_message">
                                <p>{freeform:error:user_message}</p>
                            </div>
                            {/if}
                            {freeform:field:user_message}
                        </li>
                        
                        <li class="send">
                            <input name="submit" type="submit" value="Send Message" class="largeBtn" />
                        </li>
                            
                        
                    </ul>
                {/exp:freeform:form} 


            </div>
        </div>
    </div>


    <div class="keyStatments">
        <div class="middle">
            <h2>{key_statements_title}</h2>
            {key_statements}
                <div class="statement">
                <img src="{icon}" alt="{title} icon" />
                <h3>{title}</h3>
                <p>{text}</p>
                </div>
            {/key_statements}
        </div>
    </div>

    <div class="lightGrey">
        <div class="middle pt-100 pb-70 {if video_embed_code == ''}noVid{/if}">
            <div class="seven">
                <h2>But don’t take out word for it <small>Here’s what others are saying...</small></h2>
                
                {quote}
                <div class="quote">
                    <p>{quote}</p>
                    <div class="author">{if author}— {/if}{author}</div>
                </div>
                {/quote}
            </div>
            {if video_embed_code}
            <div class="five videoSide">
                <h2>{video_title}</h2>
                <div class="vid">{video_embed_code}</div>
                {if brand_logo}<img src="{brand_logo}" />{/if}
            </div>
            {/if}
        </div>
    </div>

    <div class="promoSection" style="{if product_promo_background}background-image: url('{product_promo_background}');{/if} {if product_promo_background_colour} background-color: {product_promo_background_colour};{/if}">
        <div class="middle {dark_or_light_background} {if product:total_rows == '3'}threeProds{/if}{if product:total_rows == '2'}twoProds{/if}{if product:total_rows == '1'}oneProd{/if}">

            <h1>{product_promo_title}</h1>
            {product}
            
            <div class="product">
                <div class="imgHolder">
                    <a href="{button_link}"><img src="{image}" alt="{title}" /></a>
                </div>
                <h2><a href="{button_link}">{title}</a></h2>
                <a href="{button_link}" class="largeBtn">{button_text}</a>
            </div>
            {/product}
        </div><!-- middle -->
    </div><!-- /promoSection -->
   </div>
{/exp:channel:entries}
{embed="Common/footer"}