::-moz-selection{ background: #009bc9; color:#fff; text-shadow: none; }
::selection { background:#009bc9; color:#fff; text-shadow: none; }


a, a:active {
	outline: none;
	-webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    -ms-transition: color .2s linear;
    transition: color .2s linear;
}

a:focus{
	-moz-outline-style: none;
}

a:active, a:selected, a:visited {
    border: none;
    outline: none;
}

.clear {
	clear:both;
}

html, body {
	margin:0px !important;
	padding:0px !important;
	height: 100%;
	width: 100%;
	min-width:1140px;
	background-color:#fff;
}

#wrapper {
	height:100%;
	background-color:#fff;
}

html {
	 font-size: 62.5%;
}

body {
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 18px;
	font-family: Helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

h1, h2, h3, h4, h5 {
	font-weight: normal !important;
}

@font-face {
    font-family: 'novecento_wide_light';
    src: url('../fonts/novecentowide-demibold-webfont.eot');
    src: url('../fonts/novecentowide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-demibold-webfont.woff') format('woff'),
         url('../fonts/novecentowide-demibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'flamablack';
    src: url('../fonts/flamablack-webfont.eot');
    src: url('../fonts/flamablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamablack-webfont.woff') format('woff'),
         url('../fonts/flamablack-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flamalight';
    src: url('../fonts/flamalight-webfont.eot');
    src: url('../fonts/flamalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flamalight-webfont.woff') format('woff'),
         url('../fonts/flamalight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/*-- Header --*/


header {
	display:block;
	width:100%;
}

.middle {
	display:block;
	width:1140px;

}

header .middle {
	height:116px;
	position:relative;
	margin:0px auto 0px auto;
}

header #logo {
	position:relative;
	top:30px;
	left:0px;
	display:block;
	width:243px;
	height:75px;
	border:0px;
	margin:0px auto 50px auto;
}

header #logo, a#logo img {
	border:0px;	
	text-decoration:none;
}

header #logo img {
	margin-left:10px;	
}

#content {
	text-align:center;	
	padding-top:30px;
	display:block;
}

#content h1 {
	font-size:	24px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold !important;
	color:#0C0B09;
}

#content a {
		text-decoration:underline;
	color: #47aa42;
	text-transform:uppercase;	
	font-size:20px;
	font-weight:bold;
}

#content p {
	color:#7e8182;
	font-size:14px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
}


#content ul {
	margin-bottom: 		26px;
	padding:0px;
}

#content li {
	list-style:			square;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 			16px;
	font-weight: 		bold;
	margin-top: 		8px;
	line-height:20px;
	margin-bottom: 		8px;
	display:block;
	margin:0px auto;
	color:red;
	padding:0px;
}

footer {
	text-align:center;	
	color:#7e8182;
	margin-top:70px;
	border-top:1px solid #e5e5e5;
	padding-top:20px;
}

footer p {
	color:#7e8182;	
	font-size:12px;
}