/** For IE9 **/
.ie9 header nav ul li.aboutUs {
	margin-right:75px;
}

.ie9 .std#content ul.breadCrumb li {

}	

.ie9 .readMore, .ie9 a.readMore {
	background-position-y:4px;	
}

.ie9 .std#content #sideBar form ul li a.hideForm {
	background-position-y:4px;	
}

.ie9 #copy.productDetail .productInformation .tabs .tabsNav li a {
	padding-top:6px;	
}

.ie9 .std#content .news#copy ul.newsList {
	
}

.ie9 .std#content .news#copy ul.newsList li {
	width:432px;
}

.ie9 .std#content .news#copy ul.newsList li.second {
	width:431px;	
}

.ie9 #copy.productListing ul.listings li {
	margin-right:15px;	
}

.ie9 #copy.productListing ul.listings li.fifth, .ie10 #copy.productListing ul.listings li.fifth, .lt-ie9 #copy.productListing ul.listings li.fifth {
	margin-right:0px;	
}

.ie9 #homeBanner ul li h1 {
	line-height:64px;	
	padding:0px;
	margin:0px;
	text-shadow:none;
}

.ie9 #homeBanner ul li h2 {
	line-height:40px;	
	margin:0px 0px 10px 0px;
text-shadow:none;
}

.ie9 .largeBtn, .ie9  a.largeBtn {
	padding-right:20px;
}

.ie9 #homeTabs ul.middle li h3 {

	padding-top:0px;
	margin-top:0px;
}
	
	
.ie9 #copy.productDetail.featured .topProductInformation .description ul li, .ie9 #copy.productDetail .productInformation .description ul li {
	background-position-y:6px;	
}


.ie9 #copy .additionalBlocks ul li.third {
	width:245px;
}

.ie9 #copy.productDetail .productMedia #productImageGalleryNav li a  {
	filter:none !important
}

.ie9 .servicesEnquire {
	background-position: 14px 12px !important;
	padding-top: 10px!important;

}

	
/** For IE8 and under **/



.lt-ie9 #content.std .middle #copy.management ul.profileList li {
	
}

.lt-ie9 #content.std .middle #copy.management ul.profileList li.fifth {
	
}	


.lt-ie9 #copy.productDetail .productInformation .tabs .tabsNav li a {
	padding-top:6px;
}

.lt-ie9 #content.std .description .details {
	position:relative;
	top:-12px;	
}

.lt-ie9 footer .mailingList ol li label {
	position:absolute;
	top:30px;
}

.lt-ie9 #homeBanner ul li h1 {
	line-height:64px;	
	padding:0px;
	margin:0px;
}

.lt-ie9 #homeBanner ul li h2 {
	line-height:40px;	
	margin:0px 0px 10px 0px;
}

.lt-ie9 a.largeBtn {
	padding-right:20px;	
}

.lt-ie9 #homeTabs ul.middle li {
		width:372px;
}	

.lt-ie9 #homeTabs ul.middle li#homeHoverPanelMiddle { 
	width:380px;
}

.lt-ie9 #homeTabs ul.middle li#homeHoverPanelRight { 
	width:352px;
	border-right:0px;
}

.lt-ie9 header nav ul li.aboutUs {
	margin-right:75px;
}

.lt-ie9 #homeBlock {
	position:relative;
	top:-1px;	
}

.lt-ie9 header .search form input.text {
	padding-top:7px;
	height:18px !important;	
}

.lt-ie9 footer .mailingList input.text {
	padding-top:8px;
	height:20px;	
}

.lt-ie9 .std#content ul.breadCrumb li {
	background-image:url(../images/breadcrumb-spacer-two.gif);
}	

.lt-ie9 .std#content ul.breadCrumb li:last-child {
	background-image:none;	
}

.lt-ie9 .std#content ul.breadCrumb li.current {
	background-image:none;
}

.lt-ie9 .std#content #sideBar form ul li a.hideForm {
	background-position-y:4px;	
}

.lt-ie9 #copy.productDetail .productInformation .options a.rent,
.lt-ie9 #copy.productDetail.featured .topProductInformation .options a.rent  {
	background-position-y:13px;
}

.lt-ie9 #copy.productDetail .productInformation .options a.enquire, 
.lt-ie9 #copy.productDetail.featured .topProductInformation .options a.enquire  {
	background-position-y:13px;
}

.lt-ie9 #copy.productDetail .productInformation .options a.rent.fade,
.lt-ie9 #copy.productDetail.featured .topProductInformation .options a.rent.fade  {
	background-color:#c2c2c2;
}

.lt-ie9 #copy.productDetail .productInformation .options a.enquire.fade, 
.lt-ie9 #copy.productDetail.featured .topProductInformation .options a.enquire.fade  {
	background-color:#b5ddb3;
}

.lt-ie9 #copy.productDetail .topProductInformation .description ul li, .lt-ie9 #copy.productDetail .productInformation .description ul li  {
	background-position-y:7px;	
}

.lt-ie9 #content.std #sideBar form ul li.send input {
	background-position-y:10px;	

}

.lt-ie9 #content.std .middle #copy.contact .location {
	display:block;
	height:200px;
}

.lt-ie9 span.toolTip {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/*.lt-ie9 #homeBanner {
	display:block;
	width:100%;
	text-align:center;
	margin:0px;
	padding:0px;
	height:814px;
	position:relative;
	overflow:hidden;
	background-color:#000;
	border-top:0px solid #000;
	border-bottom:0px solid #000;
	z-index:777;
	min-height:auto;
	max-height:auto;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;         
	
}	

.lt-ie9 #homeBanner ul {
	display:block;
	list-style:none;
	padding:0px;
	max-width:100%;
	margin:0px auto 0px auto;
	height:814px;
	
}



.lt-ie9 #homeBanner ul li {
		display:none;
	position:relative;
	width:100%;
	
	margin:0px auto 0px auto;
	height:814px !important;
	text-align:center;
	list-style:none;
		background-size:100%;
		background-repeat:no-repeat;
	overflow:visible;
	padding-top:112px;
	background-position:center center;
}



.lt-ie9 #homeBanner ul li img {
	z-index:2;
	left:50%;
	top:0px;
	min-width:1140px !important;
	height:714px;
	width:auto;
}

.lt-ie9 #homeTabs {
	display:block;
	background-color:#3c3c3c;
	position:relative;
	bottom:0px;
	width:100%;
	z-index:999;
	
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
	
} */



.lt-ie9 #homeBanner {
	display:block;
	width:100%;
	text-align:center;
	margin:0px;
	padding:0px;
	height:100% !important;
	position:relative;
	overflow:hidden;
	background-color:#000;
	border-top:112px solid #000;
	border-bottom:168px solid #000;
	z-index:777;
	min-height:auto;
	max-height:auto;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;        
	max-height:100% !important; 
	
}	

.lt-ie9 #homeBanner ul {
	display:block;
	list-style:none;
	padding:0px;
	max-width:100%;
	margin:0px auto 0px auto;
	height:100%;
	
}



.lt-ie9 #homeBanner ul li {
		display:none;
	position:relative;
	width:100%;
	
	margin:0px auto 0px auto;
	height:100% !important;
	text-align:center;
	list-style:none;
		background-size:100%;
		background-repeat:no-repeat;
	overflow:visible;

	background-position:center center;
}



.lt-ie9 #homeBanner ul li img {
	z-index:2;
	left:50%;
	top:0px;
	min-width:1140px !important;
	min-height:auto;
	width:auto;
}

.lt-ie9 #homeTabs {
	display:block;
	background-color:#3c3c3c;
	position:absolute;
	bottom:0px;
	width:100%;
	z-index:999;
	
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
	
} 

.lt-ie9 .servicesOptions {
	position:relative;	
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	display:block;
	overflow:hidden;
}

.lt-ie9 .servicesEnquire {
	
	background-color: #47AA42;
	background-image: url(../images/large-read-more-white-arrow-icon.png) !important;
	background-repeat: no-repeat !important;
	background-position: 14px 13px !important;
	padding-left: 44px !important;
	padding-right: 15px!important;
	padding-top: 12px!important;
	padding-bottom: 12px!important;
	border: 0px !important;
	color: #FFF !important;
	-webkit-box-shadow: none !important;
	font-size: 15px !important;
	box-shadow: none !important;
	opacity: 1;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	position:relative;
	display:block !important;
}

.lt-ie9 .servicesEnquire:hover {
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	position:relative;	
}



/** For IE7 and under **/

.lt-ie8 #copy.productDetail .productInformation .options a.enquire, .lt-ie8 #copy.productDetail .productInformation .options a.rent, .lt-ie8 #copy.productDetail.featured .topProductInformation .options a.enquire, .lt-ie8 #copy.productDetail.featured .topProductInformation .options a.rent {
	border-radius:0;
	color:#FFF !important;
}

.lt-ie8 #content.std ul.breadCrumb li.firstChild {
	margin-right:3px;	
}


.lt-ie8 #content.std .description .details {
	position:relative;
	top:0px;	
}

.lt-ie8 #content.std .baseFix .inner {
	display:block;
	clear:both;
	float:none;
	margin-bottom:30px;
}

.lt-ie8 nav li, .lt-ie8  header .contact ul li, .lt-ie8 header .contact ul li, .lt-ie8 #content.std ul.breadCrumb li, .lt-ie8 footer .mailingList ol li, .lt-ie8 #copy.categoryListing ul.listings li, .lt-ie8 #copy.productDetail .productInformation .tabs .tabsNav li, .lt-ie8 footer .base ul.logos li  {
	display:inline;
}

.lt-ie8 footer nav {
	padding-top:40px;	
	padding-bottom:30px;
}

.lt-ie8 footer .base .copyright {
	float:left;	
}

.lt-ie8 header .search form input.submit {
	position:relative;
	border:0px;
	background-color:transparent;
}



.lt-ie8 footer nav ul li.clear {
	display:block;
	float:none !important;
	clear:both !important;
}


.lt-ie8 footer .mailingList input.submit {
	position:relative;
	top:1px;	
}


.lt-ie8 #copy .additionalBlocks ul li:nth-child(3n+3) {
	border-right:0px;
}
.lt-ie8 #copy.productDetail .productInformation .options {
	padding-top:10px;	
}
.lt-ie8 #copy.productDetail .productInformation .options a.enquire {
	float:left;	
}

.lt-ie8 #copy.productDetail .productInformation .description {
	clear:both;	
}

.lt-ie8  #content.std #copy.news ul.newsList li {
	display:inline;
	width:395px;	
}
.lt-ie8 #homeTabs ul.middle li h3 {
	line-height:30px;	
	background-position:0px 3px;
}

.lt-ie8 #homeBanner a.largeBtn {
	background-image:none;	
	background-color:#000;
	border-radius:0;
	-webkit-box-shadow:none;
       box-shadow:none;
}

.lt-ie8 #homeBanner a.largeBtn:hover {
	background-color:#3faa3f;
}

.lt-ie8 #homeBanner a.largeBtn span {
	padding-top:0px;
	line-height:24px;
	background-position: 0px 2px;
}


.lt-ie9 span.toolTip {
	left:40px;	
	top:-25px;
}

.lt-ie8 #copy.productDetail .productInformation .tabs .tabsNav li {
	margin-right:3px;	
}

.lt-ie8 #copy.productDetail.featured .topProductInformation .description ul li, .lt-ie8 #copy.productDetail .productInformation .description ul li {
	background-image:none;
	list-style:disc;
	list-style-position:inside;
}

.lt-ie8 #copy .additionalBlocks {
		
}

.lt-ie8 #copy .additionalBlocks ul li {
	display:inline;
	padding-top:20px;
}

.lt-ie8 #copy.productDetail.featured .topProductInformation .options {
	width:420px;
}

.lt-ie8 header nav ul li .megaMenu .menuCategories ul {
	vertical-align:top;	
}

.lt-ie8 header nav ul li .megaMenu .menuCategories ul li {
	width:170px !important;
	float:none;
	display:inline;
	margin-bottom:15px;
	vertical-align:top;
}

.lt-ie8 header nav ul li .megaMenu .menuCategories ul li a {
	
}

.lt-ie8 header nav ul li.products .megaMenu {

}

.lt-ie8 header nav ul li .megaMenu .menuCategories ul ul li {
	height:auto;
	padding:0px;
	margin:0px;display:block;
	
}

.lt-ie8 header nav ul li .megaMenu .menuCategories ul ul li a {
	height:auto;
	padding:0px;
	margin:0px;
	position:relative;
	margin-top:0px;
}


.lt-ie8 header nav ul li .megaMenu .menuCategories ul ul li:first-child a {
	top:0px;
}


.lt-ie8 #homeBanner ul li {
	left:0px !important;
}

.lt-ie8 #homeBanner ul li.base .cta {
		bottom:30%;
}

.lt-ie8 #homeBanner {
	border:0px;	

	
}


.lt-ie8 header nav ul li .megaMenu .menuCategories ul li {
	width:185px;
}
	
.lt-ie8 #homeBanner ul li {
	padding-top:112px !important;
	display:block;
	border-bottom:268px !important;
}

.lt-ie8 #homeBanner ul li img {
		
}
	
.lt-ie8 #homeTabs{
	
}	
	
	

/** For IE6 and under **/
.lt-ie6  { 
	
}

