::-moz-selection{ background: #009bc9; color:#fff; text-shadow: none; }
::selection { background:#009bc9; color:#fff; text-shadow: none; }


a, a:active {
	outline: none;
	-webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    -ms-transition: color .2s linear;
    transition: color .2s linear;
}

a:focus{
	-moz-outline-style: none;
}

a:active, a:selected, a:visited {
    border: none;
    outline: none;
}

.clear {
	clear:both;
}

html, body {
	margin:0px !important;
	padding:0px !important;
	height: 100%;
	width: 100%;
	min-width:1140px;
	background-color:#fff;
}

#wrapper {
	height:100%;
	background-color:#fff;
}


/*-- Header --*/


header, body.home header {
	display:block;
	width:100%;
	height:116px;
	background: #201c3e;
	position:fixed;
	z-index:99999999;
}


.middle {
	display:block;
	width:1140px;

}

header .middle {
	height:116px;
	position:relative;
	margin:0px auto 0px auto;
}

header #logo {
	position:absolute;
	top:28px;
	left:0px;
	display:block;
	width: 210px;
    height: 53px;
	z-index:999;
}

header .search {
	display:block;
	width:278px;
	height:28px;
	left:296px;
	position:absolute;
	top:10px;
}

header .search form {
	margin:0px;
	padding:0px;
	width:278px;
	height:28px;
	display:block;
	position:relative;
}

header .search form input.text {
	display:inline-block;
	width:234px;
	font-size:11px;
	color:#9a9b9c;
	padding-left:10px;
	float:left;
	height:24px !important;
	background: #201d3d;
	border:1px solid #767586;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position:relative;
}

header .search form input.text:focus {
	outline: none;
}

a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

header .search form input.submit {
	display:inline-block;
	float:right;
	width:31px;
	height:28px  !important;
	border:1px solid #767586;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color:#201d3d;
	border-left:0px;
	background-image:url(../images/top-search-icon.png);
	background-size: 13px;
	background-repeat:no-repeat;
	background-position:9px 6px;
	position:absolute;
	right:0px;
	top:0px;
}

header .search form input.submit:hover {
	background-color:#fff;
}

header .contact {
	position:absolute;
	top:10px;
	right:0px;
	font-weight: 700;
}

header .contact ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

header .contact ul li {
	display:inline-block;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	padding-top:4px;
	height:21px;
}

header .contact ul li.phone {
	background-image:url(../images/top-phone-icon.png);
	background-repeat:no-repeat;
	background-position: 0px 7px;
    padding-left: 27px;
	background-size: 17px auto;
}

header .contact ul li.email {
	background-image:url(../images/top-email-icon.png);
	background-repeat:no-repeat;
	background-position: 7px 8px;
	padding-left:35px;
	margin-left:20px;
	background-size: 18px auto;
}

header .contact ul li.email a {
	color:#fff;
	text-decoration:none;
}

header .contact ul li.email a:hover {
	color:#3695b2;
}

header nav {
	display:block;
	width:844px;
	position:absolute;
	bottom:0px;
	height:44px;
	font-weight: 700;
	left:296px;
}



header nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
	position:relative;
	
}

header nav ul li {
	display:inline-block;
	list-style:none;
	font-size:14px;
	text-transform:uppercase;
}

header nav ul li.home {
	margin-right:87px;
}

header nav ul li.services {
	margin-right:90px;
}

header nav ul li.products {
	/*width:20.0236966825%;*/
		margin-right:92px;
}

header nav ul li.news {
	/*width:15.1658767773%;*/
	margin-right:87px;
}

header nav ul li.aboutUs {
	/*width:17.7867298578%;*/
	margin-right:58px;
	position: relative;
}

header nav ul li.contactUs {
	/*width:11.5450236967%;*/
}

header nav#menu.nzNav ul li {
	margin-right: 57px;
}

header nav ul li.lastChild, header nav ul li:last-child {
	margin-right:0px;
	width:auto;
}

header nav#menu.nzNav > ul > li.lastChild, header nav#menu.nzNav > ul > li:last-child {
	margin-right: 0;
}

header nav ul li a, header nav ul li a:visited {
	color:#FFFFFF;
	text-decoration:none;
}

header nav ul li:hover a, header nav ul li a:hover, header nav ul li.current a {
	color:#3695b2;
	text-decoration:none;
}



/*-- Mega Menu --*/

header nav ul li a {
	position:relative;
	z-index:5;
	padding-bottom: 40px;
}

header nav ul li .megaMenu {
	display:none;
	background-color:white;
	width:1150px;
	padding: 0;
	position:absolute;
	left:-300px;
	top:0px;
	background-repeat:no-repeat;
	background-position:0px 0px;
	z-index:1;
	padding-top: 44px;
}

header nav ul li .megaMenu.products {
	padding-top: 0;
	top: 44px;
}


body.home header nav ul li .megaMenu, header nav ul li .megaMenu  {
-webkit-box-shadow: 0px 26px 60px -35px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 26px 60px -35px rgba(0,0,0,0.75);
box-shadow: 0px 26px 60px -35px rgba(0,0,0,0.75);
}


body.home header nav ul li.services .megaMenu, header nav ul li.services .megaMenu {
	background-image: none;
	background-color:transparent;
}

header nav ul li.services .megaMenu {
	width:760px;
	background-position:0px 0px ;
	left:-23px;
	padding-left:0;
	padding-right:23px;
}

header nav ul li.services .megaMenu .menuCategories {
	float:none;
	width:100%;
}

header nav ul li.services .megaMenu .megaBase {
	display:block;
	width:802px;
	height:3px;
}

header nav ul li .megaMenu .featuredProducts {
	width:302px;
	display:block;
	float:left;
	padding-left: 25px;
	padding-top: 25px;
	background: #f3f3f3;
	padding-right: 20px;
	padding-bottom: 25px;
}

header nav ul li .megaMenu .featuredProducts h3 {
	display:block;
	font-size:20px;
	margin:0px 0px 26px 0px;
	padding:19px 0px 20px 20px;
	color:#FFF;
	text-transform:none;
	font-weight:800;
	min-height:20px;
	background-color:#3695b2;
}

header nav ul li .megaMenu .featuredProducts ul {
	display:block !important;
	list-style:none;
}

header nav ul li .megaMenu .featuredProducts ul li {
	display:block !important;
	padding-bottom:13px;
	border-bottom:1px solid #eaeaea;
	margin-bottom:12px;
	height:auto;
}

header nav ul li .megaMenu .featuredProducts ul li.lastChild, header nav ul li .megaMenu .featuredProducts ul li:last-child {
	padding-bottom:0px;
	border-bottom:0px;
	margin-bottom:0px;
}

header nav ul li .megaMenu .featuredProducts ul li .image {
	display:block ;
	width:302px;
	height:	89px;
}

header nav ul li .megaMenu .featuredProducts ul li .image img {
	width:302px;
	display:block;
	height:	89px;
}

header nav ul li .megaMenu .featuredProducts ul li .details {
	display:block ;
	height:48px;
	width:302px;
	clear:both;
}

header nav ul li .megaMenu .featuredProducts ul li .details .logo {
	background-color:#201d3d;
	height:48px;
	width:180px;
	float:left;
	display:block;
	text-align:center;
}

header nav ul li .megaMenu .featuredProducts ul li .details .logo img {
	max-width:180px;
	max-height:48px;

}


header nav ul li .megaMenu .featuredProducts ul li .details .readMore {
	background-color:#3695b2;
	height:30px;
	float:right;
	display:inline-block;
	width:105px;
	color:#fff;
	margin:0px 0px 0px 0px;
	padding:18px 0px 0px 17px;
	font-weight: 800;
	transition: background-color 0.2s linear;

}


header nav ul li .megaMenu .featuredProducts ul li .details .readMore:hover {
	background-color:#e3224b;

}

header nav ul li .megaMenu .menuCategories {
	padding-top: 25px;
	width:763px;
	display:block;
	float:right;
	clear:right;
	padding-right: 20px;
	background: #fff;
	padding-left: 20px;
}

header nav ul li .megaMenu .menuCategories h3 {
	display:block;
	font-size:20px;
	margin:0px 0px 21px 0px;
	padding:19px 0px 20px 20px;
	color:#FFF;
	text-transform:none;
	font-weight:800;
	min-height:20px;
	background-color:#201d3d;
}

header nav ul li .megaMenu .menuCategories ul {
	vertical-align:top;
}

header nav ul li .megaMenu.products .menuCategories > ul {
	column-count: 3;
  	column-gap: 0;
}

header nav ul li .megaMenu .menuCategories ul li {
	display:inline-block;
	float:none;
	margin-bottom:25px;
	width:186px;
	padding-right:20px;
	box-sizing:border-box;
		vertical-align:top;
	-moz-box-sizing:border-box; /* Firefox */
}

header nav ul li.services .megaMenu .menuCategories  {
	padding-bottom:30px;
}

header nav ul li .megaMenu .menuCategories ul li a {
	font-size:11px;
	color:#3695b2;
	border-bottom:1px solid #eaeaea;
	width:100%;
	display:block;
	line-height:13px;
	font-weight: 800;
	padding-bottom: 2px;
}

header nav ul li .megaMenu .menuCategories ul li a:hover {
	color:#201d3d
}

header nav ul li .megaMenu .menuCategories ul.first, header nav ul li .megaMenu .menuCategories ul.second, header nav ul li .megaMenu .menuCategories ul.third {
	margin-right:22px;
}

header nav ul li .megaMenu .menuCategories ul.first {
	clear:left;
}


header nav ul li .megaMenu .menuCategories ul li:nth-child(4n+4) {
	clear:right;
}

header nav ul li .megaMenu .menuCategories > ul ul {
	display:block;
	width:100%;
	float:none;
	margin-bottom:0px;
	padding-top:7px;
}

header nav ul li .megaMenu .menuCategories > ul ul li {
	display:block;
	padding-bottom:0px;
	border-bottom:0;
	width:100%;
	line-height:13px;
	height:auto;
	margin-bottom:0px;
}

header nav ul li .megaMenu .menuCategories > ul ul li a {
	font-size:10px;
	color:#9a9b9c;
	border:0px;
	font-weight: 700;
	padding-bottom: 0;
}

header nav ul li .megaMenu .menuCategories > ul ul li a:hover {
	color:#201d3d
}

/*-- Content --*/

#content {
	display:block;
	width:100%;
	position:relative;
	z-index:444;
}

#homeBanner {
	display:block;
	width:100%;
	text-align:center;
	margin:0px;
	padding:0px;
	height:100%;
	position:relative;
	overflow:hidden;
	background-color:#000;
	border-top:112px solid #000;
	border-bottom:168px solid #000;
	z-index:777;
	min-height:500px;
	
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
}

#homeBanner span.megaCover {
	display:none;
	width:9000px;
	height:9000px;
	position:absolute;
	top:0px;
	left:0px;
	background-image:url(../images/home-banner-cover.png);
	background-repeat:repeat;
	z-index:444;
}

#homeBanner ul {
	display:none;
	list-style:none;
	padding:0px;
	max-width:100%;
	margin:0px auto 0px auto;
	height:100%;
	background-color:#000;
}

#homeBanner ul li {
	display:none;
	position:absolute;
	width:100% !important;
	left:auto !important;
	right:auto !important;
	margin:0px auto 0px auto;
	height:100% !important;
	text-align:center;
	list-style:none;
	background-size:cover;
	background-repeat:no-repeat;
	overflow:hidden;
	background-position:center center;
	background-color:#000;
}

/*#homeBanner ul li:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0.5;
	background: #444;
}*/

#homeBanner ul li img {
	z-index:2;
	
	left:50%;
/*	min-width:1140px;
	max-width:1600px;
	width:100%;
	width:auto;
	*/
	top:0px;
	/*height:100% !important;*/
	min-width:1140px !important;
	min-height:100%;

}



#homeBanner ul li .cta {
	position:absolute;
	z-index:5;
	text-align:left;
	left:47%;
	display:table-cell;


	width:600px;
	z-index:777;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	vertical-align:bottom;
}

#homeTabs .middle {
	position: relative;
}
/*
#homeTabs .middle:after {
	content: "";
	position: absolute;
	left: -220px;
	top: -256px;
	background-image:url(../images/shape-accent.png);
	background-size: auto 305px;
	height: 305px;
	width: 430px;
	z-index: 999999;
}
*/
@media screen and (max-width: 768px) {
	#homeTabs .middle:after {
		display: none;
	}

	#wrapper > footer {
		display: none !important;
	}
}

#homeBanner ul li .cta h1 {

}

#homeBanner ul li.top .cta {
	top:10%;
}

#homeBanner ul li.middle .cta {
	top:30%;
}
#homeBanner ul li.base .cta {
		bottom:20%;
}

#homeBanner ul li h1 {
	margin:0px 0px 10px 0px;
	color:#FFF;
	line-height:56px;
	font-size:58px;
	font-weight: 300;   
}

#homeBanner ul li h2 {
	margin:0px 0px 25px 0px;
	color:#FFF;
	font-weight:700;
	font-size:34px;
	line-height: normal;
     
}

.largeBtn, a.largeBtn {
	display:inline-block;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color:#FFF;
	text-decoration:none;
	position:relative;
	padding:10px 30px 13px;
	font-size:15px;
	font-weight:800;
	background: #de174c;
}

a.largeBtn.thankYou {
	color:#FFF !important;	
	font-size:14px;
}

.largeBtn:hover {
	background-color:#3695b2;
	background-image:none;
	color:#FFF;
}

/*.largeBtn span {
	display:block;
	min-height:20px;
}*/

.largeBtn:hover span {
}

#homeTabs {
	display:block;
	background-color:#e4e4e4;
	position:absolute;
	bottom:0px;
	width:100%;
	z-index:999;
	background-image:url(../images/hometabs-temp-bg.gif);
	background-repeat:repeat;
	background-position:top center;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
	
}



#homeTabs ul.middle {
	width:1140px;
	list-style:none;
	margin:0px auto 0px auto;
	min-height:168px;
	padding:0px 0px 0px 0px;
}

#homeTabs.left {
	background-image:url(../images/tabs-hover-left.gif);
	background-repeat:repeat-y;
	background-position:top center;

}

#homeTabs.right {
	background-image:url(../images/tabs-hover-right.gif);
	background-repeat:repeat-y;
	background-position:top center;
	
}

#homeTabs ul.middle li {
	display:block;
	float:left;
	width:383px;
	list-style:none;
	margin:0px;
	
	list-style:none;
	border-right:1px solid #cecece;

	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
	position:relative;
	
}

#homeTabs ul.middle li.firstChild, #homeTabs ul.middle li:first-child {
	padding-left:0px;
	width:372px;
}

#homeTabs ul.middle li.lastChild, #homeTabs ul.middle li:last-child {
	clear:right;
	border-right:0px;
}


#homeTabs ul.middle li a {
	text-decoration:none;
	display:block;
	min-height:116px;
	padding:33px 20px 25px 20px;
}

#homeTabs ul.middle li h3 {
	display:block;
	font-size:28px;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 30px;
	color:#201d3d;
	font-weight:300;
	min-height:20px;
}


#homeTabs ul.middle li p {
	color:#201d3d;
	display:block;
	margin:0px 0px 8px 0px;
	padding:0px 0px 0px 30px;
	font-size:12px;
	line-height:18px;
}

#homeTabs ul.middle li#homeHoverPanelMiddle:hover {
	background-color:#201d3d;
}

#homeTabs ul.middle li:hover p,
#homeTabs ul.middle li:hover h3 {
	color:#FFF;
}

.readMore, a.readMore {
	line-height:12px;
	background-repeat:no-repeat;
	background-position:0px 5px;
	text-transform:uppercase;
	font-size:11px;
	font-weight: 800;
	text-decoration:none;
	color:#299fc3;
	padding: 0;
	margin:0px;
}


#homeTabs ul.middle li .readMore {
	margin-left:30px;
	display: block;
	
}

#homeBlock {
	display:block;
	width:100%;
	background-color:#ffffff;
	clear:both;
}


#homeBlock ul.middle {
	width:1140px;
	list-style:none;
	margin:0px auto 0px auto;
	padding:0px 0px 0px 0px;
	min-height:231px;
	color: #201d3d;
}

#homeBlock ul.middle li {
	display:block;
	float:left;
	width:384px;
	list-style:none;
	margin:0px;
	padding:0px 0px 0px 0px;
	list-style:none;
}

#homeBlock ul.middle li.firstChild, #homeBlock ul.middle li:first-child {
	padding-left:152px;
	width:220px;
	padding-top:20px;
}

#homeBlock ul.middle li.nz {
	background-image:url(../images/new-zealand-map.png);
	background-repeat:no-repeat;
	background-position:0px 22px;
	background-size: 133px auto;
	min-height:190px;
}

#homeBlock ul.middle li.aus {
	background-image:url(../images/australia-map.png);
	background-repeat:no-repeat;
	background-position:0px 52px;
	min-height:190px;
}

#homeBlock ul.middle li.contact h3 {
	display:block;
	color:#201d3d;
	min-height:29px;
	font-size:20px;
	font-weight:800;
	margin:0px 0px 6px 0px;
	padding:3px 0px 0px 0;
}

#homeBlock ul.middle li.contact h3 a {
	color:#201d3d;
	text-decoration:none;
}

#homeBlock ul.middle li.contact span.subHead {
	display:block;
	margin-bottom:10px;
	font-size:11px;
}

#homeBlock ul.middle li ul {
	width:auto;
	display:block;
	margin:0px 0px 11px 0px;
	padding:0px 0px 0px 0px;
	font-size:11px;
	list-style:none;
}

#homeBlock ul.middle li ul li {
	display:block;
	float:none;
	width:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
}

#homeBlock ul.middle li ul li a {
	color:#3c3c3c;
	text-decoration:none;
}

#homeBlock ul.middle li ul li.firstChild, #homeBlock ul.middle li ul li:first-child {
	padding:0px;
	margin:0px;
}

#homeBlock ul.middle li ul li strong {
	display:inline-block;
	width:55px;
}

#homeBlock ul.middle li.news .postImage .cover, #homeBlock ul.middle li.caseStudies .postImage .cover {
	background-image:url(../images/home-tabs-gradient-cover.png);
	background-repeat:repeat-y;
	display:block;
	background-position:0px 0px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	width:100%;
	height:100%;
}


#homeBlock ul.middle li.news .postImage h3, #homeBlock ul.middle li.caseStudies .postImage h3 {
	position:absolute;
	bottom:15px;
	left:0;
	display:block;
	color:#fff;
	font-size:20px;
	font-weight:800;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 15px;
	z-index:5;
}

#homeBlock ul.middle li.news .postImage, #homeBlock ul.middle li.caseStudies .postImage {
	display:block;
	height:88px;
	width:100%;
	position:relative;
	margin-bottom:18px;
}

#homeBlock ul.middle li.news .postImage img, #homeBlock ul.middle li.caseStudies .postImage img {
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
}

#homeBlock ul.middle li.news .postImage a, #homeBlock ul.middle li.caseStudies .postImage a {
	width:384px;
	height:88px;
	display:block;
	text-decoration:none;
	border:0px;
}

#homeBlock ul.middle li.contact h4, #homeBlock ul.middle li.news h4, #homeBlock ul.middle li.caseStudies h4 {
	text-transform:uppercase;
	font-size:12px;
	font-weight:700;
	text-decoration:none;
	color:#201d3d;
	padding:0px 0px 0px 0px;
	margin:0px 0px 5px 0px;

}

#homeBlock ul.middle li.news .postExcerpt, #homeBlock ul.middle li.caseStudies .postExcerpt {
	border-left:1px solid #eaeaea;
	padding-left:15px;
}

#homeBlock ul.middle li.nz a:hover, #homeBlock ul.middle li.aus a:hover, #homeBlock ul.middle li.news .postExcerpt a:hover, #homeBlock ul.middle li.caseStudies .postExcerpt a:hover {
	color:#201c3e;
}

#homeBlock ul.middle li.news p, #homeBlock ul.middle li.caseStudies p {
	font-size:11px;
	padding-right:15px;
	display:block;
	margin-top:0px;
	margin-bottom:9px;
}

#homeBlock ul.middle li.nz ul li a:hover, #homeBlock ul.middle li.aus ul li a:hover {
	color:#299fc3;
}

/*-- Standard Content --*/

#content.std {
	display:block;
	background-image:url(../images/std-content-bg.gif);
	background-repeat:repeat-y;
	position:relative;
	padding-top:113px;

	background-position:top center;
}

#content.std.contact .middle #copy .inner {
	padding-bottom:0px;	
}

#copy a {
	color:#3695b2;
	text-decoration:none;
}

#copy a:hover {
	color:#201c3e;
}

#content.std .middle {
	width:1140px;
	margin:0px auto 0px auto;
}

.lightGrey {
	background: #f3f3f3;
}

#content.std .middle #sideBar {
	display:block;
	width:272px;
	clear:left;
	float:left;
	padding-top:23px;
}

#content.std .middle #sideBar ul#sideMenu:after, .newslettersLink:after {
	content: "";
	position: absolute;
	left: -210px;
	bottom: -240px;
	background-image:url(../images/shape-accent.png);
	background-size: auto 205px;
    height: 205px;
    width: 289px;
	z-index: 999999;
}

#content.std .middle #sideBar.newsMenu ul#sideMenu:after {
	display: none;
}

#content.std.contact .middle #sideBar:after {
	bottom: -850px;
}

#content.std .middle #sideBar.show ul#sideMenu:after  {
	display: none;
}

#content.std .middle #sideBar ul#sideMenu {
	margin:0px;
	padding:0px;
	list-style:none;
	position:relative;
	width:254px;
}

#content.std .middle #sideBar ul#sideMenu li {
	display:block;
	list-style:none;
	font-size:14px;
	width:auto;
	border-bottom:1px solid #e3e3e3;
	margin-bottom:6px;
	padding-bottom:3px;
	font-weight: 600;
}

#content.std .middle #sideBar ul#sideMenu li.lastChild, #content.std .middle #sideBar ul#sideMenu li:last-child {
	border-bottom:0px;
}

#content.std .middle #sideBar ul#sideMenu li a, #content.std .middle #sideBar ul#sideMenu li a:visited {
	color:#9a9b9c;
	text-decoration:none;
}

#content.std .middle #sideBar ul#sideMenu li a:hover, #content.std .middle #sideBar ul#sideMenu li.current a, #content.std .middle #sideBar ul#sideMenu li.active a {
	color:#3695b2;
	text-decoration:none;
}

#content.std .middle #sideBar ul#sideMenu li.current li a, #content.std .middle #sideBar ul#sideMenu li.active li a {
	color:#9a9b9c;
	text-decoration:none;
}

#content.std .middle #sideBar ul#sideMenu li.current li a:hover {
	color:#3695b2;
	text-decoration:none;
}

#content.std .middle #sideBar ul#sideMenu li ul {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 12px;
	display:none;
}

#content.std .middle #sideBar ul#sideMenu li ul li {
	border-bottom:0px;
	padding-bottom:0px;
	margin-bottom:0px;
}

#content.std .middle #sideBar ul#sideMenu li ul li a {
	font-size:12px;
}

#content.std .middle #sideBar ul#sideMenu li ul li a:hover, #content.std .middle #sideBar ul#sideMenu li ul li.current a, #content.std .middle #sideBar ul#sideMenu li.active li.active a {
	color:#3695b2;
	text-decoration:none;
}

#content.std .middle #sideBar ul#sideMenu li.active li.active li a {
	color: #9a9b9c;
	text-decoration: none;
}

#content.std .middle #sideBar ul#sideMenu li.active li.active li a:hover, #content.std .middle #sideBar ul#sideMenu li.active li.active li.current a {
	color: #3695b2;
}

#content.std .middle #sideBar ul#sideMenu li ul li ul {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 12px;
}

#content.std .middle #sideBar ul#sideMenu li ul li ul li {
	border-bottom:0px;
	padding-bottom:0px;
	margin-bottom:0px;
}

#content.std .middle #sideBar ul#sideMenu li ul li ul li a {
	font-size:11px;
}

#content.std .middle #sideBar ul#sideMenu li.current ul, #content.std .middle #sideBar ul#sideMenu li.active ul {
	display:block;
}

#content.std .middle #sideBar ul#sideMenu li.current ul ul {
	display:none;
}

#content.std .middle #sideBar ul#sideMenu li.current ul li.current ul {
	display:block;
}

#content.std .middle #sideBar ul#sideMenu li.current ul li a {
	color:#9a9b9c;
}

#content.std .middle #sideBar ul#sideMenu li.current ul li.current a {
	color:#201c3e;
}

#content.std .middle #sideBar ul#sideMenu li.current ul li a:hover {
	color:#201c3e;
}

#content.std .middle #sideBar ul#sideMenu li.current ul li.current ul li a {
	color:#9a9b9c;
}

#content.std .middle #sideBar ul#sideMenu li.current ul li.current ul li a:hover {
	color:#201c3e;
}

#content.std .middle #sideBar ul#sideMenu li.current ul li.current ul li.current a {
	color:#201c3e;
}



#content.std .middle #sideBar h3 {
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 0px;
	padding-top: 0px;
	color: #201c3e;
	font-weight: 800;
	text-transform: uppercase;
}

#content.std .middle #copy {
	float:right;
	width:866px;
	clear:right;
	min-height:240px;
	border-left:1px solid #e1e1e1;
}

#content.std.productsSection .middle #copy {
	min-height:700px;
}

#content.std .middle #copy .inner {
	padding-left:20px;
	padding-top:18px;
	position:relative;
	padding-bottom:40px;
}

#content.std .middle #copy .inner span.note {
	position:absolute;
	top:18px;
	right:0px;
	color:#9a9b9c;
	font-size:11px;
}

#content.std .middle #copy.subPage .inner span.note {
	display:none;
}

/**
 * On the category landing page this has to be positioned slightly lower.
 */
#content.std .middle #copy.categoryListing .inner span.note {
    top:50px;
}

#content.std ul.breadCrumb {
	display:block;
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:10px;
	font-weight: 700;
	text-transform: uppercase;
}

#content.std ul.breadCrumb li {
	display:inline-block;
	margin:0px 0px 0px 5px;
	padding:0px 10px 0px 0px;
	background-image:url(../images/breadcrumb-spacer.gif);
	background-repeat:no-repeat;
	background-position:top right;
}



#content.std ul.breadCrumb li.firstChild, #content.std ul.breadCrumb li:first-child {
	margin-left:0px;
}

#content.std ul.breadCrumb li.lastChild, #content.std ul.breadCrumb li:last-child {
	background-image:none;
	padding-right:0px;
}



#content.std ul.breadCrumb li a {
	color:#201d3d;
	text-decoration:none;
}


#content.std ul.breadCrumb li a:hover {
	color:#299fc3
}

#content.std ul.breadCrumb li.current a, #content.std ul.breadCrumb li span {
	color:#9a9b9c;
	cursor:default;
	height: 22px;
	display: block;
	white-space: nowrap;
}


#content.std h1 {
	font-size:	28px;
	line-height: 28px;
	color:#201c3e;
	font-weight:300;
}

#content.std h2 {
	font-size:	18px;
	color:#201c3e;
	font-weight:bold !important;
}

#content.std p, #content.std  {
	color:#555555;
	font-size:13px;
	line-height:20px;
	
}

#content.std p {
	margin-bottom:22px;	
}

#content.std p.intro {
	font-size:16px;
	line-height:22px;
	font-weight:bold;
}

#content.std hr {
	display:block;
	margin-top:20px;
	margin-bottom:25px;
	clear:both;
	border-top:1px solid #e1e1e1;
}

#content.std #copy p img {
	max-width:846px;
	height:auto;
}

#content.std #copy .alignCenter {
	margin:0px auto 20px auto;
	display:block;
	max-width:846px;
	height:auto;
}

#content.std #copy .alignLeft {
	float:left;
	display:block;
	max-width:551px;
	height:auto;
	margin-bottom:20px;
	margin-right:40px;
}

#content.std #copy .alignRight {
	float:right;
	max-width:551px;
	height:auto;
	display:block;
	margin-bottom:20px;
	margin-left:40px;
}

span.read-more {
	display:block;
	margin-top:10px;
}

span.read-more a, span.read-less a {
	font-weight: 800;
	text-transform: uppercase;
}


/*-- Category Listings --*/

#copy.categoryListing  {
	position:relative;	
}

#copy.productDetail {
	position:relative;
	display:block;	
}

#copy.categoryListing span.leftArrow, #copy.productDetail span.leftArrow {
	display:block;
	width:25px;
	height:24px;
	background-image:url(../images/left-arrow.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	background-size: 24px auto;
	cursor:pointer;	
	position:absolute;
	top:187px;
	z-index:555;
	left:-12px;
	transition: opacity 0.2s linear;
}

#copy.categoryListing span.leftArrow:hover, #copy.productDetail span.leftArrow:hover {
	opacity: 0.6;	
}


#copy.categoryListing span.rightArrow, #copy.productDetail span.rightArrow  {
	display:block;
	width:25px;
	height:24px;
	background-image:url(../images/right-arrow.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	cursor:pointer;	
	position:absolute;
	top:187px;
	z-index:555;
	right:-12px;
	background-size: 24px auto;
	transition: opacity 0.2s linear;
}

#copy.categoryListing span.rightArrow:hover, #copy.productDetail span.rightArrow:hover  {
	opacity: 0.6;	
}

#copy.categoryListing #featureSlider {
	display:block;
	width:866px;
	list-style:none;
	margin:0px;
	padding:0px;
	height:411px;
	overflow:hidden;
	background-color:#000;
}

#copy.categoryListing .featureSliderNav {
	display:block;
	float:right;
	margin-top:10px;
	position:relative;
	z-index:888;
}

#copy.categoryListing .featureSliderNav a {
	display:inline-block;
	width:12px;
	height:12px;
	margin-left:5px;
	background-color: #9a9b9c;
	border-radius: 50%;
}

#copy.categoryListing .featureSliderNav a:hover, #copy.categoryListing .featureSliderNav a.activeSlide {
	background-color: #3695b2;
}

#copy.categoryListing ul.listings {
	list-style:none;
	display:block;
	margin:0px;
	padding:20px 0px 0px 0px;
	border-top:1px solid #e1e1e1;
}

#copy.categoryListing ul.listings li {
	display:inline-block;
	width:49.5%;
	padding-bottom:40px;
	margin-bottom:10px;
	border-bottom:1px solid #e1e1e1;
}

#copy.categoryListing ul.listings li:last-child, #copy.categoryListing ul.listings li.lastChild, #copy.categoryListing ul.listings li:nth-last-child(2) {
	border-bottom:0px;
	padding-bottom:0px;
	margin-bottom:0px;
}

#copy.categoryListing ul.listings li h2 a {
	text-decoration:none;
	color:#201c3e;
	font-weight: 800;
}

#copy.categoryListing ul.listings li h2 a:hover {
	color:#3695b2;
}

#copy.categoryListing ul.listings li .image {
	position:relative;
	display:block;
	width:155px;
	height:213px;
	float:left;
	clear:left;
        overflow:hidden;
}

#copy.categoryListing ul.listings li .imageContainer {

 	position:absolute;
	top:0px;
	left:0px;
	z-index:5;
	display:block;
	border: 1px solid #e1e1e1;
	width:155px;
	height:213px;
	box-sizing: border-box;
}

#copy.categoryListing ul.listings li .imageContainer img {
	position:absolute;
	top:1px;
	left:1px;
	z-index:3;
	display:block;
	width:153px;
	height:211px;
}

#copy.categoryListing ul.listings li .excerpt {
	float:right;
	width:59%;
	clear:right;
}

#copy.categoryListing ul.listings li .excerpt p {
	padding-right:20px;
}

#copy.categoryListing ul.listings li .excerpt p:first-child {
	margin-top:0px;
}

#copy.categoryListing ul.listings li .excerpt a.viewProducts {
	padding-top:10px;
	font-weight:800;
	text-decoration:none;
	color:#3695b2;
	text-transform: uppercase;
}

#copy.categoryListing ul.listings li .excerpt a.viewProducts:hover {
	color:#201c3e;
}


/*-- Product Listings --*/

#copy.productListing ul.catNav {
	display:block;
	margin:0px;
	padding:0px;
	text-transform: uppercase;
	font-weight: 800;
}

#copy.productListing ul.catNav li {
	display:block;
	float:left;
	padding-bottom:4px;
	height:auto;
	width:196px;
	margin-right:20px;
	margin-bottom:20px;
}

#copy.productListing ul.catNav li.fourth {
	clear:right;
	margin-right:0px;
}

#copy.productListing ul.catNav li a {
	font-size:11px;
	color:#201c3e;
	border-bottom:1px solid #eaeaea;
	text-decoration:none;
	width:100%;
	display:block;
}

#copy.productListing ul.catNav li a:hover {
	color:#3695b2
}

#copy.productListing ul.catNav li ul  {
	margin:0px;
	padding:7px 0px 0px 0px;
}

#copy.productListing ul.catNav li ul li {
	margin:0px;
	padding:0px;
	float:none;
	width:auto;
	display:block;
	height:auto;
	line-height:13px;
}

#copy.productListing ul.catNav li ul li a {
	font-size: 10px;
	color: #9a9b9c;
	border: 0px;
	height:auto;
	margin:0px;
	padding:0px;
}

#copy.productListing ul.catNav li ul li a:hover {
	color:#201c3e;
}

#copy.productListing .productsBlock {
	display:block;
	clear:both;
	padding-top:10px;
	position:relative;
	border-top:1px solid #eaeaea;
}

#copy.categoryListing.productListing ul.listings {
	border-top: none;
}


#copy.categoryListing.productListing ul.listings li {
	padding-bottom: 0;
	border-bottom: none;
}

#copy.categoryListing.productListing ul.listings li .image {
	float: none;
}

#copy.productListing .productsBlock a.browseAll {
	position:absolute;
	right:0px;
	top:29px;
	font-style:italic;
	text-decoration:none;
	color:#3695b2;
}

#copy.productListing .productsBlock a.browseAll:hover {
	color:#201c3e;
}

#copy.productListing ul.listings {
	list-style:none;
	margin:0px;
	padding:0px;
	display:block;
	float:none;
}

#copy.productListing ul.listings li {
	display:inline-block;
	width:153px;
	margin-bottom:20px;
	margin-right:15px;
	vertical-align:top;
}

#copy.productListing ul.listings li.fifth {
	margin-right:0px;
}


#copy.productListing ul.listings li .image {
	position:relative;
	display:block;
	width:155px;
	height:213px;
	clear:left;
	border:0px;
	text-decoration:none;
}

#copy.productListing ul.listings li .imageContainer {

 	position:absolute;
	top:0px;
	left:0px;
	z-index:5;
	display:block;
	width:155px;
	height:213px;
}


#copy.productListing ul.listings li img {
	position:absolute;
	top:1px;
	left:1px;
	z-index:3;
	display:block;
	width:153px;
	height:211px;
}

#copy.productListing ul.listings li .shortDetail {
	display:block;
	font-size:12px;
	line-height:14px;
	padding-top:10px;
}

#copy.productListing ul.listings li .shortDetail a.productTitle {
	color:#201c3e;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	
}

#copy.productListing ul.listings li .shortDetail a.productTitle:hover {
	color:#3695b2;
}

#copy.productListing ul.listings li .shortDetail span.price {
	font-weight:bold;
	color:#ff0000;
	display:block;
	padding-top:3px;
	font-size:12px;
}

#copy.productListing ul.listings li .shortDetail span.price small {
	color:#adaeb1;
	font-size:12px;
	font-weight:bold;
}

#copy.productListing ul.listings li .shortOptions {
	display:block;
	font-size:12px;
	font-weight:bold;
}

#copy.productListing ul.listings li .shortOptions span {
	color:#adaeb1;
}


#copy.productListing ul.listings li .shortOptions a {
	color:#3695b2;
	text-decoration:none;
	font-weight: 800;
}

#copy.productListing ul.listings li .shortOptions a:hover {
	color:#201c3e;
}


/*-- Sidebar Form --*/

#content.std #sideBar {
	position:relative;

}

#content.std #sideBar .sideForm {
	display:none;
	position:absolute;
	top:23px;
	background-color:#fdfdfd;
	left:0px;
	z-index:5;
	height:100%;
}

#content.std #sideBar form {
	display:block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:254px;

}

#content.std #sideBar form ul,
#content.std .formSide form ul  {
	list-style:none;
	margin:0px;
	padding:0px;
}

#content.std #sideBar form ul li,
#content.std .formSide form ul li {
	list-style:none;
	margin:0px 0px 18px 0px;
	padding:0px 0px 0px 0px;
}

#content.std #sideBar form ul li label,
#content.std .formSide form ul li label {
	color:#3695b2;
	font-size:12px;
	font-weight: 600;
		display:block;
	margin-bottom:3px;
}

#content.std #sideBar form ul li input,
#content.std .formSide form ul li input {
	display:block;
	border:1px solid #dbdbdb;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:238px;
	padding:5px 8px 5px 8px;
	color:#7f8082;
	position:relative;
}

#content.std #sideBar form ul li input:focus, 
#content.std #sideBar form ul li textarea:focus,
#content.std .formSide form li input:focus ,
#content.std .formSide form ul li textarea:focus{
		border:1px solid #c7c7c7 !important;	
		background-color:#f3f3f3;
	
}

#content.std #sideBar form ul li textarea,
#content.std .formSide form ul li textarea {
	display:block;
	border:1px solid #dbdbdb;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	width:238px;
	height:190px;
	padding:5px 8px 5px 8px;
	color:#7f8082;
	position:relative;
}

#content.std #sideBar form ul li.send input,
#content.std .formSide form ul li.send input {
	border:0px;
	float:left;
	color:#FFF;
	width:auto;
	display:inline-block;
	background-color:#e10e49;
	color:#FFF;
	text-decoration:none;
	padding:9px 30px 12px;
	font-size:14px;
	font-weight:800;
	-webkit-box-shadow: none;
     box-shadow:none;
     border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

#content.std #sideBar form ul li.send input:hover,
#content.std .formSide form ul li.send input:hover {
	background-color:#3695b2;
}

#content.std #sideBar form ul li a.hideForm {
	float:right;
	margin-right:0px;
	background-position:0px 4px;
	margin-top:12px;
}

#content.std #sideBar form ul li a.hideForm:hover {
		color:#201c3e;
}

/*-- Product Detail --*/

#content.std #copy.productDetail ul.breadCrumb {
	margin-bottom:16px;
}

#copy.productDetail .productMedia {
	float:left;
	width:355px;
	position:relative;
	margin-bottom:20px;
}

#copy.productDetail .productMedia ul#productImageGallery {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:485px 0px 0px 0px;
	position:relative;
	z-index:3;
}

#copy.productDetail .productMedia .imageCover {
	display:block;
	width:358px;
	height:485px;
	border: 1px solid #e1e1e1;
	position:absolute;
	box-sizing: border-box;
	top:0px;
	left:0px;
	z-index:888;
}



#copy.productDetail .productMedia ul#productImageGallery img {
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	width:358px;
	height:485px;
}

#copy.productDetail .productMedia ul#productImageGallery li {
	width:358px;
	height:485px;
	display:block;	
	position:absolute;
	top:0px;
	left:0px;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

#copy.productDetail .productMedia ul#productImageGallery li a {
	width:358px;
	height:485px;
	display:block;
	position:absolute;
	top:0px;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	cursor:default;
}

#copy.productDetail .productMedia #productImageGalleryNav {
	display:block;
	list-style:none;
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	height:95px;
	overflow:hidden;
}

#copy.productDetail .productMedia #productImageGalleryNav li {
	list-style:none;
	display:inline-block;
	height:93px;
	list-style:none;
	overflow:hidden;
	width:101px;
	position:relative;
	margin-right:24px;
    border:1px solid #e8e9e9;
}


#copy.productDetail .productMedia #productImageGalleryNav li a {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

#copy.productDetail .productMedia #productImageGalleryNav li.activeSlide a {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#copy.productDetail .productMedia #productImageGalleryNav li a {
	width:101px;
	height:93px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position: top center;
	display:block;
	position:absolute;
	top:0px;
	left:0px;
}

#copy.productDetail .productMedia #slidePager {
	position:relative;
	margin-top:15px;
}

#copy.productDetail .productMedia #slidePagerNext {
	position:absolute;
	right:-12px;
	bottom:37px;
	display:block;
	cursor:pointer;
	width:25px;
	height:24px;
	background-image:url(../images/right-arrow.png);
	background-repeat:no-repeat;
	background-size: 24px auto;
	z-index:9;
	transition: opacity 0.2s linear;

}

#copy.productDetail .productMedia #slidePagerPrev {
	position:absolute;
	z-index:9;
	cursor:pointer;
	left:-12px;
	bottom:37px;
	display:block;
	width:25px;
	height:24px;
	background-image:url(../images/left-arrow.png);
	background-repeat:no-repeat;
	background-size: 24px auto;
	transition: opacity 0.2s linear;
}

#copy.productDetail .productMedia #slidePagerPrev:hover, #copy.productDetail .productMedia #slidePagerNext:hover {
		opacity: 0.6;
}

#copy.productDetail .productMedia #slidePagerPrev.disabled, #copy.productDetail .productMedia #slidePagerNext.disabled {
	display:none !important;
	opacity:0.2;
	cursor:default;
}

#copy.productDetail .productMedia #slidePagerPrev.disabled:hover, #copy.productDetail .productMedia #slidePagerNext.disabled:hover {
	background-position:0px -24px;
	cursor:default;
}

#copy.productDetail .productInformation {
	float:right;
	width:	452px;
}

#copy.productDetail .productInformation .top h1 {
	margin-top:0px;
	float:left;
	display:block;
	width:300px;
	line-height:30px;
}

#copy.productDetail .productInformation .top span.price {
	color:#ff0000;
	font-weight:bold;
	font-size:24px;
	float:right;
}

#copy.productDetail .productInformation .top span.price small {
	font-size:12px;
	position:relative;
	top:-9px;
	color:#939598;
}

#copy.productDetail .productInformation .options {
	clear:both;
	display:block;
	margin-bottom:25px;
}

#copy.productDetail .productInformation .options a.enquire {
	background-color:#3695b2;
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	background-position:14px 14px;
	padding-left:44px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;
	border:0px;
	color:#FFF;
	-webkit-box-shadow: none;
	font-size:15px;
	box-shadow:none;
	opacity:1;	
}

#copy.productDetail .productInformation .options a.enquire:hover {
	background-color:#666666
}

#copy.productDetail .productInformation .options a.rent {
	background-color:#666666;
	background-image:url(../images/large-read-more-white-arrow-icon.png);
	background-repeat:no-repeat;
	color:#FFF;
	background-position:14px 14px;
	padding-left:44px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;
	border:0px;
	-webkit-box-shadow: none;
	float:right;
	font-size:15px;
	box-shadow:none;
	opacity:1;	
}

#copy.productDetail .productInformation .options a.rent:hover {
	background-color:#3695b2;
}

#copy.productDetail .productInformation .options a.rent.fade, #copy.productDetail .productInformation .options a.enquire.fade, #copy.productDetail.featured .topProductInformation .options a.enquire.fade, #copy.productDetail.featured .topProductInformation .options a.rent.fade {
	opacity:0.4 !important;	
	filter: alpha(opacity=40);

}

#copy.productDetail .productInformation .logo {
	display:block;
	margin-bottom:10px;
}

#copy.productDetail .productInformation .logo img {
	max-width:452px;
	height:auto;
	clear:both;
}

#copy.productDetail .productInformation .description {
	margin-bottom:20px;
	display:block;
}

#copy.productDetail .productInformation .description ul {
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#9a9b9c;
}

#copy.productDetail .productInformation .description ul li {
	list-style:none;
	color:#9a9b9c;
	background-image:url(../images/std-li-arrow.gif);
	background-repeat:no-repeat;
	background-position:8px 6px;
	background-size: 5px auto;
	margin-bottom:4px;
	padding-left:25px;
}


#copy.productDetail .productInformation .tabs, #copy.servicesDetail .tabs {
	display:block;
	margin-bottom:20px;
	background-color:#FFF;
}

#copy.productDetail .productInformation .tabs .tabsNav, #copy.servicesDetail .tabs .tabsNav {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	position:relative;
	top:1px;
}

#copy.productDetail .productInformation .tabs .tabsNav li, #copy.servicesDetail .tabs .tabsNav li {
	display:inline-block;

	font-size:10px;
	text-align:center;

	text-transform:uppercase;
	font-weight: 800;}

#copy.productDetail .productInformation .tabs .tabsNav li a, #copy.servicesDetail .tabs .tabsNav li a {
	display:inline-block;
	text-decoration:none;
	border:1px solid #e8e9e9;
	color:#9a9b9c;
/*	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;*/
	/*border-top-right-radius: 5px;*/
	padding:8px 15px 4px 15px;
	background-color:#fafafa;
	position:relative;
}

#copy.productDetail .productInformation .tabs .tabsNav li a.current, #copy.servicesDetail .tabs .tabsNav li .current {
	background-color:#FFF;
	border-bottom:1px solid #FFF;
	color:#3695b2;
}

#copy.productDetail .productInformation .tabs .block, #copy.servicesDetail .tabs .block {
	border:1px solid #e8e9e9;
	padding:20px;
	background-color:#FFF;
}

#copy.productDetail .productInformation .tabs .block h4, #copy.servicesDetail .tabs .block h4 {

font-size: 11px;
font-weight: normal;
text-decoration: none;
color: #201c3e;
padding: 0px 0px 0px 0px;
margin: 0px 0px 10px 0px;

	font-weight: 800;
}

#copy.productDetail .productInformation .tabs .block ul.table, #copy.servicesDetail .tabs .block ul.table {
	list-style:none;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	color:#9a9b9c;
	font-size:11px;
	
}

#copy.productDetail .productInformation .tabs .block ul.table li, #copy.servicesDetail .tabs .block ul.table li {
	border-bottom:1px solid #FFF;
	display:block;
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:#f1f1f1;
}

#copy.productDetail .productInformation .tabs .block ul.table li:nth-child(odd), #copy.servicesDetail .tabs .block ul.table li:nth-child(odd) {
	background-color:#fafafa;
}

#copy.productDetail .productInformation .tabs .block ul.table li:hover, #copy.servicesDetail .tabs .block ul.table li:hover{
	background: #f1f1f1;
}

#copy.productDetail .productInformation .tabs .block ul.table li strong, #copy.servicesDetail .tabs .block ul.table li strong {
	display:inline-block;
background-image:url(../images/table-divider.png);
background-repeat:repeat-y;
background-position:top right;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
}

#copy.productDetail .productInformation .tabs .block ul.table.specs li strong {
	width:160px;
	line-height: 16px;
	padding: 5px 10px;
}

#copy.productDetail .productInformation .tabs .block ul.table.specs li span {
	width:195px;
	display: inline-block;
	line-height: 16px;
	vertical-align: top;
	padding: 5px 10px;
}
#copy.productDetail .productInformation .tabs .block ul.table.downloads li strong, #copy.servicesDetail .tabs .block ul.table.downloads li strong {
	width:270px;
}

#copy.productDetail .productInformation .tabs .block ul.table.rental li strong {
	width:300px;
}

#copy.productDetail .productInformation .tabs .block ul.table.downloads li strong, #copy.servicesDetail .tabs .block ul.table.downloads li strong {
	background-image:none;	
}

#copy.productDetail .productInformation .tabs .block ul.table.downloads li a, #copy.servicesDetail .tabs .block ul.table.downloads li a {
	color:#9a9b9c;
}

#copy.productDetail .productInformation .tabs .block ul.table.downloads li span, #copy.servicesDetail .tabs .block ul.table.downloads li span {
	background-image:url(../images/table-divider.png);
	background-repeat:repeat-y;
	background-position:top left;
	padding-top: 5px;
padding-bottom: 6px;
}

#copy.productDetail .productInformation .tabs .block ul.table li span, #copy.servicesDetail .tabs .block ul.table li span {
	padding-left:15px;
	padding-right:15px;
	text-align:center;
		padding-top:3px;
	padding-bottom:3px;
}

#copy.productDetail .productInformation .tabs .block ul.table.specs li span, #copy.servicesDetail .tabs .block ul.table.specs li span {
	text-align:left;
}


/*-- Feature Product --*/

#copy.productDetail.featured #featureSlider {
	display:block;
	width:866px;
	list-style:none;
	margin:0px;
	padding:0px;
	height:411px;
	overflow:hidden;
	margin-bottom:10px;
	background-color:#000;
}

#copy.productDetail.featured .featureSliderNav {
	display:block;
	float:right;
	margin-top:0px;
	z-index:88;
	position:relative;

}

#copy.productDetail.featured .featureSliderNav a {
	display:inline-block;
	width:12px;
	height:12px;
	margin-left:5px;
	background-color: #9a9b9c;
	border-radius: 50%;
}

#copy.productDetail.featured .featureSliderNav a:hover, #copy.productDetail.featured .featureSliderNav a.activeSlide {
	background-color: #299fc3;
}

#copy.productDetail.featured .topProductInformation {
	float:right;
	width:452px;
}

#copy.productDetail.featured .topProductInformation .top {
	float:left;
	width:100%;
}

#copy.productDetail.featured .topProductInformation .top h1 {
	margin-top:0px;
	float:left;
	display:block;

	line-height:24px;
	margin-bottom:8px;
}

#copy.productDetail.featured .topProductInformation .top span.price {
	color:#ff0000;
	font-weight:bold;
	font-size:24px;
	float:none;
	clear:both;
	display:block;
}

#copy.productDetail.featured .topProductInformation .top span.price small {
	font-size:12px;
	position:relative;
	top:-9px;
	color:#939598;
}

#copy.productDetail.featured .topProductInformation .options {
	display:block;
	margin-bottom:25px;
	float:left;
}

#copy.productDetail.featured .topProductInformation .options a.enquire {
	background-color:#de174c;
	padding-left:20px;
	padding-right:20px;
	padding-top:12px;
	padding-bottom:12px;
	border:0px;
	color:#FFF;
	-webkit-box-shadow: none;
	font-size:14px;
	box-shadow:none;
	margin-right:15px;
	float:left;
}

#copy.productDetail.featured .topProductInformation .options a.enquire:hover {
	background-color:#666666
}

#copy.productDetail.featured .topProductInformation .options a.rent {
	background-color:#9a9b9c;
	color:#FFF;
	background-position:14px 13px;
	padding-left:20px;
	padding-right:20px;
	padding-top:12px;
	padding-bottom:12px;
	border:0px;
	-webkit-box-shadow: none;
	float:right;
	font-size:14px;
	box-shadow:none;
}

#copy.productDetail.featured .topProductInformation .options a.rent:hover {
	background-color:#3695b2;
}

#copy.productDetail.featured .topProductInformation .logo {
	display:block;
	margin-bottom:10px;
}

#copy.productDetail.featured .topProductInformation .logo {
	max-width:452px;
	height:auto;
}


#copy.productDetail.featured .topProductInformation .description {
	margin-bottom:20px;
	display:block;
	clear:both;
}

#copy.productDetail.featured .topProductInformation .description ul {
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#9a9b9c;
}

#copy.productDetail.featured .topProductInformation .description ul li {
	list-style:none;
	color:#555555;
	background-image:url(../images/std-li-arrow.gif);
	background-repeat:no-repeat;
	background-size: 5px auto;
	background-position:8px 6px;
	margin-bottom:4px;
	padding-left:25px;
}


#copy.productDetail.featured .main h3 {
	font-size:16px;
	color:#9a9b9c;
	font-weight:bold !important;
	margin-bottom:5px;
}

#copy.productDetail.featured.subPage .main {
	border-top:1px solid 	#e1e1e1;
	display:block;
	clear:both;
}

#copy .additionalBlocks {
	display:block;
	clear:both;
	position:relative;
	width:auto;
}

#copy .additionalBlocks.caseStudyBlocks {
	margin-top: -54px;
	float: left;
}

#copy .additionalBlocks ul {
	display:block;
	list-style:none;
	margin:0px;
	width:auto;
	clear:both;
	position:relative;
	top:1px;
	padding:0px;
	border-top:1px solid #e1e1e1;
}

#copy .additionalBlocks ul.multiple {
	background-image:url(../images/additional-block-bg.gif);
	background-repeat:repeat-y;
	background-position:0px 0px;
	border-top:0px;
}

#copy .additionalBlocks.caseStudyBlocks ul.multiple {
	background-image:url(../images/additional-block-bg-cs.gif);
	float: left;
	width: 905px;
}

#copy .additionalBlocks ul li {
	border-right:1px solid #e1e1e1;
	display:inline-block;
	float:none;
	width:247px;
	/*border-right:1px solid #e1e1e1;*/
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 20px 20px 20px;
	vertical-align:top;
}

#copy .additionalBlocks ul li.active {
	opacity: 0.5;
}

#copy .additionalBlocks ul.multiple li {
	border-top:1px solid #e1e1e1;
	display:inline-block;
	border-right:0px;
	float:none;
	width:247px;
	/*border-right:1px solid #e1e1e1;*/
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 20px 20px 20px;
	vertical-align:top;
}

#copy .additionalBlocks.caseStudyBlocks ul.multiple li {
	width:261px;
	padding:20px 20px 20px 20px;
	float: left;
}

#copy .additionalBlocks ul li.clear {
	display:block;
	height:0px;
	width:100%;
	clear:both;
	float:none;
	border:0px;
	padding:0px;	
}

#copy .additionalBlocks ul li.third {
	border-right:0px;
	width:245px;
}

#copy .additionalBlocks ul li h3 {
	font-size:18px;
color: #3695b2;
	margin-bottom:0px;
	font-weight: 400;
}


/*-- Services --*/

#content.std .middle #copy.servicesDetail .inner {
	padding-bottom:10px;
}

#content.std #copy.services ul.servicesList {
	list-style:none;
	margin:0px;
	padding:0px;
}

#content.std #copy.services ul.servicesList li {
	list-style:none;
	margin:0px 58px 30px 0px;
	padding:0px 0px 0px 0px ;
	float:left;
	display:block;
	width:394px;
}

#content.std #copy.services ul.servicesList li h2 {
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:25px;
	font-weight: 400 !important;
}

#content.std #copy.services ul.servicesList li.second {
	margin-right:0px;
}

#content.std #copy.services h3 {
	font-size:16px;
	color:#9a9b9c;
	font-weight:400 !important;
	margin-bottom:5px;
}



#content.std #copy.services .main ul {
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#9a9b9c;
}

#content.std #copy.services .main ul li {
	list-style:none;
	color:#9a9b9c;
	background-image:url(../images/std-li-arrow.gif);
	background-repeat:no-repeat;
	background-size: 5px auto;
	background-position:8px 4px;
	margin-bottom:4px;
	padding-left:25px;
}


/*-- News -- */

#content.std #copy .topPageImage, #content.std #copy .topPageImageShort {
	display:block;
}

#content.std #copy .topPageImage img, #content.std #copy .topPageImageShort img {
	max-width:866px;
	height:auto;
}

#content.std #copy .topPageImageShort {
	height:190px;
	overflow: hidden;
}

#content.std .middle #copy.news .inner {
	padding-bottom:10px;
}

#content.std .middle #copy.newsDetail .inner {
	padding-bottom:40px;
}



#content.std #copy.news ul.newsList {
	list-style:none;
	margin:0px;
	width:866px;
	background-image:url(../images/news-list-bg.gif);
	background-repeat:repeat-y;
	background-position:0px 0px;
	padding:0px 0px 0px 0px;


    box-sizing: border-box;

}

#content.std #copy.news ul.newsList li {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:29px 25px 20px 20px ;
	border-top:1px solid #e1e1e1;
	display: inline-block;
	vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	width:440px;
	vertical-align:top;
}

#content.std #copy.news ul.newsList li h2 {
	margin-bottom:0px;
	padding-bottom:0px;
	margin-top:15px;
	font-weight: 400 !important;
}

#content.std #copy.news ul.newsList li.second {
	margin-right:0px;
	border-right:0px;
	padding-left:23px;
	padding-right:0px;
	width:423px;
	margin-left:-1px;
}

#content.std #copy.news .pagination {
	display:block;
	padding-top:18px;
	padding-bottom:18px;
	clear:both;
	border-top:1px solid #e1e1e1;
	padding-left:20px;
	background-color:#FFF;
}

#content.std #copy.news .pagination p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:14px;
text-transform: uppercase;
	font-weight: 700;}

#content.std .newsletter h2 {
	font-weight: 400 !important;
}

#content.std #copy.news .pagination p strong {
	color:#cecece;
	margin-right:20px;
}

#content.std #copy.news .pagination p a {
	color:#9a9b9c;
	margin-right:20px;
}

#content.std #copy.news .pagination a:hover {
	color:#3695b2;
}



/*-- About --*/

#content.std .middle #copy.about .inner {
	padding-bottom:10px;
}

/*-- Management --*/

#content.std .middle #copy.management {
	display:block;
}


#content.std .middle #copy.management ul.profileList {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	display:block;
	width:846px;
	vertical-align:top;
}

#content.std .middle #copy.management ul.profileList li {
	display:inline-block;
	float:none;
	width:155px;
	margin-right:17px;
	margin-bottom:20px;
    height: 320px;
	vertical-align:top;
}

#content.std .middle #copy.management ul.profileList li.fifth {
	margin-right:0px;
}

#content.std .middle #copy.management ul.profileList li .image {
	position:relative;
	display:block;
	width:155px;
	height:213px;
	float:none;
	clear:left;
	overflow:hidden;
	background-color:#FFF;
}

#content.std .middle #copy.management ul.profileList li .imageContainer {
    border:0px solid #e8e9e9;
 	position:absolute;
	top:0px;
	left:0px;
	z-index:6;
	display:block;
	width:155px;
	height:213px;
}


#content.std .middle #copy.management ul.profileList li img {
	position:absolute;
	top:1px;
	left:1px;
	z-index:3;
	display:block;
	width:153px;
	height:211px;
}

#content.std .middle #copy.management ul.profileList li .shortDetail {
	display:block;
	clear:both;
	padding-top:10px;
	font-weight:bold;
}

#content.std .middle #copy.management ul.profileList li .shortDetail strong {
	display:block;
	color:#201c3e;
}

#content.std .middle #copy.management ul.profileList li .shortDetail span {
	display:block;
}

#content.std .middle #copy.management ul.profileList li .shortDetail span.title {
	color:#adaeb1;
        line-height: 16px;
        font-weight: 400;
}

#content.std .middle #copy.management .profileDetail {
	display:none;
}

#fancybox-outer, #fancybox-content {
	border:1px solid #e1e1e1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	display:block;
}


#fancybox-content li.current {
	list-style:none;
	margin:0px 0px 0px 0px;
}


#fancybox-content li .image {
	position:relative;
	display:block;
	width:155px;
	height:213px;
	float:left;

	overflow:hidden;
	background-color:#FFF;
}

#fancybox-content li .imageContainer {
    border:0px solid #e8e9e9;
 	position:absolute;
	top:0px;
	left:0px;
	z-index:6;
	display:block;
	width:155px;
	height:213px;
}


#fancybox-content li img {
	position:absolute;
	top:1px;
	left:1px;
	z-index:3;
	display:block;
	width:153px;
	height:211px;
}

#fancybox-content li .shortDetail {
	float:right;
	width:620px;
}

#fancybox-content li .shortDetail strong {
	font-size:28px;
	font-weight:300;
	line-height:28px;
	color:#201c3e;
}

#fancybox-content li .shortDetail span.title {
	display:block;
	font-size:16px;
	border-bottom:1px solid #e1e1e1;
	padding-bottom:10px;
	font-weight:600;
	margin-bottom:5px;
	color:#3695b2
}


#fancybox-content li .shortDetail a.profileTitle {
	display:none;
}

#fancybox-content p {
	color: #555555;
	font-size: 12px;
	line-height: 20px;
}

#fancybox-content ul {
	display:block;
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#9a9b9c;
}

#fancybox-content ul li {
	list-style:none;
	color:#9a9b9c;
	background-image:url(../images/std-li-arrow.gif);
	background-repeat:no-repeat;
	background-size: 5px auto;
	background-position:8px 4px;
	margin-bottom:4px;
	padding-left:25px;
}

#fancybox-content .profileDetail {
	display:block;
	float:right;
	width:620px;
}

#fancybox-content h3 {
	font-size:16px;
	color:#9a9b9c;
	font-weight:bold !important;
	margin-bottom:10px;
	margin-top:10px;
}

#fancybox-content p.intro {
	font-size:16px;
	line-height:22px;
	font-weight:bold;
}

#fancybox-close {
	display:block;
	background-image:url(../images/fancybox-close-x.png) !important;
	background-repeat:no-repeat !important;
	background-size: 25px auto !important;
	width:25px !important;
	height:25px !important;
	background-position:0px 0px !important;
	top:-10px !important;
	right:-10px !important;
}


/*-- Contact --*/


#content.std .middle #copy.contact {
	display:block;
}

#content.std .middle #copy.contact .topMap {
	height:305px;
	position:relative;
	display:block;
}

#content.std .middle #copy.contact #map_canvas {
	height:305px;
}


#content.std .middle #copy.contact .location {
	border-top:1px solid #e1e1e1;
	padding-bottom:20px;
	padding-top:10px;
	padding-left:20px;
	position:relative;
}

#content.std .middle #copy.contact .location h2 {
	width:auto;	

}

#content.std .middle #copy.contact .location.current {
	background-color:#fdfdfd;
}

#content.std .middle #copy.contact .location.current h2 {
	background-image:url(../images/map-pin-small.png);
	background-repeat:no-repeat;
	padding-left:25px;
	padding-top:3px;
	min-height:21px;
	background-size: 18px auto;	
}

/*.gm-style img {
	width: 37px !important;
	height: 45px !important;
}*/

#content.std .middle #copy.contact .location ul {
	
}

#content.std .middle #copy.contact .location ul {
	display:block;
	list-style:none;
	float:left;
	margin:0px 35px 0px 0px;
	width:262px;
	padding:0px 0px 0px 0px;
}

#content.std .middle #copy.contact .location ul.third {
	margin-right:0px;
	width:250px;
}

#content.std .middle #copy.contact .location ul li {
	border-bottom:1px solid #e3e3e3	;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
}

#content.std .middle #copy.contact .location ul li strong {
	display:inline-block;
	vertical-align:top;
	color: #201c3e;
	width: 70px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}


#content.std .middle #copy.contact .location ul.second li strong {
	width:140px;
}

#content.std .middle #copy.contact .location ul.third li strong {
	width:140px;
}

#content.std .middle #copy.contact .location ul li span {
	display:inline-block;
	color:#555555;
}

#content.std .middle #copy.contact .location ul li.lastChild, #content.std .middle #copy.contact .location ul li:last-child {
	border-bottom:0px;
}

#content.std.contact #sideBar .sideForm,
#content.std.skynet #sideBar .sideForm {
	display:block;
	position:absolute;
	top:23px;
	background-color:#fdfdfd;
	left:0px;
	z-index:5;
	height:100%;
}

#content.std.contact #sideBar form ul li input, 
#content.std.contact #sideBar form ul li textarea,
#content.std.skynet #sideBar form ul li input, 
#content.std.skynet #sideBar form ul li textarea {
	width: 238px;
}

#content.std.contact #sideBar form ul li.send input,
#content.std.skynet #sideBar form ul li.send input {
	width:auto;
}

/*-- Footer --*/

footer {
	background-color:#201d3d;
	border-top:1px solid #cccccc;
		z-index:799999;
	position:relative;
	clear:both;
}

footer .middle {
	width:1140px;
	margin:0px auto 0px auto;
	position:relative;
}

footer .middle a#footerLogo {
	top:25px;
	position:relative;
	left:0px;
	float:left;
	padding-bottom: 30px;
}

span.tagline {
    color: #9a9b9c;
    position: absolute;
    top: 66px;
    left: 0;
    font-weight: 600;
    font-size: 11px;
    font-style: italic;
}

footer h3 {
	font-size:14px;
	margin-bottom:5px;
	margin-top:0px;
	padding-top:0px;
	color:#3095b4;
	font-weight: 800;
	text-transform: uppercase;
}

footer .socialMedia {
	display:block;
	position:relative;
	left:120px;
	top:25px;
	float:left;
	z-index:5;
}

footer .mailingList {
	display:block;
	position:relative;
	float:right;
	top:25px;
	z-index:5;
}


footer .mailingList ol {
	list-style:none;
	margin:0px;
	padding:0px;
	position:relative;
}	

footer .mailingList ol li {
	position:relative;
	display:inline-block;
	margin:0px;
	padding:0px;
	list-style:none;
	margin-right:8px;
}

footer .mailingList ol li.submit {
	position:relative;
	top:-8px;	
	margin-right:0px;
}

footer .mailingList ol li label {
	position:absolute;
	top:27px;
	font-size:10px;
	left:0px;
}

footer .mailingList input.text {
	display:inline-block;
	width:243px;
	font-size:11px;
	color:#909299;
	padding-left:10px;
	float:left;
	height:24px;
	border:1px solid #767585;
	margin-right:0px;
	position:relative;
	background: #201d3d;
}

footer .mailingList input.text:focus {
	outline: none;
}

footer .mailingList input.submit {
	width:93px;
	display:inline-block;
	background-color:#3095b4;
	color:#FFF;
	font-size:15px;
	padding: 0;
	height:28px;
	font-weight:800;
	border:0px;
	text-align:center;
	line-height: 28px;
}

footer .mailingList input.submit:hover {
	background-color:#e3224b;
}


footer nav {
	display:block;
	width:100%;
	position:relative;
	padding-top:20px;
	clear:both;
	z-index:2;
}

footer nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
	margin-top:20px;
}

footer nav ul li {
	float:left;
	display:block;
	list-style:none;
	font-size:14px;
	margin-right:0px;
	list-style:none;
	position:relative;
}

footer nav ul li.clear {
	display:block;
	clear:both;
	float:none;
	padding-bottom:30px;
	width:100%;	
}

footer nav ul li.home {
	width:14.5614035088%
}

footer nav ul li.services {
	width: 22.070175%;
}

footer nav ul li.products {
	width: 19.421053%;
}

footer nav ul li.news {
	width:17.7192982456%;
}

footer nav ul li.aboutUs {
	width:16.9824561404%;
}

footer nav ul li.contactUs {
	width:8.98245614035%;
}

footer nav ul li.lastChild, footer nav ul li:last-child {
	margin-right:0px;
}
footer nav > ul > li > a {
	font-weight: 800;
	text-transform: uppercase;
}

footer nav ul li a, footer nav ul li a:visited {
	color:#fff;
	text-decoration:none;
}

footer nav ul li.lastChild, footer nav ul li:last-child {
	float:right;
}

footer nav ul li a:hover, footer nav ul li.current a {
	color:#3695b2;
	text-decoration:none;
}

footer nav ul li.current li a {
	color:#fff;
	text-decoration:none;
}
footer nav ul li a.current {
	color:#201c3e !important;
	text-decoration:none;
}

footer nav ul li ul.subMenu {
	display:block;
	width:auto;
	margin:0px;
	padding:6px 0px 0px 0px;
}

footer nav ul li ul.subMenu li {
	font-size:10px;
	margin:0px;
	padding:0px;
	float:none;
	display:block;
	margin-right:0px;
	line-height:16px;
}

footer nav ul li ul li a:hover, footer nav ul li ul li.current a {
	color:#3095b4;
	text-decoration:none;
}

footer .base {
	width:100%;
	height:33px;
	background-color:#201d3d;
	position:relative;
	bottom:0px;
	clear:both;
	border-top: 2px solid #413f5a;
}

footer .base:before {
	position: absolute;
	content: " ";
	width: 162px;
	height: 169px;
	background-image:url(../images/footer-shapes.png);
	background-repeat: no-repeat;
	background-size: contain;
	right: 0;
	top: -171px;
}


footer .base ul.logos {
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
	display:inline-block;
}

footer .base ul.logos li {
	list-style:none;
	margin:0px;
	padding:15px 0px 0px 0px;
	width:auto;
	text-align:left;
	display:block;
	float: left;
	margin-right: 20px;
}

footer .base ul.logos li img {
	width: auto;
	display: block;
	padding-bottom: 5px;
}

footer .base ul.logos li.firstChild {
	width: 23%;
	margin-right: 0;
}

footer .base ul.logos li.lastChild {
	margin-right: 0;
}

footer .base ul.logos li img.main {
	border-right: 1px solid #413f5a;
    padding-right: 39px;
}




footer .base ul.logos li a {
	border:0px;
	text-decoration:none;
}

footer .base ul.logos.nz li.third {
	text-align:center;
}

footer .base ul.logos.nz li.fourth {
	text-align:right;
}

footer .base ul.logos li.lastChild, footer .base ul.logos li:last-child {
	text-align:right;
}

footer .base .smallPrint {
	width:100%;
	color:#fff;
	font-size:10px;
	position:absolute;
	padding-top:7px;
	text-transform: uppercase;
	bottom:0px;
	height:26px;
	background-color:#201d3d;
	border-top: 1px solid #413f5a;
	font-weight: 600;
}

footer .base .smallPrint span.websiteDesign {
	float:right;
}

footer .base .smallPrint span.websiteDesign a:hover {
	color:#3695b2;
}

footer .base .smallPrint a {
	color:#9a9b9c;
	text-decoration:none;
}

#nav_categories {
	list-style:none;
	margin:0px;
	padding:0px;
}

#nav_categories li {
	list-style:none;
	margin:0px 0px 0px 0px ;
	padding:0px 0px 0px 0px;
}

#content.std .error_message p {
	font-size:10px;
	color:#3695b2;
	margin:0px;
	padding:0px;
	line-height:12px;
	position:relative;
	top:-3px;
}

#content.std .success_message {
	display: block;
	padding: 10px;
	
	background-color: #fffae6;
	border:1px dotted #ede1b0;

	box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
	width: 256px;
	margin-bottom:20px;
}

#content.std .success_message p {
	padding:0px;
	margin:0px;
	font-size: 12px;
	line-height:16px;
}

span.toolTip {
	display:none;
	background-color:#3b3b3b;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position:absolute;
	color:#FFF;
	font-size:10px;
	text-align:center;
	font-weight:normal;
	line-height:11px;
	padding:5px 12px;
	width:90px;
	top:-15px;
	left:30px;
}

span.toolTip img {
	position:absolute;
	bottom:-5px;
	left:5px;
}


span.toolTip {
        cursor: pointer;
}


.newsDetail .main img, .servicesDetail .main img {
	margin:15px;	
	max-width:816px !important;
}

/**
 * Email subscription errors (displayed by JS)
 */
.subscriptionError {
    display:none;
    color: red;
}

#copy.productDetail .productMedia #slidePagerNext {
	display:none;	
}

#fancybox-wrap {
	margin-top:70px;
}

/**
 * Used to hide the automatically output product name field on rental/enquiry forms.
 */
.li_product_name {
    display:none;
}

@-moz-document url-prefix() { 
	#content.std ul.breadCrumb li {
   background-image:url(../images/breadcrumb-spacer-two.gif);
  }
  	#homeBlock {
		position:relative;
		top:-1px;
	}
}

#copy.productDetail.featured .topProductInformation .logo {
	clear: both;
	margin-bottom: 40px;
	margin-top: 40px;
	overflow: hidden;
}

.servicesOptions {
    float: right;
}

#ui-datepicker-div {
    z-index:999 !important;
}

.servicesEnquire {
	
	background-color: #3695b2;
	background-repeat: no-repeat !important;
	background-position: 14px 13px !important;
	padding-left: 15px !important;
	padding-right: 15px!important;
	padding-top: 12px!important;
	padding-bottom: 12px!important;
	border: 0px !important;
	color: #FFF !important;
	-webkit-box-shadow: none !important;
	font-size: 15px !important;
	box-shadow: none !important;
	opacity: 1;
	filter:none !important;

	position:relative;
}

.additionalBlocks h2 {
	padding-left:20px;	
}

.servicesEnquire:hover {
	background-color:#3695b2 !important;}

form .li_about {
    display: none;
}


#image404 {
    float: right;
    margin: 30px;
}

a.newslettersLink {
	color: #9a9b9c;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 22px;
	padding-bottom: 20px;
	display: block;
	font-weight: 800;
}

a.newslettersLink:hover, a.newslettersLink.current {
	color: #3695b2;
	text-decoration: none;
}

.newsletter a.readMore {
	display: block;
	margin-top: 6px;
}

.newsletter {
	border-bottom: 1px solid #E1E1E1;
}


/* New case study code */
#content .main.case-studies {
	background-position: -5px 0px;
	background-repeat: repeat-y;
	float: left;
	width: 100%;
	margin-top: 60px;
}

#content .main .content-column {
	float: left;
	width: 550px;
	margin-top: -60px;
	padding-bottom: 80px;
}

#content .main .content-column p {
	font-size: 14px;
	line-height: 24px;
}

#content .main .content-column p.introText {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 60px;
}

#content .main .content-column blockquote {
	color: #3695b2;
	background-image: url("../images/blockquote.png");
	background-position: 2px 3px;
	background-repeat: no-repeat;
	margin: 0;
	padding-left: 40px;
	background-size: auto 20px;
}

.productMedia #caption {
	color: #201c3e;
}

#content .main .content-column blockquote p {
	color: #e10e49;
}

#content .main .content-column h2 {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 22px;
	padding-left: 20px;
	margin-left: -20px;
	padding-top: 20px;
	font-size: 22px;
}

#content .main .right-sidebar {
	width: 235px;
	float: right;
	margin-top: -50px;
	border-left: 1px solid #E2E2E2;
	padding-left: 29px;
}

#content .main .right-sidebar p {
	margin-bottom: 7px;
}

#content .main .right-sidebar h2 {
	font-size: 22px;
	margin-bottom: 14px;
	margin-top: 10px;
}

#content .main .right-sidebar img, #content.std #copy .main .right-sidebar img,
#content.std #copy .right-sidebar p img {
	margin: 0;
	max-width: 100%;
}

.newsDetail .main .right-sidebar img, .servicesDetail .main .right-sidebar img {
max-width: 100% !important;
}

#content .main .right-sidebar h4 {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 800;
	padding-bottom: 5px;
	border-bottom: 1px solid #E2E2E2;
	margin-top: 30px;
	margin-bottom: -5px;
	width: 100%;
	color: #201c3e;
}

#content .main .right-sidebar h4.inline {
	width: auto;
	display: inline;
	border: none;
	padding: 0;
	margin: 0;
}





.case-studies .productMedia {
	margin-bottom: 40px;
	position: relative;
}

.case-studies #caption {
	position: absolute;
	top: 293px;
	z-index: 10000000;
	width: 100%;
	height: 50px;
	background-color: #FFF;
	opacity: 0.75;
	padding: 10px;
}

.case-studies ul#casestudyImageGallery {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:380px 0px 0px 0px;
	position:relative;
	z-index:3;
	margin-left: -13px;
}

.case-studies #casestudyImageGallery li {
	width:560px;
	height:360px;
	display:block;	
	position:absolute;
	top:0px;
	left:0px;
	overflow: hidden;
}

.case-studies #casestudyImageGallery li a {
	width:560px;
	height:360px;
	display:block;
	position:absolute;
	top:0px;
	cursor:default;
	overflow: hidden;
}

.case-studies #casestudyImageGallery li a img {
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	width:100%;
	height:auto;
}

.case-studies #casestudyImageGalleryNav {
	display:block;
	list-style:none;
	height:70px;
	overflow:hidden;
	margin-left: -13px !important;
}

.case-studies #casestudyImageGalleryNav li {
	list-style:none;
	display:inline-block;
	height:70px;
	list-style:none;
	overflow:hidden;
	width:95px;
	position:relative;
	background-size: cover;
}


.case-studies #casestudyImageGalleryNav li a {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.case-studies #casestudyImageGalleryNav li.activeSlide a {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.case-studies #casestudyImageGalleryNav li a {
	width:101px;
	height:93px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position: top center;
	display:block;
	position:absolute;
	top:0px;
	left:0px;
}

#pagerNav {
	position: absolute;
	right: 92px;
	bottom: 215px;
	display: block;
	z-index: 999;
}

#pagerNav a {
	border-radius: 50%;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-left: 10px;
	background-color: #9a9b9c;
	font-size: 1px;
	color: #9a9b9c;
	text-indent: -2000px;
	outline: none;
}

#pagerNav a:hover {
	background-color: #299fc3;
	color: #666;
}

#pagerNav a.activeSlide {
	background-color: #299fc3;
	color: #299fc3;
}

#content.std .skynet p {
	line-height: 20px;
}

#content .main .right-sidebar.skynet h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	text-transform: uppercase;
	color: #9a9b9c;
	border-bottom: none;
}

#content .main .right-sidebar.skynet h3 strong {
	text-transform: uppercase;
	font-weight: 800;
}

.mapArea {
	width: 100%;
	height: 610px;
	background: #f5f5f5;
}

.breadCrumb li.current {
	color: #a9a9a9;	
}

header nav ul li.services.aboutUs .megaMenu {
	width: 162px;
	padding-right: 0;
	padding-top: 40px;
	padding-bottom: 0;
	left: -20px;
}

header nav ul li.services.aboutUs .megaMenu .megaBase {
	width: 206px;
}

header nav ul li.services.aboutUs .megaMenu .menuCategories {
	background-position: -618px -40px;
	/*background-image: url("../images/services-mega-menu-bg.png");*/
	background-repeat: no-repeat;
	padding-right: 23px;
	padding-top: 20px;
	padding-bottom: 15px;
}

/*body.home header nav ul li.services.aboutUs .megaMenu .menuCategories {
	background-image: url("../images/home-mega-menu-bg.png");
}*/

#map-canvas {
	height: 100%;
}

/* Landing pages */
.keyStatments {
	background: #3c3c3c;
	color: #fff;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 68px;
}

.keyStatments h3 {
	margin-bottom: 0;
}

.keyStatments p {
	margin-top: 6px;
}

#content.std .keyStatments h2, 
#content.std .keyStatments h3  {
 	color: #fff;
}

#content.std.landingPage .keyStatments h2 {
	text-align: center;
	font-size: 24px;
}

#content.std.landingPage h2 {
	text-transform: uppercase;
 	font-size: 20px;
	font-weight: 800; 	margin-bottom: 40px;
 	margin-top: 30px;
}

#content.std.landingPage h3 {
	text-transform: uppercase;
 	font-size: 20px;
	font-weight: 800;}

#content.std.landingPage .formSide h3 {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 42px;
}

#content.std .keyStatments p {
 	color: #fff;
 	font-size: 13px;
 	line-height: 18px;
}

.pt-100 {
	padding-top: 100px;
}

.pb-70 {
	padding-bottom: 70px;
}

.landingPage h2 small {
	display: block;
	font-size: 14px;
	color: #3c3c3c;
	font-family: sans-serif;
	text-transform: none;
	margin-bottom: 40px;
}

.statement {
	width: 25%;
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 0 10px 0;
}

.statement img {
	height: 86px;
}

.landingPage .seven {
	width: 58%;
	display: block;
	float: left;
	overflow: hidden;
}

.landingPage .noVid  .seven{
	float: none;
	margin: 0 auto;
}

.landingPage .five {
	width: 42%;
	display: block;
	float: left;
	overflow: hidden;
}

.landingPage .quote {
	padding-bottom: 30px;
	padding-left: 24px;
	position: relative;
	padding-right: 30px;
}

.landingPage .quote:before {
	color: #c1c1c1;
	content: ' “ ';
	font-size: 30px;
	position: absolute;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-weight: 800;
}

.landingPage .quote p:after {
	color: #c1c1c1;
	content: ' ” ';
	font-size: 30px;
	position: relative;
	top: 8px;
	line-height: 12px;
	text-transform: uppercase;
	font-weight: 800;
}

#content.std.landingPage .quote p {
	line-height: 22px;
	font-size: 16px;
	margin-bottom: 6px;
	color: #3c3c3c;
	font-weight: 300;
}

.landingPage .middle {
	overflow: hidden;
}

.landingPage .author {
	font-size: 14px;
}

.landingPage .vid {
	margin-top: 30px;
}

.promoSection {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	padding-bottom: 170px;
}

.promoSection .threeProds .product:first-of-type {
	margin-left: 12%;
}

.promoSection .twoProds .product:first-of-type {
	margin-left: 25%;
}

.promoSection .oneProd .product:first-of-type {
	margin-left: 37%;
}

#content.std .promoSection h1 {
	text-align: center;
	
	font-size: 40px;
	margin-top: 140px;
	margin-bottom: 55px;
	text-transform: uppercase;
	font-weight: 800;
}

#content.std .promoSection a {
	color: #3c3c3c;
	text-decoration: none;
}

#content.std .promoSection h2 a:hover {
	text-decoration: underline;
}

#content.std .promoSection .Dark h1,
#content.std .promoSection .Dark h2,
#content.std .promoSection .Dark a  {
	color: #fff
}

.promoSection .product {
	display: block;
	float: left;
	width: 23%;
	padding: 0 1%;
	text-align: center;
}

.bannerArea {
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center left -290px;
	background-color: #3695b2;
}


@media screen and (min-width: 1441px)  {
	.bannerArea {
		background-position: center left;
	}
}

@media screen and (min-width: 1921px)  {
	.bannerArea {
		background-size: 60% auto;
	}
}

.formSide {
	background: #3695b2;
	width: 33%;
	float: left;
	display: block;
	padding-left: 45px;
	box-sizing: border-box;
	color: #fff;
}

#content.std .formSide p {
	color: #fff;
	line-height: 17px;
	margin-top: 8px;
	margin-bottom: 20px;
}

.bannerSide {
	width: 67%;
	float: left;
	display: block;
}

.promoSection .product img {
	max-width: 100%;
}

.promoSection .product .imgHolder {
	height: 218px;
	display: table-cell;
	vertical-align: bottom;
}

#content.std .promoSection h2 {
	margin-bottom: 22px;
	font-size: 22px;
}

@media screen and (max-width: 1139px) {
	#homeBlock ul.middle li {
		width: 383px;
	}

	footer .base ul.logos li, footer .base ul.logos li.firstChild {
		margin-right: 0;
		width: 20%;
	}

	footer .base ul.logos li img.main {
		border: none;
		padding-right: 0;
	}

	footer .base ul.logos li img {
		max-width: 90%;
		height: auto !important;
	}

	#homeTabs ul.middle li.activeSlide, #homeTabs ul.middle li:hover {
		background: #201d3d !important;
	}

	header #logo, header #logo img {
		margin-top: 0 !important;
	}

}

@media screen and (max-width: 1024px) {
	#content.std .promoSection h2 {
		font-size: 19px;
	}
}

@media screen and (max-width: 768px) {
	#content.std .promoSection h2 {
		font-size: 14px;
		margin-bottom: 12px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 340px) {
	#content.std .promoSection h2 {
		margin-top: 6px;
	}
}

.promoSection .product .largeBtn {
	background-color: #3695b2;
	font-size: 15px;
	background-size: 20px 20px;
	padding: 7px 20px 7px 20px;
	border-radius: 4px;
	box-shadow: none;
	margin: 0 auto;
	transition: all 0.4s ease;
}

.promoSection .product .largeBtn:hover {
	background-color: #358e30; 
}

.videoSide img {
	max-width: 60%;
    margin: 15px auto 0;
    display: block;
}

.bannerText {
	background: rgba(0,0,0,0.85);
	color: #fff;
	width: 450px;
	padding: 30px 35px 45px;
	box-sizing: border-box;
	margin-top: 120px;
	margin-bottom: 180px;
}

.bannerText img {
	width: 160px;
	margin-right: 15px;
}

#content.std.landingPage .bannerText h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300 !important;
	font-size: 18px;
	display: inline-block;
	margin-top: 4px;
	vertical-align: top;
}

#content.std.landingPage .bannerText h1 {
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300 !important;
	color: #fff;
	margin-top: 8px;
	margin-bottom: 14px;
}

.landingPage .bannerText .author {
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	font-family: Helvetica, Arial, sans-serif;
}

#content.std .formSide form ul li label {
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
}

#content.std .formSide form ul li {
	margin-bottom: 15px;
}

#content.std .formSide form ul li input {
	border-color: #389334;
	padding: 8px;
}

#content.std .formSide form ul li textarea {
	border-color: #389334;
	padding: 8px;
	height: 50px;
}

#content.std .formSide form ul li.send input {
	float: none;
	transition: 0.4s ease all;
	margin-bottom: 40px;
}

#content.std .formSide form ul li.send input:hover {
	background-color: #000;
}


#content.std .formSide form ul li.send input:focus {
	outline: none;
	border: none !important;
}

#content.std .formSide .success_message {
	background-color: #358e30;
	border-color: #277822;
}


@media (max-width: 768px) {
#copy.productDetail .productMedia ul#productImageGallery li a { 
	max-width: 100%;
	width: 358px !important; 
}

footer .base:before {
	display: none;
}

body #copy.productDetail.featured .topProductInformation .options a.largeBtn, 
body #copy.productDetail.featured .topProductInformation .options a.enquire, 
body #copy.productDetail.featured .topProductInformation .options a.rent {
	background-image: none;
	background-color: #de174c;
	padding-left: 16px;
	font-style:  normal;
	font-family: acumin-pro, sans-serif; 
	border-radius: 0;
	font-weight: 800;
}

body #copy.productDetail.featured .topProductInformation .options a.rent {
	background-color: #9a9b9c;
}

#content.std.skynet .middle #sideBar {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	min-height: 800px;
	border-top: 1px solid #ececec;
}

#content.std.skynet .middle {
	padding-bottom: 812px;
}

#content.std.skynet .middle #sideBar .sideForm {
	padding: 0 20px 40px;
	box-sizing: border-box;
	height: auto;
	position: relative;
}
#content.std.skynet .middle #sideBar h3 {
	display: block;
	padding-left: 0;
}
}

