@charset "UTF-8";
/* CSS Document */

/*
 * Load ALL CSS
 */ 

@import url(main.css);

@media print
{
	
	header nav, header .search, header .search, header .contact ul li.email, #content.std .middle #sideBar, footer, #homeBanner {
		display: none !important;	
	}
	
	header {
		width:866px !important;
	}
	
	header, header #logo {
		position:relative !important;	
	}
	
	#content.std {
		padding-top:0px !important;	
	}
	
	header .contact {
		left:720px;	
	}
	
	#homeTabs ul.middle li {
		float:none !important;
		width:866px !important;
		display:block !important;
		height:auto !important;	
		border:0px !important;
		padding:0px !important;
		margin-bottom:20px;
	}
	
	#homeTabs ul.middle li h3, #homeTabs ul.middle li p, #homeBlock ul.middle li.contact h3{
		padding:0px !important;
		
	}
	
	#homeBlock ul.middle li.news .postExcerpt, #homeBlock ul.middle li.caseStudies .postExcerpt {
		padding:0px !important;
		border:0px !important;	
	}
	
	#homeBlock ul.middle li {
		float:none !important;
		width:866px !important;
		padding:0px  !important;	
		border:0px !important;
	}

	#content.std .middle #copy {
		float:none !important;
		width:866px !important;	
		border:0px !important;
		padding:0px !important;
	}
	
	#copy.productDetail .productInformation .tabs .block {
		display:block !important;	
	}
	
	#copy .additionalBlocks ul li {
		display:block !important;
		width:95% !important;
		float:none;	
	}
/* IE8 HACKS */
/* IE8 prints at a much bigger size. Scale everything that you want print worthy, down to about 60% of original size */


}
