<div id="enquireForm" class="sideForm">
    <h3>Skynet RTK</h3>
    {exp:channel:entries channel="skynet_rtk" limit="1" url_title="{segment_1}" dynamic="no"}
        <p>{form_intro_text}</p>
    {/exp:channel:entries}
    {if segment_2 != ""}
    <div class="success_message">
    <p>
        Thank you, your message has been received. We will get back to you as
        soon as we can.
    </p>
    </div>
    {/if}
    
    {exp:freeform:form 
    return="skynet-rtk/index/%%entry_id%%" 
    inline_errors="yes" 
    form_name="skynet_rtk"
    required="first_name|last_name|email|phone_number"}
        <ul>
            
            <!-- first name field -->
            <li>
                <label>{freeform:label:first_name} *</label>
                {if freeform:error:first_name}
                <div class="error_message">
                    <p>{freeform:error:first_name}</p>
                </div>
                {/if}
                {freeform:field:first_name}
            </li>

            <!-- last name field -->
            <li>
                <label>{freeform:label:last_name} *</label>
                {if freeform:error:last_name}
                <div class="error_message">
                    <p>{freeform:error:last_name}</p>
                </div>
                {/if}
                {freeform:field:last_name}
            </li>

            <!-- Company name field -->
            <li>
                <label>{freeform:label:company_name}</label>
                {if freeform:error:company_name}
                <div class="error_message">
                    <p>{freeform:error:company_name}</p>
                </div>
                {/if}
                {freeform:field:company_name}
            </li>
            
            <!-- Email field -->
            <li>
                <label>{freeform:label:email} *</label>
                {if freeform:error:email}
                <div class="error_message">
                    <p>{freeform:error:email}</p>
                </div>
                {/if}
                {freeform:field:email}
            </li>
            
            <!-- Phone field -->
            <li>
                <label>Mobile Number *</label>
                {if freeform:error:phone_number}
                <div class="error_message">
                    <p>{freeform:error:phone_number}</p>
                </div>
                {/if}
                {freeform:field:phone_number}
            </li>

            
            <li class="send">
                <input name="submit" type="submit" value="Send Message" class="largeBtn" />
            </li>
                
            
        </ul>
    {/exp:freeform:form} 
</div>