<? $EE = &get_instance(); ?>

<? if (Synergy_Utils::getSiteCountry() == "AU"): ?>
{redirect="404"}
<? endif; ?>


{embed="Common/header"}
<div id="content" class="std skynet">
    <div class="middle">
        <div id="sideBar">
            {embed="Skynet-rtk/_skynet-form"}
        </div>
        
        {exp:channel:entries channel="skynet_rtk" limit="1" url_title="{segment_1}" dynamic="no"}
        {if no_results}{redirect='common/404'}{/if}
        <div id="copy" class="about">
            <div class="mapArea">
                <script type="text/javascript">
                function initialize() {
                    var mapOptions = {
                        center: {lat: -41.5614222, lng: 174.620918},
                        zoom: 6,
                        styles: [ { "stylers": [ { "saturation": -100 } ] },{ "featureType": "landscape", "elementType": "geometry", "stylers": [ { "visibility": "simplified" }, { "lightness": 27 } ] },{ "elementType": "labels", "stylers": [ { "visibility": "simplified" } ] },{ "featureType": "road", "elementType": "geometry", "stylers": [ { "visibility": "off" } ] },{ "elementType": "geometry", "stylers": [ { "visibility": "simplified" } ] },{ "featureType": "water", "stylers": [ { "color": "#cccccc" } ] },{ "featureType": "landscape.natural.terrain", "elementType": "geometry", "stylers": [ { "visibility": "off" } ] } ]
                    };
                    var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
                    var kmlUrl = 'https://synergypositioning.co.nz/Skynet-RTK5.kmz';
                    var kmlOptions = {
                        preserveViewport: false,
                        map: map
                    };
                    // Add circle overlay and bind to marker
                    //var waypointCenters = [[-36.741948,174.726754],[-43.887504,171.734859], [-35.737215,174.335381], [-40.94105,175.638457], [-42.345896,173.619655], [-40.798078,172.74354], [-46.552241,168.384903], [-42.733701,170.991283], [-41.752522,171.563427], [-45.8786,170.489028], [-44.014231,170.454647],[-37.895388,175.46917],[-43.546275,172.50490200000002],[-36.865428,175.749558],[-44.09398,170.841503],[-38.635337,177.886035],[-37.80675,175.109199],[-40.894389,175.029288],[-38.513005,174.854088],[-37.808317,175.775525],[-43.702732,172.654697],[-43.636983,171.65568],[-41.183508,173.433731],[-39.182553,174.118174],[-37.378651,175.66869],[-37.728807,176.260878],[-37.411073,175.145401],[-44.395702,171.239443],[-44.655701,170.920297],[-37.256584,174.729469],[-39.786877,174.821447],[-36.434409,174.66278],[-41.323465,174.8059],[-37.981684,177.013879],[-36.602839,174.834386],[-38.69153200000001,176.08188],[-39.633918,176.83318],[-39.390501,175.46458100000004],[-40.201017,176.064235],[-37.60625,178.26723],[-43.835785,169.05975800000002],[-45.00864169,168.74804509]];
                    var waypointCenters = [[-36.741948,174.726754],[-43.887504,171.734859], [-35.737215,174.335381], [-40.94105,175.638457], [-42.345896,173.619655], [-40.798078,172.74354], [-46.552241,168.384903], [-42.733701,170.991283], [-41.752522,171.563427], [-45.8786,170.489028], [-44.014231,170.454647],[-37.895388,175.46917],[-43.546275,172.50490200000002],[-36.865428,175.749558],[-44.09398,170.841503],[-38.635337,177.886035],[-37.74041357,175.23066175],[-38.513005,174.854088],[-37.808317,175.775525],[-43.702732,172.654697],[-43.636983,171.65568],[-41.183508,173.433731],[-39.182553,174.118174],[-37.378651,175.66869],[-37.68262915,176.16976414],[-37.411073,175.145401],[-44.395702,171.239443],[-44.655701,170.920297],[-39.786877,174.821447],[-36.434409,174.66278],[-41.323465,174.8059],[-37.981684,177.013879],[-36.602839,174.834386],[-38.69153200000001,176.08188],[-39.633918,176.83318],[-39.390501,175.46458100000004],[-40.201017,176.064235],[-37.60625,178.26723],[-43.835785,169.05975800000002],[-45.00864169,168.74804509],[-40.63994776,175.2767258],[-40.35953481,175.64440915],[-41.21175737,174.89598598],[-36.93828143,174.88895342],[-41.02176629,174.9520812],[-41.27805465,174.6276463],[-41.34048976,175.1365416],[]];
                    var circle = [];
                    for (var i = 0; i < waypointCenters.length; i++) {
                        var marker = new google.maps.LatLng(waypointCenters[i][0],waypointCenters[i][1]);
                        var CircleOptions = {
                            map: map,
                            strokeWeight: 0,
                            fillColor: '#3695b2',
                            fillOpacity: 0.35,
                            center: marker,
                            radius: 35000,
                            visible: false,
                        }
                        circle[i] = new google.maps.Circle(CircleOptions);
                    }     
                    var kmlLayer = new google.maps.KmlLayer(kmlUrl, kmlOptions);
                    google.maps.event.addListener(map, 'zoom_changed', function() {
                        var zoomLevel = map.getZoom();
                        for (var i=0; i < circle.length; i++) {
                            if (zoomLevel <= 6) {
                                circle[i].setOptions({visible: false});
                            } else {
                                circle[i].setOptions({visible: true})
                            }
                        }
                    });
                }
                google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                <div id="map-canvas"></div>
            </div>
          
            <div class="inner">
        
                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    {if segment_2 != ''}
                    <li><a href="/skynet-rtk">Skynet RTK</a></li>
                    <li class="current">{title}</li>
                    {if:else}
                    <li class="current">Skynet RTK</li>
                    {/if}
                </ul>

                 <div class="main case-studies">
                    <div class="content-column">
                        <h1>{title}</h1>
                       {page_content}
                    </div>
        
                    <div class="right-sidebar skynet">
                    {side_column_text}
                        <h2>{heading}</h2>
                        {para}
                    {/side_column_text}
                        <p><img src="/templates/common/images/case_study3.png"></p>
                        <h3><strong>Freecall:</strong> 0800 867 266</h3>
                    </div>
                </div>
            </div>
        
        
        </div>
        {/exp:channel:entries}
        <div class="clear"></div>
    </div>
</div>
{embed="Common/footer"}