{embed="Common/header"}
<div id="content" class="std">
    <div class="middle">
        <div id="sideBar">
            <h3>About us</h3>
            <ul id="sideMenu">
                {exp:channel:entries channel="about_us" url_title="not about-us" dynamic="no" search:about_available_in="<?=Synergy_Utils::getSiteCountry()?>|All"}
                <li class="{if '{segment_2}' =='{url_title}'}current{/if}"><a href="/about-us/{url_title}">{title}</a> </li>
                {/exp:channel:entries}
                <li class="{if segment_1 =='case-studies'}current{/if}"><a href="/case-studies">Case Studies</a> </li>
            </ul>

        </div>
        {if segment_2 != "key-contacts"}
            {embed="About-us/page"}
        {if:else}
            {embed="About-us/management-page"}
        {/if}
        <div class="clear"></div>
    </div>
</div>
{embed="Common/footer"}