<div id="copy" class="management">

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li class="current"><span>Key Contacts</span></li>

        </ul>

        <div class="main">
            
            {exp:channel:entries channel="about_us" limit="1" url_title="key-contacts" dynamic="no"}
            <h1>{title}</h1>

            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
            {about_page_content}
            <? else: ?>
            {about_page_content_au}
            <? endif; ?>
            {/exp:channel:entries}
            <hr />

            
            
            {exp:channel:entries channel="key-contacts" limit="1" url_title="key-contacts" dynamic="no"}
            {if no_results}{redirect='common/404'}{/if}
            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
            <h2>New Zealand</h2>
            <? else: ?>
            <h2>Australia</h2>
            <? endif; ?>
            
            
            <ul class="profileList">
                <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
                {staff_members search:country="NZ|All"}<li class="{switch='first|second|third|fourth|fifth'}">
                <? else: ?>
                {staff_members search:country="AU|All"}<li class="{switch='first|second|third|fourth|fifth'}">
                <? endif; ?>
                    <div class="image">

                        {if image == ""}
                        <a href="javascript:;" class="imageContainer viewProfile"></a>
                        <img src="/templates/common/images/profile-placeholder.jpg" alt="{name}" />
                        {if:else}
                        <a href="javascript:;" class="imageContainer viewProfile" title="{name} - Click here for profile detail."></a>
                        <img src="{image}" alt="{name}" />
                        {/if}



                    </div>
                    <div class="shortDetail">
                        <strong>{name}</strong>
                        <span class="title">{position}</span>
                        <a href="javascript:;" class="profileTitle" title="{name} - Click here for profile detail.">
                            <span class="viewProfile">View Profile</span>
                        </a>
                    </div>
                    <div class="profileDetail">
                        {profile_contents}
                    </div>
                </li>{/staff_members}
            </ul>
            {/exp:channel:entries}

        </div>
    </div>





</div>
