{exp:channel:entries channel="about_us" limit="1" url_title="{last_segment}" dynamic="no"}
{if no_results}{redirect='common/404'}{/if}
<div id="copy" class="about">
    <div class="topPageImage">
        
        <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
        <img src="{about_page_banner}" alt="{title}" />
        <? else: ?>
        <img src="{about_page_banner_au}" alt="{title}" />
        <? endif; ?>
    </div>

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li class="current"><a href="/about-us">About Us</a></li>

        </ul>

        <div class="main">
            <h1>{title}</h1>

            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
            {about_page_content}
            <? else: ?>
            {about_page_content_au}
            <? endif; ?>
            

        </div>
    </div>

    <div class="additionalBlocks">
        <ul>
            
            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
            {about_us_grid}
            <? else: ?>
            {about_us_grid_au}
            <? endif; ?>
            
            <li class="{switch="first|second|third"}">
                <h3>{grid_title}</h3>
                {grid_content}
            </li>
            <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
            {/about_us_grid}
            <? else: ?>
            {/about_us_grid_au}
            <? endif; ?>
      
        </ul>
        <div class="clear"></div>
    </div>



</div>
{/exp:channel:entries}