<h3>Synergy {site_country} Contact Form Submission</h3>
<hr />

<p>
    <b>From:</b> {name}
</p>

<p>
    <b>Company:</b> {company}
</p>

<p>
    <b>Email:</b> <a href="mailto:{email}">{email}</a>
</p>

<p>
    <b>Phone:</b> {phone}
</p>

<p>
    <b>Message:</b>
</p>
<p>
    {message}
</p>
