{exp:channel:entries channel="products" entry_id="{embed:entry_id}"}
<!-- Product Image -->
<a href="/products/{exp:cat_trail:get_cat_url cat_id='{embed:top_cat_for_product}'}/{url_title}" title="{title} - Click here for product detail." class="image">
    <div class="imageContainer"></div>
    {product_images limit="1"}
    <img src="{product_image}" alt="{title}" />
    {/product_images}
</a>

<!-- Product Details -->
<div class="shortDetail">
    <a href="/products/{exp:cat_trail:get_cat_url cat_id='{embed:top_cat_for_product}'}/{url_title}" class="productTitle" title="{title} - Click here for product detail.">{title}</a>
    
    <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
        {product_prices search:currency="NZD"}
         {if '{amount}' != '' && '{amount}' != '0'}
        <span class="price">${amount} <small>{currency}</small></span>
        {/if}
        {/product_prices}
    <? else: ?>
        {product_prices search:currency="AUD"}
         {if '{amount}' != '' && '{amount}' != '0'}
        <span class="price">${amount} <small>{currency}</small></span>
        {/if}
        {/product_prices}
    <? endif; ?>
</div>
{/exp:channel:entries}