{exp:search:simple_form channel="products|services" result_page="search/results" no_result_page="search/no-results"} 
<p>
    <label for="keywords">Search:</label><br>
    <input type="text" name="keywords" id="keywords" value="" size="18" maxlength="100">
</p>
<p>
    <input type="submit" value="submit" class="submit">
</p>
{/exp:search:simple_form}