{exp:channel:entries channel="services" entry_id="{embed:entry_id}"}
<!-- Product Image -->


<!-- Product Details -->
<div class="shortDetail">
    <a href="/services/{exp:cat_trail:get_cat_url cat_id='{embed:top_cat_for_product}'}/{url_title}" class="productTitle" title="{title} - Click here for product detail.">{title}</a>
    <p>
        {exp:power_truncate length="170" cut_words="y" suffix="..." strip_markup="y" parse="inwards"}
        {service_content limit="1"}{content}{/service_content}
        {/exp:power_truncate}
    </p>

    <p><a href="/services/{exp:cat_trail:get_cat_url cat_id='{embed:top_cat_for_product}'}/{url_title}" class="productTitle" title="{title} - Click here for product detail.">Read More</a></p>
</div>
{/exp:channel:entries}