{embed="Common/header"}


<div id="content" class="std">
    <div class="middle">
        <div id="sideBar">
            <h3>Search Results</h3>
            {embed="Products/_enquiry-form"}
        </div>

        <div id="copy" class="productListing">

            <div class="inner">
                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/products">Search Results</a></li>

                </ul>
                <h1>No Search Results</h1>
                <div class="productBlock">
                    <h2>There were no results found for your search. Please try again.</h2>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>




{embed="Common/footer"}