{embed="Common/header"}


<div id="content" class="std">
    <div class="middle">
        <div id="sideBar">
            <h3>Search Results</h3>
            {embed="Products/_enquiry-form"}
        </div>

        <div id="copy" class="productListing">

            <div class="inner">
                <ul class="breadCrumb">
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/products">Search Results</a></li>

                </ul>
                <h1>Search Results</h1>
                <span class="note">* Please note all prices exclude GST</span>

                <!-- Track this search in GA -->
                <script>
                    ga('send', 'pageview', "/search/results/?q=<?=urlencode('{exp:search:keywords}')?>");
                </script>

                <div class="productBlock">
                    <ul class="listings">
                        {exp:search:search_results switch="resultRowOne|resultRowTwo"}
                        
                        <? 
                        $channelForResultRow = Synergy_Utils::getChannelForEntry("{url_title}", array(1,2,7));
                        $topCatForEntry = Synergy_Utils::getTopCatForEntry("{entry_id}"); 
                        
                        /**
                         * This below chunk here is to regionalise the product search results for Synergy.
                         */
                        $showInThisCountry = true;
                        # Regionalising product search results
                        if ($channelForResultRow == "products") {
                            $country = "{product_country}";
                            if ($country == Synergy_Utils::getSiteCountry() || $country == "All") {
                                $showInThisCountry = true;
                            } else {
                                $showInThisCountry = false;
                            }
                        } 
                        # Regionalising services search results
                        else {
                            $country = "{services_country}";
                            if ($country == Synergy_Utils::getSiteCountry() || $country == "All") {
                                $showInThisCountry = true;
                            } else {
                                $showInThisCountry = false;
                            }
                        }
                        
                        ?>
                        
                        
                        <? if ($channelForResultRow == "products"): ?>
                            <? if($showInThisCountry): ?>
                            <li class="first">
                                {embed="Search/_product_block" entry_id="{entry_id}" top_cat_for_product="<?=$topCatForEntry->cat_id?>"}
                            </li>
                            <? endif; ?>
                        <? else: ?>
                            <? if($showInThisCountry): ?>
                            <li class="first">
                                {embed="Search/_services_block" entry_id="{entry_id}" top_cat_for_product="<?=$topCatForEntry->cat_id?>"}
                            </li>
                            <? endif;?>
                        <? endif; ?>
                        
                    
                    {/exp:search:search_results}
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>




{embed="Common/footer"}