<div id="copy" class="news">

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/case-studies">Case Studies</a></li>
            <li class="current"><a href="/case-studies/{segment_3}">{segment_2_category_name}</a></li>
        </ul>

        <div class="main">
            <h1>Case Studies</h1>
        </div>
    </div>

    <ul class="newsList">
        
        <? if (Synergy_Utils::getSiteCountry() == "NZ"): ?>
        {exp:channel:entries channel="case_studies" limit="6" paginate="bottom" search:study_country="NZ|All" category="{segment_2_category_id}|0"}
        <? else: ?>
        {exp:channel:entries channel="case_studies" limit="6" paginate="bottom" search:study_country="AU|All" category="{segment_2_category_id}|0"}
        <? endif; ?>
        {if no_results}{redirect='common/404'}{/if}
        <li class="{switch='first|second'}">
            <img src="{study_banner_image:case-study-list-thumb}" alt="{title}" />
            <h2>
                <a href="/case-studies/{segment_2}/{url_title}">{title}</a>
            </h2>
            <div class="excerpt">
                {exp:power_truncate length="200" cut_words="n" suffix="..." strip_markup="y"}
                {study_content}
                {/exp:power_truncate}
            </div>
            <a href="/case-studies/{segment_2}/{url_title}" class="readMore">Read More</a>
        </li>

        {paginate}
    </ul>
        <div class="pagination">
            <p>{pagination_links}</p>
        </div>
        {/paginate}
        {/exp:channel:entries}

    <div class="clear"></div>
</div>