<div id="copy" class="newsDetail">
    {exp:channel:entries channel="case_studies" url_title="{segment_3}"}
    {if no_results}{redirect='common/404'}{/if}
    <div class="topPageImageShort">
        <img src="{study_banner_image}" alt="{title}" />
    </div>

    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/case-studies">Case Studies</a></li>
            <li><a href="/case-studies/{segment_2}">{segment_2_category_name}</a></li>
            <li class="current"><a href="/case-studies/{segment_2}/{url_title}">{title}</a></li>
        </ul>

        <div class="main case-studies">
            <div class="content-column">
                <h1>{title}</h1>

                {case_study_content}

                <h2 class="seperator">Gallery</h2>
                <div class="productMedia">
                    <ul id="casestudyImageGallery">
                        {case_study_gallery}
                        <li style="{if total_rows != 1}display:none;"{/if}><a href="javascript:;" title="{caption}"><img src="{image}" alt="{caption}" /></a></li>
                        {/case_study_gallery}
                    </ul>                    
                </div>

                {case_study_content_2}

                <a href="/case-studies" class="readMore">Back to all case studies</a>
            </div>

            <div class="right-sidebar">
                <h2>Project Snapshot</h2>

                {case_study_right_side_bar}

            </div>
        </div>
    </div>

    <div class="additionalBlocks caseStudyBlocks">
        {if case_study_related:total_children}
        <h2>Related Case Studies</h2>
        <ul>
            {case_study_related disable="member_data|pagination"}
            <li class="{switch="||third"}">
                    <img src="{study_banner_image}" alt="{title}" width="260" />
                    <h3><a href="/case-studies/{categories limit="1"}{category_url_title}{/categories}/{url_title}">{title}</a></h3>
                    <p>
                        {exp:power_truncate length="250" cut_words="y" suffix="..." strip_markup="y"}
                        {study_content}
                        {/exp:power_truncate}
                    </p>
                    <a href="/case-studies/{categories limit="1"}{category_url_title}{/categories}/{url_title}" class="readMore">Read More</a>
                </li>
            {/case_study_related}          
        </ul>
        <div class="clear"></div>
        {/if}
    </div>
    {/exp:channel:entries}
</div>