<?
# Due to having to regionalise this we need to handle this with php
$categories = Synergy_Utils::getNonEmptyCaseStudyCategoriesForRegion(3, Synergy_Utils::getSiteCountry()); 
?>
<div id="copy" class="services baseFix">
    <div class="inner">

        <ul class="breadCrumb">
            <li><a href="/">Home</a></li>
            <li class="current"><a href="/case-studies">Case Studies</a></li>
        </ul>

        <div class="main">
            <h1>Case Studies</h1>
        </div>
        <ul class="servicesList">
            
            <? foreach ($categories as $index => $category):?>
            <li class="<?=($index % 2 == 1 ? 'second' : '')?>">
                <img src="<?=Synergy_Utils::parseFileField($category->cat_image)?>" alt="<?=$category->cat_name?>" width="394" />
                <h2>
                    <a href="/case-studies/<?=$category->cat_url_title?>"><?=$category->cat_name?></a>
                </h2>
                <div class="excerpt">
                    <p>
                        <?=substr($category->cat_description, 0, 260)?>
                    </p>
                </div>
                <a href="/case-studies/<?=$category->cat_url_title?>" class="readMore">Read More</a>
            </li>
            <? endforeach; ?>
        </ul>

    </div>
</div>