<? 
# Due to having to regionalise this we need to handle this with php
$categories = Synergy_Utils::getNonEmptyCaseStudyCategoriesForRegion(3, Synergy_Utils::getSiteCountry()); 
$segments = explode("/", $_SERVER["REQUEST_URI"]);
?>
{embed="Common/header"}
<div id="content" class="std">
    <div class="middle">
        <div id="sideBar">
            <h3>About Us</h3>
            <ul id="sideMenu">
                {exp:channel:entries channel="about_us" url_title="not about-us" dynamic="no"}
                <li><a href="/about-us/{url_title}">{title}</a> </li>
                {/exp:channel:entries}
                <li class="current"><a href="/case-studies">Case Studies</a>
                    <ul class="subMenu">
                        <? foreach ($categories as $category): ?>
                        <li class="{if '{segment_2}' == '<?=$category->cat_url_title?>'}current{/if}">
                            <a href="/case-studies/<?=$category->cat_url_title?>">
                                <?=$category->cat_name?>
                            </a>
                        </li>
                        <? endforeach; ?>
                    </ul>
                </li>
            </ul>
        </div>
        
        {exp:switchee variable="{segment_2}"}

            {case value="''"}
                {embed="Case-studies/category-list"}
            {/case}

            {case default="Yes"}
                
                {switchee variable="{segment_3}"}

                    {case value="''|#^P(\d+)$#"}
                        {embed="Case-studies/article-list"}
                    {/case}

                    {case default="Yes"}
                        {embed="Case-studies/article"}
                    {/case}

                {/switchee}

            {/case}

        {/exp:switchee}

        
        <div class="clear"></div>
    </div>
</div>
        
{embed="Common/footer"}